<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>CRM首页</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/init.css}"/>

    <!-- Javascript -->
    <script th:src="@{/static/init.js}"></script>


    <style>
        .form-group {
            margin-bottom: 0px;
        }
    </style>
</head>

<body class="no-skin">

<div class="main-container ace-save-state" id="main-container">

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">主页</a>
                    </li>

                    <li>
                        <a href="#">系统管理</a>
                    </li>
                    <li class="active">城市管理</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">

                <div class="row">
                    <div class="col-xs-12">

                        <table id="grid-table"></table>

                        <div id="grid-pager"></div>

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

</div><!-- /.main-container -->
</body>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";


    $(function () {
        //重新修改表格宽度
        $(window).resize(function () {
            $("#grid-table").setGridWidth($(window).width() * 0.96);
        });
    });

    var parent_column = $(grid_selector).closest('[class*="col-"]');
    jQuery(function ($) {

        //resize to fit page size
        $(window).on('resize.jqGrid', function () {
            $(grid_selector).jqGrid('setGridWidth', parent_column.width());
        })

        jQuery(grid_selector).jqGrid({
            //direction: "rtl",
            //subgrid options
            subGrid: true,
            url: "/api/syscity/getlist",// 获取数据的地址
            datatype: "json",
            mtype: "GET",
            hidegrid: false,//收缩列表按钮
            prmNames: {
                page: "pageNum",
                rows: "pageSize"
            },// 重新定义分页信息
            subGridOptions: {
                plusicon: "ace-icon fa fa-plus center bigger-110 blue",
                minusicon: "ace-icon fa fa-minus center bigger-110 blue",
                openicon: "ace-icon fa fa-chevron-right center orange"
            },
            //for this example we are using local data
            subGridRowExpanded: function (subgridDivId, rowId) {
                var rowData = $(this).getRowData(rowId);
                var cityCode = rowData['cityCode'];
                var subgridTableId = subgridDivId + "_t";
                $("#" + subgridDivId).html("<table id='" + subgridTableId + "'></table>");
                $("#" + subgridTableId).jqGrid({
                    url: "/api/syscity/getlist?parentCode=" + cityCode,// 获取数据的地址
                    datatype: "json",
                    mtype: "GET",
                    width: "100%",
                    autowidth: true,
                    colNames: ['', '城市名称', '城市编码', '状态', '操作'],
                    colModel: [
                        {name: 'id', index: 'id', editable: false, hidden: true},
                        {name: 'cityName', index: 'cityName', editable: false},
                        {name: 'cityCode', index: 'cityCode', editable: false},
                        {name: 'status', index: 'status', editable: false, width: 30, formatter: statusFormatter},
                        {name: '_action', index: '_action', width: 50, formatter: customFormatter}
                    ],
                    rowNum: 30,
                    prmNames: {
                        page: "pageNum",
                        rows: "pageSize"
                    },// 重新定义分页信息
                    jsonReader: { // jsonReader来跟服务器端返回的数据做对应
                        root: "data", // 包含实际数据的数组
                        page: "paging.currPage", // 当前页
                        total: "paging.totalPage",// 总页数
                        records: "paging.total", // 查询出的记录数
                        repeatitems: false
                    },
                });
            },
            width: "100%",
            autowidth: true,
            height: 350,
            colNames: ['', '城市名称', '城市编码', '状态', '操作'],
            colModel: [
                {name: 'id', index: 'id', editable: false, hidden: true},
                {name: 'cityName', index: 'cityName', editable: false},
                {name: 'cityCode', index: 'cityCode', editable: false},
                {name: 'status', index: 'status', editable: false, width: 30, formatter: statusFormatter},
                {name: '_action', index: '_action', width: 50, formatter: customFormatter}
            ],
            viewrecords: true,
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: pager_selector,
            altRows: true,
            jsonReader: { // jsonReader来跟服务器端返回的数据做对应
                root: "data", // 包含实际数据的数组
                page: "paging.currPage", // 当前页
                total: "paging.totalPage",// 总页数
                records: "paging.total", // 查询出的记录数
                repeatitems: false
            },

            loadComplete: function (data) {
                var table = this;
                setTimeout(function () {
                    updatePagerIcons(table);//美化【首页，下一页，上一页，末页】
                }, 0);
            },
            caption: "城市管理",
        });
        $(window).triggerHandler('resize.jqGrid');//trigger window resize to make the grid get the correct size

    });

    function customFormatter(cellvalue, options, rowObject) {
        var str = "";
        if (rowObject.status == 0) {
            str += getFunctionButton("btn-success", "open(" + rowObject.cityCode + ")", "开通");
        } else {
            str += getFunctionButton("btn-danger", "close(" + rowObject.cityCode + ")", "关闭");
        }
        return str;
    }

    function statusFormatter(cellvalue, options, rowObject) {
        return rowObject.status == 1 ? "开通" : "未开通";
    }

    function open(cityCode) {
        openOrClose(true, cityCode)
    }

    function close(cityCode) {
        openOrClose(false, cityCode)
    }

    function openOrClose(isOpen, cityCode) {

        var url = "../api/syscity/";
        url += isOpen ? "open" : "close";
        $.ajax({
            url: url,    //请求的url地址
            dataType: "json",
            async: true,
            data: {
                cityCode: cityCode
            },
            type: "POST",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    bootboxalert("操作成功");
                    jQuery(grid_selector).setGridParam({}).trigger("reloadGrid");
                }
            },
            error: error
        });
    }
</script>
</html>
