<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>CRM首页</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/init.css}"/>

    <!-- Javascript -->
    <script th:src="@{/static/init.js}"></script>


    <style>
        .form-group {
            margin-bottom: 0px;
        }
    </style>
</head>

<body class="no-skin">

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/main/main_center}">主页</a>
                    </li>
                    <li>
                        <a href="#">充值卡</a>
                    </li>
                    <li class="active">充值卡兑换码批次管理</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12" style="padding-top:40px">
                        <form id="batchSearchForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right">所属项目：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <input id="searchProjectId" name="projectId" class="form-control" type="text"
                                               style="height:30px"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label no-padding-right">批次名称：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <input id="searchName" name="name" class="form-control" type="text"
                                               style="height:30px"/>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-white btn-default btn-round btn-sm"
                                            onclick="return search()">
                                        <i class="ace-icon fa fa-search red2"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.col -->
                    <div class="col-xs-12" style="text-align: right" id="buttonDiv">
                        <p style="margin:1px;">
                            <!--<shiro:hasPermission name="sysrole:add">-->
                            <a class="btn btn-success btn-round btn-sm" role="button" href="#modal-form"
                               data-toggle="modal" onclick="openNew()">
                                <i class="ace-icon fa fa-plus"></i>新建
                            </a>
                            <!--</shiro:hasPermission>-->
                        </p>
                    </div><!-- /.col -->
                    <div class="col-xs-12">
                        <table id="grid-table"></table>

                        <div id="grid-pager"></div>
                    </div><!-- /.col -->
                    <div id="modal-form" class="modal fade" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="blue bigger" id="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-1"></div>
                                        <div class="col-xs-12 col-sm-9">
                                            <form id="batchSaveForm" class="form-horizontal" role="form">
                                                <input type="hidden" name="id" id="batchId">
                                                <input type="hidden" name="productIds" id="saveProductIds">
                                                <input type="hidden" name="cityCodes" id="saveCityCodes">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">批次名称：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="saveName" name="name" class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">充值卡名称：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="saveRechargeCardName" name="rechargeCardName"
                                                                   class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">所属项目：</label>
                                                    <div class="col-sm-8">
                                                        <select id="saveProjectId" name="projectId"
                                                                class="selectpicker show-tick form-control">

                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">虚拟批次：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <label class="radio-inline ">
                                                                <input id="saveNotVirtualRadio" type="radio"
                                                                       name="isVirtual"
                                                                       value="0" checked="checked"/>否
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input id="saveIsVirtualRadio" type="radio"
                                                                       name="isVirtual"
                                                                       value="1"/>是
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2 saveIsVirtual"></div>
                                                <div class="form-group saveIsVirtual">
                                                    <label class="col-sm-4 control-label no-padding-right">面额：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="saveFaceValue" name="faceValue"
                                                                   class="form-control" type="text"
                                                                   style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2 saveIsVirtual"></div>
                                                <div class="form-group saveIsVirtual">
                                                    <label class="col-sm-4 control-label no-padding-right">数量：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="saveAmount" name="amount"
                                                                   class="form-control" type="text"
                                                                   style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right"
                                                           for="saveExpiryTime">到期时间：</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <input class="form-control date-picker" id="saveExpiryTime"
                                                                   name="expiryTime" type="text"/>
                                                            <span class="input-group-addon">
                                                                    <i class="fa fa-calendar bigger-110"></i>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">充值卡过期类型：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <label class="radio-inline ">
                                                                <input id="saveDeadLineRadio" type="radio"
                                                                       name="expiryType"
                                                                       value="0" checked="checked"/>指定截止日期
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input id="saveValidityPeriodRadio" type="radio"
                                                                       name="expiryType"
                                                                       value="1"/>兑换之日起算
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2 saveDeadLine"></div>
                                                <div class="form-group saveDeadLine">
                                                    <label class="col-sm-4 control-label no-padding-right"
                                                           for="saveRechargeCardExpiryTime">充值卡到期时间：</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <input class="form-control date-picker"
                                                                   id="saveRechargeCardExpiryTime"
                                                                   name="rechargeCardExpiryTime" type="text"/>
                                                            <span class="input-group-addon">
                                                                    <i class="fa fa-calendar bigger-110"></i>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2 saveValidityPeriod" style="display:none;"></div>
                                                <div class="form-group saveValidityPeriod" style="display:none;">
                                                    <label class="col-sm-4 control-label no-padding-right">兑换之日有效天数：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="saveValidityPeriod" name="validityPeriod"
                                                                   class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right"
                                                           for="saveDescription">描述信息：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="saveDescription" name="description"
                                                                   class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-sm modal-footer-btn" data-dismiss="modal">
                                        <i class="ace-icon fa fa-times"></i>
                                        取消
                                    </button>

                                    <button class="btn btn-sm btn-primary modal-footer-btn" onclick="save()">
                                        <i class="ace-icon fa fa-check"></i>
                                        保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <!--<div class="footer">
        <div class="footer-inner">
            <div class="footer-content" style="padding: 0px;">
						<span class="bigger-120">
							<span class="blue bolder"></span>
							悠享后台管理系统 &copy; 2018
						</span>
                &nbsp; &nbsp;
            </div>
        </div>
    </div>-->
</div><!-- /.main-container -->
</div>
</body>
<script type="text/javascript">
    var permission = getCookie("permission");
    $(function () {
        //重新修改表格宽度
        $(window).resize(function () {
            $("#grid-table").setGridWidth($(window).width() * 0.96);
        });

        //将项目列表填入到projectId中

        $('.date-picker').datepicker({
            language: 'zh-CN',//选择语言
            autoclose: true,
            todayHighlight: true
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        $("input[name=isVirtual]").bind("change", function () {
            if ($("input[name=isVirtual]:checked").val() == 1) {
                $(".saveIsVirtual").css("display", "none");
            } else {
                $(".saveIsVirtual").css("display", "");
            }
        });

        $("input[name=expiryType]").bind("change", function () {
            if ($("input[name=expiryType]:checked").val() == 0) {
                $(".saveDeadLine").css("display", "");
                $(".saveValidityPeriod").css("display", "none");
            } else {
                $(".saveDeadLine").css("display", "none");
                $(".saveValidityPeriod").css("display", "");
            }
        });

    });

    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";
    jQuery(grid_selector).jqGrid({
        subGrid: false, // 此处设置为true时可以打开子项,子项用不到已删除
        url: "../api/rcexchangecodebatch/listpage",// 获取数据的地址
        postData: transformToJson($('#batchSearchForm').serializeArray()),
        rownumbers: true,
        datatype: "json",
        mtype: "GET",
        hidegrid: false,//收缩列表按钮
        prmNames: {
            page: "pageNum",
            rows: "pageSize"
        },// 重新定义分页信息
        /*width: "100%",*/
        autowidth: true,
        shrinkToFit: true,
        height: 350,
        colNames: ['', '批次名称', '充值卡名称', '是否是虚拟批次', '状态', '面额', '数量', '过期时间', '操作'],
        colModel: [
            {name: 'id', index: 'id', sortable: false, hidden: true},
            {name: 'name', index: 'name', width: 100, sortable: false},
            {name: 'rechargeCardName', index: 'rechargeCardName', width: 50, sortable: false},
            {
                name: 'isVirtual',
                index: 'isVirtual',
                width: 50,
                sortable: false,
                formatter: function (cellvalue, options, rowObject) {
                    return rowObject.isVirtual == 1 ? "是" : "否";
                }
            },
            {
                name: 'status',
                index: 'status',
                width: 30,
                sortable: false,
                formatter: function (cellvalue, options, rowObject) {
                    return rowObject.status == 1 ? "启用" : "停用";
                }
            },
            {
                name: 'faceValue',
                index: 'faceValue',
                width:30,
                sortable: false,
                formatter: function (cellvalue, options, rowObject) {
                    return rowObject.isVirtual == 1 ? "--" : rowObject.faceValue;
                }
            },
            {name: 'amount', index: 'amount', width:30,sortable: false},
            {name: 'expiryTime', index: 'expiryTime', width:50,sortable: false, formatter: dateFormatter},
            {name: '_action', index: '_action', width:100,sortable: false, formatter: customFormatter}
        ],
        rowNum: 10,
        rowList: [10, 20, 30],
        pager: pager_selector,
        altRows: true,
        viewrecords: true,
        emptyrecords: "0条数据",
        loadComplete: function (data) {
            data.currPage = data.paging.offset / data.paging.limit;
            data.totalPage = data.paging.total / data.paging.limit;
            data.totalCount = data.paging.total;
            var table = this;
            setTimeout(function () {
                $("#jqgh_grid-table_rn").empty().append("序号");//第一列加上列名
                updatePagerIcons(table);//美化【首页，下一页，上一页，末页】
            }, 0);
        },
        jsonReader: { // jsonReader来跟服务器端返回的数据做对应
            root: "data", // 包含实际数据的数组
            page: "currPage", // 当前页
            total: "totalPage",// 总页数
            records: "totalCount", // 查询出的记录数
            repeatitems: false
        },
        caption: "批次列表"
    });
    $(window).triggerHandler('resize.jqGrid');//trigger window resize to make the grid get the correct size

    //replace icons with FontAwesome icons like above
    function updatePagerIcons(table) {
        var replacement =
            {
                'ui-icon-seek-first': 'ace-icon fa fa-angle-double-left bigger-140',
                'ui-icon-seek-prev': 'ace-icon fa fa-angle-left bigger-140',
                'ui-icon-seek-next': 'ace-icon fa fa-angle-right bigger-140',
                'ui-icon-seek-end': 'ace-icon fa fa-angle-double-right bigger-140'
            };
        $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
            var icon = $(this);
            var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
            if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
        })
    }

    function search() {
        jQuery(grid_selector).setGridParam({
            url: "../api/rcexchangecodebatch/listpage",// 获取数据的地址
            postData: transformToJson($('#batchSearchForm').serializeArray()),
        }).trigger("reloadGrid", [{page: 1}]);
    }


    function customFormatter(cellvalue, options, rowObject) {
        var str = "";
        str = str + "<a class='btn btn-minier btn-info' href=\"javascript:openEdit('" + rowObject.id + "')\">" +
            "<i class='ace-icon'>修改</i>" +
            "</a>&nbsp;&nbsp;";
        if (rowObject.status == 0) {
            str = str + "<a class='btn btn-minier btn-success' href=\"javascript:startUsing('" + rowObject.id + "')\">" +
                "<i class='ace-icon'>启用</i>" +
                "</a>&nbsp;&nbsp;";
        } else {
            str = str + "<a class='btn btn-minier btn-danger' href=\"javascript:stopUsing('" + rowObject.id + "')\">" +
                "<i class='ace-icon'>停用</i>" +
                "</a>&nbsp;&nbsp;";
        }
        if (rowObject.isVirtual == 0) {
            str = str + "<a class='btn btn-minier btn-danger' href=\"javascript:generateCode('" + rowObject.id + "')\">" +
                "<i class='ace-icon'>生成兑换码</i>" +
                "</a>&nbsp;&nbsp;";
        }
        return str;
    }

    function dateFormatter(cellvalue, options, rowObject) {
        return dateFormat(rowObject.expiryTime);
    }

    function openNew() {
        $("#modal-title").html("批次信息-添加");
        $("input[name=isVirtual]").removeAttr('disabled');
        $("#batchSaveForm #saveFaceValue").removeAttr('disabled');
        $("#batchSaveForm #saveAmount").removeAttr('disabled');
        $("#batchId").val(0);
        $("#batchSaveForm #saveName").val("");
        $("#batchSaveForm #saveRechargeCardName").val("");
        $("#batchSaveForm #saveNotVirtualRadio").click();
        $("#batchSaveForm #saveFaceValue").val("");
        $("#batchSaveForm #saveAmount").val("");
        $("#batchSaveForm #saveExpiryTime").val("");
        $("#batchSaveForm #saveDeadLineRadio").click();
        $("#batchSaveForm #saveRechargeCardExpiryTime").val("");
        $("#batchSaveForm #saveValidityPeriod").val("");
        $("#batchSaveForm #saveDescription").val("");
    }

    function openEdit(id) {
        $("#modal-title").html("批次信息-修改");
        $("input[name=isVirtual]").removeAttr('disabled');
        $("#batchSaveForm #saveFaceValue").removeAttr('disabled');
        $("#batchSaveForm #saveAmount").removeAttr('disabled');
        huixian(id);
    }

    function save() {
        $.ajax({
            url: "../api/rcexchangecodebatch/save",
            dataType: "json",
            async: false,
            data: transformToJson($('#batchSaveForm').serializeArray()),
            type: "POST",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    $("#modal-form").modal('hide');
                    jQuery(grid_selector).setGridParam({}).trigger("reloadGrid");
                }
            },
            error: function () {
                bootboxalert("服务器异常，请联系管理员");
            }
        });
    }

    function huixian(id) {
        $.ajax({
            url: "../api/rcexchangecodebatch/getbyid",
            dataType: "json",
            async: false,
            data: {
                id: id
            },
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    $("#batchId").val(result.id);
                    $("#batchSaveForm #saveName").val(result.name);
                    $("#batchSaveForm #saveRechargeCardName").val(result.rechargeCardName);
                    if (result.isVirtual == 0) {
                        $("#batchSaveForm #saveNotVirtualRadio").click();
                        $("#batchSaveForm #saveFaceValue").val(result.faceValue);
                        $("#batchSaveForm #saveAmount").val(result.amount);
                        if (result.hasCode == 1) {
                            $("#batchSaveForm #saveFaceValue").attr("disabled", "disabled");
                            $("#batchSaveForm #saveAmount").attr("disabled", "disabled");
                        } else {
                            $("#batchSaveForm #saveFaceValue").removeAttr('disabled');
                            $("#batchSaveForm #saveAmount").removeAttr('disabled');
                        }
                    } else {
                        $("#batchSaveForm #saveIsVirtualRadio").click();
                    }
                    $("#batchSaveForm #saveExpiryTime").val(dateFormat(result.expiryTime));
                    if (result.expiryType == 0) {
                        $("#batchSaveForm #saveDeadLineRadio").click();
                        $("#batchSaveForm #saveRechargeCardExpiryTime").val(dateFormat(result.rechargeCardExpiryTime));
                    } else {
                        $("#batchSaveForm #saveValidityPeriodRadio").click();
                        $("#batchSaveForm #saveValidityPeriod").val(result.validityPeriod);
                    }
                    $("#batchSaveForm #saveDescription").val(result.description);
                    $("input[name=isVirtual]").attr('disabled', 'disabled');
                    $("#modal-form").modal('show');
                }
            },
            error: function () {
                bootboxalert("服务器异常，请联系管理员");
            }
        });
    }

    //生成兑换码
    function generateCode(id) {
        $.ajax({
            url: "../api/rcexchangecodebatch/generatecode",
            dataType: "json",
            async: false,
            data: {
                id: id
            },
            type: "POST",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    bootboxalert("生成兑换码成功");
                }
            },
            error: function () {
                bootboxalert("服务器异常，请联系管理员");
            }
        });
    }

    //启用批次
    function startUsing(id) {
        $.ajax({
            url: "../api/rcexchangecodebatch/startusing",
            dataType: "json",
            async: false,
            data: {
                id: id
            },
            type: "POST",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    bootboxalert("启用批次成功");
                    jQuery(grid_selector).setGridParam({}).trigger("reloadGrid");
                }
            },
            error: function () {
                bootboxalert("服务器异常，请联系管理员");
            }
        });
    }

    //停用批次
    function stopUsing(id) {
        $.ajax({
            url: "../api/rcexchangecodebatch/stopusing",    //请求的url地址
            dataType: "json",
            async: false,
            data: {
                id: id
            },
            type: "POST",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    bootboxalert("停用批次成功");
                    jQuery(grid_selector).setGridParam({}).trigger("reloadGrid");
                }
            },
            error: function () {
                bootboxalert("服务器异常，请联系管理员");
            }
        });
    }

</script>
</html>

