<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/init.css}"/>
    <!-- Javascript -->
    <script th:src="@{/static/init.js}"></script>
</head>

<body class="no-skin">
<div class="main-container ace-save-state" id="main-container">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/main/main_center}">主页</a>
                    </li>
                    <li class="active">代金券兑换码批次管理</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12" style="padding-top:40px">
                        <form id="batchSearchForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right">所属项目：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <select id="searchProjectId" name="projectId" class="form-control" type="text"
                                                style="height:30px">
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label no-padding-right">批次名称：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <input id="searchName" name="name" class="form-control" type="text"
                                               style="height:30px"/>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-white btn-default btn-round btn-sm"
                                            onclick="return search()">
                                        <i class="ace-icon fa fa-search red2"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.col -->
                    <div class="col-xs-12" style="text-align: right" id="buttonDiv">
                        <p style="margin:1px;">
                            <!--<shiro:hasPermission name="sysrole:add">-->
                            <a class="btn btn-success btn-round btn-sm" role="button" href="#modal-form"
                               data-toggle="modal" onclick="openNew()">
                                <i class="ace-icon fa fa-plus"></i>新建
                            </a>
                            <!--</shiro:hasPermission>-->
                        </p>
                    </div><!-- /.col -->
                    <div class="col-xs-12">
                        <table id="grid-table"></table>

                        <div id="grid-pager"></div>
                    </div><!-- /.col -->
                    <div id="modal-form" class="modal fade" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="blue bigger" id="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-1"></div>
                                        <div class="col-xs-12 col-sm-9">
                                            <form id="batchSaveForm" class="form-horizontal" role="form">
                                                <input type="hidden" name="id" id="batchId">
                                                <input type="hidden" name="productIds" id="saveProductIds">
                                                <input type="hidden" name="cityCodes" id="saveCityCodes">
                                                <input type="hidden" name="expiryType" id="saveExpiryType" value=0>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">批次名称：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="saveName" name="name" class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">代金券名称：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="saveVoucherName" name="voucherName"
                                                                   class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">所属项目：</label>
                                                    <div class="col-sm-8">
                                                        <select id="saveProjectId" name="projectId"
                                                                class="selectpicker show-tick form-control">
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">适用范围：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input class="form-control" onclick="showChooseModal();"
                                                                   type="text" value="点击选择适用范围" style="height:30px"
                                                                   readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group saveIsVirtual">
                                                    <label class="col-sm-4 control-label no-padding-right">兑换商品数量：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="saveCount" name="count"
                                                                   class="form-control" type="text"
                                                                   style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2 saveIsVirtual"></div>
                                                <div class="form-group saveIsVirtual">
                                                    <label class="col-sm-4 control-label no-padding-right">数量：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="saveAmount" name="amount"
                                                                   class="form-control" type="text"
                                                                   style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right"
                                                           for="saveExpiryTime">过期时间：</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <input class="form-control date-picker" id="saveExpiryTime"
                                                                   name="expiryTime" type="text"/>
                                                            <span class="input-group-addon">
                                                                        <i class="fa fa-calendar bigger-110"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">代金券过期类型：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <label class="radio-inline ">
                                                                <input id="saveDeadLineRadio" type="radio"
                                                                       name="expiryTypeRadio"
                                                                       value="0" checked="checked"/>指定截止日期
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input id="saveValidityPeriodRadio" type="radio"
                                                                       name="expiryTypeRadio"
                                                                       value="1"/>兑换之日起算
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2 saveDeadLine"></div>
                                                <div class="form-group saveDeadLine">
                                                    <label class="col-sm-4 control-label no-padding-right"
                                                           for="saveVoucherExpiryTime">代金券过期时间：</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <input class="form-control date-picker"
                                                                   id="saveVoucherExpiryTime"
                                                                   name="voucherExpiryTime" type="text"/>
                                                            <span class="input-group-addon">
                                                                        <i class="fa fa-calendar bigger-110"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2 saveValidityPeriod" style="display:none;"></div>
                                                <div class="form-group saveValidityPeriod" style="display:none;">
                                                    <label class="col-sm-4 control-label no-padding-right">兑换之日有效天数：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="saveValidityPeriod" name="validityPeriod"
                                                                   class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right"
                                                           for="saveDescription">描述信息：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="saveDescription" name="description"
                                                                   class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-sm modal-footer-btn" data-dismiss="modal">
                                        <i class="ace-icon fa fa-times"></i>
                                        取消
                                    </button>

                                    <button class="btn btn-sm btn-primary modal-footer-btn" onclick="save()">
                                        <i class="ace-icon fa fa-check"></i>
                                        保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <!--<div class="footer">
        <div class="footer-inner">
            <div class="footer-content" style="padding: 0px;">
                        <span class="bigger-120">
                            <span class="blue bolder"></span>
                            悠享后台管理系统 &copy; 2018
                        </span>
                &nbsp; &nbsp;
            </div>
        </div>
    </div>-->
</div><!-- /.main-container -->
<div id="selectCityAndProduct"></div>
</body>
<script type="text/javascript">
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";
    var permission = getCookie("permission");
    $(function () {
        //重新修改表格宽度
        $(window).resize(function () {
            $("#grid-table").setGridWidth($(window).width() * 0.96);
        });
        $('#selectCityAndProduct').load('../pageimport/selectcityandproduct');
        //将项目列表填入到projectId中
        $.ajax({
            url: "../api/project/getlist",
            dataType: "json",
            async: false,
            data: {
                pageSize: 10000,
                pageNum: 1
            },
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    $("#searchProjectId").append("<option value=>&nbsp;</option>");
                    $("#saveProjectId").append("<option value=>&nbsp;</option>");
                    for (var i = 0; i < result.length; i++) {
                        $("#searchProjectId").append("<option value=" + result[i].id + ">" + result[i].name + "</option>");
                        if (result[i].status == 1) {
                            $("#saveProjectId").append("<option value=" + result[i].id + ">" + result[i].name + "</option>");
                        }
                    }
                }
            },
            error: function () {
                bootboxalert("服务器异常，请联系管理员");
            }
        });

        initDatePicker();

        $("input[name=expiryTypeRadio]").bind("change", function () {
            if ($("input[name=expiryTypeRadio]:checked").val() == 0) {
                $(".saveDeadLine").css("display", "");
                $(".saveValidityPeriod").css("display", "none");
                $("#saveExpiryType").val(0);
            } else {
                $(".saveDeadLine").css("display", "none");
                $(".saveValidityPeriod").css("display", "");
                $("#saveExpiryType").val(1);
            }
        });

        var tableOption = {
            url: "../api/voucherexchangecodebatch/listpage",
            postData: transformToJson($('#batchSearchForm').serializeArray()),
            colNames: ['', '批次名称', '代金券名称', '状态', '可兑换商品数量', '数量', '过期时间', '操作'],
            colModel: [
                {name: 'id', index: 'id', sortable: false, hidden: true},
                {name: 'name', index: 'name', width: 100, sortable: false},
                {name: 'voucherName', index: 'voucherName', width: 50, sortable: false},
                {
                    name: 'status',
                    index: 'status',
                    width: 30,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var text = rowObject.status == 1 ? "启用" : "停用";
                        var color = rowObject.status == 1 ? "00FF00" : "0000FF";
                        return generateSpan(text, color);
                    }
                },
                {name: 'count', index: 'count', width: 50, sortable: false},
                {name: 'amount', index: 'amount', width: 30, sortable: false},
                {
                    name: 'expiryTime',
                    index: 'expiryTime',
                    width: 50,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return dateFormat(rowObject.expiryTime);
                    }
                },
                {name: '_action', index: '_action', width: 100, sortable: false, formatter: customFormatter}
            ],
            caption: "批次列表"
        };
        initTable(grid_selector, pager_selector, tableOption);
    });

    function search() {
        jQuery(grid_selector).setGridParam({
            url: "../api/voucherexchangecodebatch/listpage",
            postData: transformToJson($('#batchSearchForm').serializeArray()),
        }).trigger("reloadGrid", [{page: 1}]);
        return false;
    }

    function customFormatter(cellvalue, options, rowObject) {
        var str = "";
        str += getFunctionButton("btn-info", "openEdit(" + rowObject.id + ")", "修改");
        if (rowObject.status == 0) {
            str += getFunctionButton("btn-success", "startUsing(" + rowObject.id + ")", "启用");
        } else {
            str += getFunctionButton("btn-danger", "stopUsing(" + rowObject.id + ")", "停用");
        }
        if (rowObject.isMade == 1) {
            str += getRedirectButton("btn-primary", "../voucher/exchangecodeindex?batchId=" + rowObject.id + "&&batchName=" + rowObject.name, "兑换码管理");
            str += getFunctionButton("btn-yellow", "exportExcel(" + rowObject.id + ")", "导出");
        } else {
            str += getFunctionButton("btn-danger", "generateCode(" + rowObject.id + ")", "生成兑换码");
        }
        return str;
    }

    function openNew() {
        $("#modal-title").html("批次信息-添加");
        $("#batchSaveForm #saveCount").removeAttr('readonly');
        $("#batchSaveForm #saveAmount").removeAttr('readonly');
        $("#batchId").val(0);
        $("#batchSaveForm #saveName").val("");
        $("#batchSaveForm #saveVoucherName").val("");
        $("#batchSaveForm #saveProjectId").prop('selectedIndex', 0);
        $("#batchSaveForm #saveCityCodes").val("");
        $("#batchSaveForm #saveProductIds").val("");
        $("#batchSaveForm #saveCount").val("");
        $("#batchSaveForm #saveAmount").val("");
        $("#batchSaveForm #saveExpiryTime").val("");
        $("#batchSaveForm #saveDeadLineRadio").click();
        $("#batchSaveForm #saveVoucherExpiryTime").val("");
        $("#batchSaveForm #saveValidityPeriod").val("");
        $("#batchSaveForm #saveDescription").val("");
    }

    function openEdit(id) {
        $("#modal-title").html("批次信息-修改");
        $("#batchSaveForm #saveCount").removeAttr('readonly');
        $("#batchSaveForm #saveAmount").removeAttr('readonly');
        huixian(id);
    }

    function save() {
        if(!isNumber($("#saveCount").val())){
            bootboxalert("兑换商品数量非法");
            return false;
        }
        if (!isInteger($("#saveAmount").val())) {
            bootboxalert("数量非法");
            return false;
        }
        $.ajax({
            url: "../api/voucherexchangecodebatch/save",
            dataType: "json",
            async: false,
            data: transformToJson($('#batchSaveForm').serializeArray()),
            type: "POST",
            success: success,
            error: error
        });
    }

    function huixian(id) {
        $.ajax({
            url: "../api/voucherexchangecodebatch/getbyid",
            dataType: "json",
            async: false,
            data: {
                id: id
            },
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    $("#batchId").val(result.id);
                    $("#batchSaveForm #saveName").val(result.name);
                    $("#batchSaveForm #saveVoucherName").val(result.voucherName);
                    $("#batchSaveForm #saveProjectId").val(result.projectId);
                    $("#batchSaveForm #saveCityCodes").val(result.cityCodes);
                    $("#batchSaveForm #saveProductIds").val(result.productIds);
                    $("#batchSaveForm #saveCount").val(result.count);
                    $("#batchSaveForm #saveAmount").val(result.amount);
                    if (result.isMade == 1) {
                        $("#batchSaveForm #saveCount").attr("readonly", "readonly");
                        $("#batchSaveForm #saveAmount").attr("readonly", "readonly");
                    } else {
                        $("#batchSaveForm #saveCount").removeAttr('readonly');
                        $("#batchSaveForm #saveAmount").removeAttr('readonly');
                    }

                    $("#batchSaveForm #saveExpiryTime").val(dateFormat(result.expiryTime));
                    if (result.expiryType == 0) {
                        $("#batchSaveForm #saveDeadLineRadio").click();
                    } else {
                        $("#batchSaveForm #saveValidityPeriodRadio").click();
                    }
                    $("#batchSaveForm #saveValidityPeriod").val(result.validityPeriod);
                    $("#batchSaveForm #saveVoucherExpiryTime").val(dateFormat(result.voucherExpiryTime));
                    $("#batchSaveForm #saveDescription").val(result.description);
                    $("#modal-form").modal('show');
                }
            },
            error: error
        });
    }

    //生成兑换码
    function generateCode(id) {
        $.ajax({
            url: "../api/voucherexchangecodebatch/generatecode",
            dataType: "json",
            async: false,
            data: {
                id: id
            },
            type: "POST",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    jQuery(grid_selector).setGridParam({}).trigger("reloadGrid");
                    bootboxalert("生成兑换码成功");
                }
            },
            error: error
        });
    }

    //导出为excel
    function exportExcel(id) {
        $.ajax({
            url: "../api/voucherexchangecodebatch/exportcheck",
            dataType: "json",
            async: false,
            data: {
                id: id
            },
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    window.location.href = "../api/voucherexchangecodebatch/export?id=" + id;
                }
            },
            error: error
        });
    }

    //启用批次
    function startUsing(id) {
        confirm("是否要启用该批次？", function (result) {
            if (result) {
                $.ajax({
                    url: "../api/voucherexchangecodebatch/startusing",
                    dataType: "json",
                    async: false,
                    data: {
                        id: id
                    },
                    type: "POST",
                    success: success,
                    error: error
                });
            }
        })
    }

    //停用批次
    function stopUsing(id) {
        confirm("是否要停用该批次？", function (result) {
            if (result) {
                $.ajax({
                    url: "../api/voucherexchangecodebatch/stopusing",
                    dataType: "json",
                    async: false,
                    data: {
                        id: id
                    },
                    type: "POST",
                    success: success,
                    error: error
                });
            }
        })
    }
</script>
</html>

