<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/init.css}"/>
    <!-- Javascript -->
    <script th:src="@{/static/init.js}"></script>
    <script th:src="@{/static/ace-master/js/bootstrap-tag.min.js}"></script>

    <style>
        .ui-jqgrid .ui-jqgrid-bdiv {
            overflow-x: auto;
        }

        ::-webkit-scrollbar {
            width: 4px;
            height: 10px;
        }

        .float {
            overflow: hidden;
        }

        .item {
            float: left;
            height: 100px;
            width: 31%;
            border-right: 3px solid #fff;
            border-top: 3px solid #fff;
        }

        /*特殊标签宽度*/
        .tags {
            width: 272px;
        }

        /*隐藏×*/
        span button {
            display: none;
        }

        /*隐藏*/
        #pointCodes + input {
            display: none;
        }

    </style>
</head>

<body class="no-skin">
<div class="main-container ace-save-state" id="main-container">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/main/main_center}">主页</a>
                    </li>
                    <li class="active">充值管理</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-block alert-success" style="margin-bottom:0px;">
                            <button type="button" class="close" data-dismiss="alert">
                                <i class="ace-icon fa fa-times"></i>
                            </button>
                            充值记录列表中，<a class='btn btn-minier btn-danger' disabled="disabled">凭证管理</a>&nbsp;表示凭证明细未完成录入，
                            <a class='btn btn-minier btn-default' disabled="disabled">凭证管理</a>&nbsp;表示凭证明细完成录入。
                        </div>
                    </div>

                    <div class="col-xs-12" style="padding-top:40px">
                        <form id="auditRecordSearchForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right">客户信息：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <input id="searchCustomerInfo" name="customerInfo" class="form-control"
                                               type="text" placeholder="客户姓名或电话，模糊查询"
                                               style="height:30px"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label no-padding-right">提交人姓名：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <input id="searchSubmitterName" name="submitterName" class="form-control"
                                               type="text"
                                               style="height:30px"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label no-padding-right">状态：</label>
                                <div class="col-sm-2">
                                    <select id="searchStatus" name="status" class="selectpicker show-tick form-control">
                                        <option value=>所有</option>
                                        <option value=1 th:selected="${status} == 1">未提交</option>
                                        <option value=2 th:selected="${status} == 2">已提交</option>
                                        <option value=3 th:selected="${status} == 3">已驳回</option>
                                        <option value=4 th:selected="${status} == 4">已通过</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label no-padding-right">凭证状态：</label>
                                <div class="col-sm-2">
                                    <select id="searchChargeReceiptStatus" name="chargeReceiptStatus"
                                            class="selectpicker show-tick form-control">
                                        <option value=>所有</option>
                                        <option value=0>未完成</option>
                                        <option value=1>已完成</option>
                                    </select>
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right">卡号：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <input id="searchPointCodes" name="pointCodes" class="form-control"
                                               type="text"
                                               style="height:30px"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label no-padding-right">提交时间起：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <div class="input-group">
                                            <input class="form-control date-picker" id="searchSubmitStartTime"
                                                   type="text" readonly/>
                                            <span class="input-group-addon">
                                            <i class="fa fa-calendar bigger-110"></i>
                                        </span>
                                            <input type="hidden" value=0 name="submitStartTime"/>
                                        </div>
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label no-padding-right">提交时间止：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <div class="input-group">
                                            <input class="form-control date-picker" id="searchSubmitEndTime"
                                                   type="text" readonly/>
                                            <span class="input-group-addon">
                                            <i class="fa fa-calendar bigger-110"></i>
                                        </span>
                                            <input type="hidden" value=0 name="submitEndTime"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-white btn-default btn-round btn-sm"
                                            onclick="return search()">
                                        <i class="ace-icon fa fa-search red2"></i>
                                        查询
                                    </button>
                                    <shiro:hasPermission name="chargeReceiptExport">
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-white btn-default btn-round btn-sm"
                                                onclick="exportExcel();return false;">
                                            <i class="ace-icon fa  fa-file-excel-o red2"></i>
                                            导出对账单
                                        </button>
                                    </shiro:hasPermission>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.col -->

                    <div class="col-xs-12" style="text-align: right" id="buttonDiv">
                        <p style="margin:1px;height: 31px">

                        </p>
                    </div><!-- /.col -->

                    <div class="col-xs-12">
                        <table id="grid-table"></table>

                        <div id="grid-pager"></div>
                    </div><!-- /.col -->

                    <div id="modal-form" class="modal fade" tabindex="-1" style="overflow: scroll">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="blue bigger" id="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-1"></div>
                                        <div class="col-xs-12 col-sm-9">
                                            <form id="auditForm" class="form-horizontal" role="form">
                                                <input type="hidden" name="id" id="auditRecordId"/>
                                                <input type="hidden" name="version" id="version">
                                                <input type="hidden" name="status" id="saveStatus">
                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">银行信息：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="bankOutletsName" name="bankOutletsName"
                                                                   class="form-control"
                                                                   type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">兑换类型：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="exchangeType" name="exchangeType"
                                                                   class="form-control"
                                                                   type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">兑换总积分：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="exchangePoint" name="exchangePoint"
                                                                   class="form-control"
                                                                   type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">客户姓名：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="customerName" name="customerName"
                                                                   class="form-control"
                                                                   type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2 exchangeType1"></div>
                                                <div class="form-group exchangeType1">
                                                    <label class="col-sm-4 control-label no-padding-right">客户电话：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="customerMobile" name="customerMobile"
                                                                   class="form-control"
                                                                   type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2 exchangeType1"></div>
                                                <div class="form-group exchangeType1">
                                                    <label class="col-sm-4 control-label no-padding-right">后台充值积分：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="givingPoint" name="givingPoint"
                                                                   class="form-control"
                                                                   type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2 exchangeType1"></div>
                                                <div class="form-group exchangeType1">
                                                    <label class="col-sm-4 control-label no-padding-right">兑换积分所属项目：</label>
                                                    <div class="col-sm-8">
                                                        <select id="exchangeProjectId"
                                                                onchange="refreshBatch()"
                                                                class="selectpicker show-tick form-control">
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="space-2 exchangeType1"></div>
                                                <div class="form-group exchangeType1">
                                                    <label class="col-sm-4 control-label no-padding-right">充值积分所属批次：</label>
                                                    <div class="col-sm-8">
                                                        <select id="exchangeBatchId" name="exchangeBatchId"
                                                                class="selectpicker show-tick form-control">
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="space-2 exchangeType2"></div>
                                                <div class="form-group exchangeType2">
                                                    <label class="col-sm-4 control-label no-padding-right"
                                                           for="pointCodes">积分兑换码卡号：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input type="text" name="pointCodes" id="pointCodes"
                                                                   readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2 exchangeType2"></div>
                                                <div class="form-group exchangeType2">
                                                    <label class="col-sm-4 control-label no-padding-right"
                                                           for="pointCodes">积分兑换码信息：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <div id="pointsInfo"
                                                                 class="form-control"
                                                                 style="resize:none;height: 100px"
                                                                 readonly></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2 exchangeType3"></div>
                                                <div class="form-group exchangeType3">
                                                    <label class="col-sm-4 control-label no-padding-right"
                                                           for="productValue">商品价值：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="productValue" name="productValue"
                                                                   class="form-control"
                                                                   type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">备注：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <textarea id="remark" name="remark"
                                                                      class="form-control"
                                                                      style="resize:none;height: 100px"
                                                                      readonly></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">充值凭证：</label>
                                                    <div class="col-sm-8 float" id="pics">

                                                    </div>
                                                </div>

                                                <div class="space-2 auditReason"></div>
                                                <div class="form-group auditReason">
                                                    <label class="col-sm-4 control-label no-padding-right"
                                                           for="auditReason">驳回理由：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <textarea id="auditReason" name="auditReason"
                                                                      class="form-control"
                                                                      style="resize:none;height: 100px"
                                                                      readonly></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-sm modal-footer-btn" data-dismiss="modal">
                                        <i class="ace-icon fa fa-times"></i>
                                        取消
                                    </button>

                                    <button id="passBtn" class="btn btn-sm btn-primary modal-footer-btn"
                                            onclick="pass()">
                                        <i class="ace-icon fa fa-thumbs-o-up"></i>
                                        通过
                                    </button>

                                    <button id="unpassBtn" class="btn btn-sm btn-primary modal-footer-btn"
                                            onclick="unpass()">
                                        <i class="ace-icon fa fa-thumbs-o-down"></i>
                                        不通过
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--放大图片模态框-->
                    <div id="ShowImage_Form" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog"
                             style="width:100%;height:100%;background-color: rgba(64,64,64,1);margin:0px;padding:0px;">
                            <div class="modal-content"
                                 style="width:100%;height:100%;background-color: rgba(64,64,64,1);margin:0px;padding:0px;">
                                <div class="modal-header" style="border-bottom: 0px;background-color: rgba(64,64,64,1)">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">关闭
                                    </button>
                                    <button id="nextBtn" onclick="nextPicture()" style="display:none" type="button"
                                            class="close" aria-hidden="true">下一张
                                    </button>
                                    <button id="previousBtn" onclick="previousPicture()" style="display:none"
                                            type="button" class="close" aria-hidden="true">上一张
                                    </button>
                                    <button id="rotateBtn" onclick="rotatePicture()" type="button" class="close"
                                            aria-hidden="true" title="顺时针旋转90度">旋转
                                    </button>
                                    <span id="customerMobileShow"
                                          style="color:white;font-size:28px;position:fixed"></span>
                                </div>
                                <div class="modal-body"
                                     style="padding:0px 20px 0px 20px;text-align: center;background-color: rgba(64,64,64,0.5)">
                                    <div id="img_show" style="background-color: rgba(64,64,64,1);">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
</div><!-- /.main-container -->
</body>
<script type="text/javascript">
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";
    var auditRecordStatus = ['未提交', '已提交', '已驳回', '已通过'];
    var auditRecordColor = ['000000', '0000FF', 'FF0000', '00FF00'];
    var imgUrls;
    var picIndex = 0;
    var rotate = 0;//旋转度数
    $(function () {
        //重新修改表格宽度
        $(window).resize(function () {
            $("#grid-table").setGridWidth($(window).width() * 0.96);
        });

        //将项目列表填入到projectId中
        $.ajax({
            url: "/api/project/getlist",
            dataType: "json",
            async: false,
            data: {
                pageSize: 10000,
                pageNum: 1
            },
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    $("#exchangeProjectId").append("<option value='0'>&nbsp;</option>");
                    for (var i = 0; i < result.length; i++) {
                        if (result[i].status == 1) {//进行中的项目
                            $("#exchangeProjectId").append("<option value=" + result[i].id + ">" + result[i].name + "</option>");
                        }
                    }
                }
            },
            error: error
        });

        $("#pointCodes").tag({});

        initDatePicker();

        var tableOption = {
            url: "/api/auditrecord/listpage",
            postData: transformToJson($('#auditRecordSearchForm').serializeArray()),
            colNames: ['', '操作', '提交人', '状态', '兑换总积分', '客户姓名', '客户手机号', '后台充值', '兑换码卡号', '商品价值', '提交时间', '审核人', '审核时间'],
            colModel: [
                {name: 'id', index: 'id', sortable: false, hidden: true},
                {name: '_action', index: '_action', width: 100, sortable: false, formatter: customFormatter},
                {name: 'submitterName', index: 'submitterName', width: 50, sortable: false},
                {
                    name: 'status',
                    index: 'status',
                    width: 50,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return generateSpan(auditRecordStatus[rowObject.status - 1], auditRecordColor[rowObject.status - 1]);
                    }
                },
                {name: 'exchangePoint', index: 'exchangePoint', width: 70, sortable: false},
//                {
//                    name: 'exchangeType',
//                    index: 'exchangeType',
//                    sortable: false,
//                    width: 100,
//                    formatter: exchangeTypeFormatter
//                },
                {
                    name: 'customerName',
                    index: 'customerName',
                    width: 50,
                    sortable: false
                },
                {
                    name: 'customerMobile',
                    index: 'customerMobile',
                    width: 80, sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return rowObject.customerMobile;
                    }
                },
                {
                    name: 'givingPoint',
                    index: 'givingPoint',
                    width: 50,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return hasExchangeType(rowObject.exchangeType, '1') ? rowObject.givingPoint : "--";
                    }
                },
                {
                    name: 'pointCodes',
                    index: 'pointCodes',
                    width: 60,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return hasExchangeType(rowObject.exchangeType, '2') ? rowObject.pointCodes : "--";
                    }
                },
                {
                    name: 'productValue',
                    index: 'productValue',
                    width: 60,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return hasExchangeType(rowObject.exchangeType, '3') ? generateProductValue(rowObject.productValue, rowObject.exchangePoint) : "--";
                    }
                },
                {
                    name: 'modTime',
                    index: 'modTime',
                    width: 120,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return timeFormat(rowObject.modTime)
                    }
                },
                {
                    name: 'auditorName',
                    index: 'auditorName',
                    width: 50,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return rowObject.status > 2 ? rowObject.auditorName : "";
                    }
                },
                {
                    name: 'auditTime',
                    index: 'auditTime',
                    width: 120,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return rowObject.status > 2 ? timeFormat(rowObject.auditTime) : "";
                    }
                },
            ],
            caption: "充值记录列表"
        };
        initTable(grid_selector, pager_selector, tableOption);
    });

    function search() {
        jQuery(grid_selector).setGridParam({
            url: "/api/auditrecord/listpage",
            postData: transformToJson($('#auditRecordSearchForm').serializeArray()),
        }).trigger("reloadGrid", [{page: 1}]);
        return false;
    }

    //    function exchangeTypeFormatter(cellvalue, options, rowObject) {
    //        return getExchangeTypeText(rowObject.exchangeType);
    //    }

    /**
     * 计算商品价值和积分的比值
     * @param productValue
     * @param exchangePoint
     * @returns {string}
     */
    function generateProductValue(productValue, exchangePoint) {
        if (exchangePoint > 0) {
            var rate = productValue / exchangePoint;
            if (rate > 2.5) {
                return generateSpan(productValue + '(' + rate.toFixed(2) + ')', 'FF0000');
            } else {
                return productValue + '(' + rate.toFixed(2) + ')';
            }
        } else {
            return generateSpan(productValue + '(错误)', 'FF0000');
        }

    }

    function getExchangeTypeText(type) {
        var exchangeType = type.toString().split('');
        var exchangeTypeText = "";
        if (exchangeType.indexOf('1') > -1) {
            exchangeTypeText = exchangeTypeText + '充积分 ';
        }
        if (exchangeType.indexOf('2') > -1) {
            exchangeTypeText = exchangeTypeText + '积分卡 ';
        }
        if (exchangeType.indexOf('3') > -1) {
            exchangeTypeText = exchangeTypeText + '换商品 ';
        }
        return exchangeTypeText;
    }

    function hasExchangeType(type, value) {
        var exchangeType = type.toString().split('');
        return exchangeType.indexOf(value) > -1;
    }

    function customFormatter(cellvalue, options, rowObject) {
        var str = "";
        var btnStyle = "btn-danger";
        if (permission.indexOf("chargeReceiptManagement") != -1) {
            if (rowObject.chargeReceiptStatus == 1) {
                btnStyle = "btn-default";
            }
            str += getRedirectButton(btnStyle, "../chargereceipt/index?auditRecordId=" + rowObject.id, "凭证管理");
        }
        if (rowObject.status == 2) {
            if (permission.indexOf("auditRecordCheck") != -1) {
                str += getFunctionButton("btn-primary", "check(" + rowObject.id + ")", "审核");
            }
        } else {
            str += getFunctionButton("btn-success", "show(" + rowObject.id + ")", "查看");
        }
        return str;
    }

    function show(id) {
        huixian(id);
        $("#passBtn").hide();
        $("#unpassBtn").hide();
        $("#auditReason").attr('readonly', 'readonly');
        $("#posCode").attr('readonly', 'readonly');
        $("#cardNo").attr('readonly', 'readonly');
        $("#saveTradeTime").attr('disabled', 'disabled');
        $("#exchangeProjectId").attr('disabled', "disabled");
        $("#exchangeBatchId").attr('disabled', "disabled");
        $("#modal-title").html("查看");

    }

    function check(id) {
        huixian(id);
        $("#passBtn").show();
        $("#unpassBtn").show();
        $("#auditReason").removeAttr('readonly');
        $("#posCode").removeAttr('readonly');
        $("#cardNo").removeAttr('readonly');
        $("#saveTradeTime").removeAttr('disabled');
        $("#exchangeProjectId").removeAttr('disabled');
        $("#exchangeBatchId").removeAttr('disabled');
        $("#modal-title").html("审核");
    }

    function huixian(id) {
        $("#pics").empty();
        $("#modal-form").modal("show");
        $.ajax({
            url: "/api/auditrecord/getbyid",
            dataType: "json",
            async: false,
            data: {
                id: id
            },
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    showByExchangeType(result);
                    $("#customerMobileShow").html(result.customerMobile);
                    $("#auditRecordId").val(result.id);
                    $("#version").val(result.version);
                    $("#bankOutletsName").val(result.bankOutletsName);
                    $("#exchangeType").val(getExchangeTypeText(result.exchangeType));
                    $("#exchangePoint").val(result.exchangePoint);
                    $("#customerName").val(result.customerName);
                    $("#auditReason").val(result.auditReason);
                    $("#remark").val(result.remark);
                    $("#remark").attr('readonly', 'readonly');
                    if (result.status == 3) { //审核不通过时显示不通过理由
                        $(".auditReason").css("display", "");
                    } else {
                        $(".auditReason").css("display", "none");
                    }
                    if (result.status == 2) { //待提交时显示审核按钮
                        $("#passBtn").css("display", "");
                        $("#unpassBtn").css("display", "");
                    } else {
                        $("#passBtn").css("display", "none");
                        $("#unpassBtn").css("display", "none");
                    }
                    imgUrls = result.imgUrls.split(",");
                    for (var i = 0; i < imgUrls.length; i++) {
                        $("#pics").append("<img class='item' onmouseover=\"this.style.cursor='pointer';this.style.cursor='hand'\"  onmouseout=\"this.style.cursor='default'\" onclick=\"javascript:clickImg(" + i + ",true);\" src='" + getImageUrl(imgUrls[i]) + "'>")
                    }
                    var pointsInfo = result.pointExchangeCodeRespList;
                    var pointsInfoHtml = '';
                    var totalValue = 0;
                    for (var i = 0; i < pointsInfo.length; i++) {
                        var status = pointsInfo[i].status == 0 ? "未启用" : "已启用";
                        var color = pointsInfo[i].status == 0 ? "00FF00" : "FF0000";
                        pointsInfoHtml += "[" + pointsInfo[i].code + "][" + pointsInfo[i].batchName + "][" + pointsInfo[i].faceValue + "积分][" + generateSpan(status, color) + "]\n";
                        totalValue += pointsInfo[i].faceValue;
                    }
                    pointsInfoHtml += "合计：" + totalValue + "积分";
                    $("#pointsInfo").empty().append(pointsInfoHtml);
                }
            },
            error: error
        });
    }

    function clickImg(i, first) {
        picIndex = i;
        showimage(getImageUrl(imgUrls[picIndex]), first);
        picButtonDisplay();
    }

    function previousPicture() {
        picIndex--;
        showimage(getImageUrl(imgUrls[picIndex]), false);
        picButtonDisplay();
    }

    function nextPicture() {
        picIndex++;
        showimage(getImageUrl(imgUrls[picIndex]), false);
        picButtonDisplay();
    }

    function picButtonDisplay() {
        if (picIndex == 0) {
            $("#previousBtn").css("display", "none");
        } else {
            $("#previousBtn").css("display", "");
        }
        if (picIndex + 1 == imgUrls.length) {
            $("#nextBtn").css("display", "none");
        } else {
            $("#nextBtn").css("display", "");
        }
        rotate = 0;//充值旋转度数为0
    }

    function rotatePicture() {
        var zoomPicDoc = document.getElementById('zoomPic');
        rotate = (rotate + 90) % 360;
        zoomPicDoc.style.transform = 'rotate(' + rotate + 'deg)';
    }

    function showByExchangeType(result) {
        if (hasExchangeType(result.exchangeType, '1')) {
            $(".exchangeType1").css("display", "");
            $("#customerMobile").val(result.customerMobile);
            $("#givingPoint").val(result.givingPoint);

        } else {
            $(".exchangeType1").css("display", "none");
        }
        if (hasExchangeType(result.exchangeType, '2')) {
            $(".exchangeType2").css("display", "");
            var $tag_obj = $('#pointCodes').data('tag');
            var count = $tag_obj.values.length;
            var pointCodes = result.pointCodes.split(',');
            for (var i = 0; i < count; i++) {
                $tag_obj.remove(0);
            }
            for (var i = 0; i < pointCodes.length; i++) {
                $tag_obj.add(pointCodes[i]);
            }
        } else {
            $(".exchangeType2").css("display", "none");
        }
        if (hasExchangeType(result.exchangeType, '3')) {
            $(".exchangeType3").css("display", "");
            $("#productValue").val(result.productValue);
        } else {
            $(".exchangeType3").css("display", "none");
        }
    }

    function pass() {
        $("#saveStatus").val(4);
        confirm("确定通过该条充值记录的审核？", function (result) {
            if (result) {
                save();
            }
        });
    }

    function unpass() {
        $("#saveStatus").val(3);
        bootbox.prompt({
            title: "请填写审核不通过理由！",
            callback: function (result) {
                if (result) {
                    $("#auditReason").val(result);
                    save();
                }
            }
        })
    }

    function save() {
        $.ajax({
            url: "/api/auditrecord/auditrecordcheck",
            dataType: "json",
            async: false,
            data: transformToJson($('#auditForm').serializeArray()),
            type: "POST",
            success: function (data) {
                if ('error' in data) {
                    if (data.error.code == 111002) {
                        bootboxalert("记录已被修改，已重新载入，请重新审核");
                        huixian($("#auditRecordId").val());
                    } else {
                        bootboxalert(data.error.message);
                    }
                } else {
                    $("#modal-form").modal('hide');
                    jQuery(grid_selector).setGridParam({}).trigger("reloadGrid");
                }
            },
            error: error
        });
    }

    function refreshBatch() {
        var projectId = $("#exchangeProjectId").val();
        var batchId = "#exchangeBatchId";
        $(batchId).empty();
        $.ajax({
            url: "/api/pointexchangecodebatch/findvirtualbyprojectid",
            dataType: "json",
            async: false,
            data: {
                id: projectId
            },
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    $(batchId).append("<option value=>&nbsp;</option>");
                    for (var i = 0; i < result.length; i++) {
                        $(batchId).append("<option value=" + result[i].id + ">" + result[i].name + "</option>");
                    }
                }
            },
            error: error
        });
    }

    function showimage(source, first) {
        if (first) {
            $("#ShowImage_Form").modal('show');
        }
        $("#ShowImage_Form").find("#img_show").html("<image id='zoomPic' width='500px' src='" + source + "' onmousewheel='return bigimg(this)' class='cursor:pointer img-rounded ' style='zoom:70%;'/>");
    }

    function bigimg(obj) {
        var zoom = parseInt(obj.style.zoom, 10) || 100;
        zoom += event.wheelDelta / 12;
        if (zoom > 0)
            obj.style.zoom = zoom + '%';
        return false;
    }

    function exportExcel() {
        var obj = transformToJson($('#auditRecordSearchForm').serializeArray());
        var param = "";
        for (var key in obj) {
            param = param + key + "=" + obj[key] + "&";
        }
        window.location.href = "/api/auditrecord/export?" + param;
        return false;
    }

</script>
</html>

