<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/init.css}"/>
    <!-- Javascript -->
    <script th:src="@{/static/init.js}"></script>
    <style>
        .ui-jqgrid .ui-jqgrid-bdiv {
            overflow-x: auto;
        }

        ::-webkit-scrollbar {
            width: 4px;
            height: 10px;
        }

        .float {
            overflow: hidden;
        }

        .item {
            float: left;
            height: 100px;
            width: 31%;
            border-right: 3px solid #fff;
            border-top: 3px solid #fff;
        }
    </style>
</head>

<body class="no-skin">
<div class="main-container ace-save-state" id="main-container">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/main/main_center}">主页</a>
                    </li>
                    <li class="active">消费审核</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12" style="padding-top:40px">
                        <form id="auditRecordSearchForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right">状态：</label>
                                <div class="col-sm-2">
                                    <select id="searchStatus" name="status" class="selectpicker show-tick form-control">
                                        <option value=>所有</option>
                                        <option value=0 th:selected="${status} == 0">待审核</option>
                                        <option value=1 th:selected="${status} == 1">未通过</option>
                                        <option value=2 th:selected="${status} == 2">已通过</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-white btn-default btn-round btn-sm"
                                            onclick="return search()">
                                        <i class="ace-icon fa fa-search red2"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.col -->

                    <div class="col-xs-12" style="text-align: right" id="buttonDiv">
                        <p style="margin:1px;height: 31px">

                        </p>
                    </div><!-- /.col -->

                    <div class="col-xs-12">
                        <table id="grid-table"></table>

                        <div id="grid-pager"></div>
                    </div><!-- /.col -->

                    <div id="modal-form" class="modal fade" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="blue bigger" id="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-1"></div>
                                        <div class="col-xs-12 col-sm-9">
                                            <form id="auditForm" class="form-horizontal" role="form">
                                                <input type="hidden" name="id" id="auditRecordId"/>
                                                <input type="hidden" name="version" id="version">
                                                <input type="hidden" name="status" id="saveStatus">
                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">客户姓名：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="customerName" name="customerName"
                                                                   class="form-control"
                                                                   type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">客户电话：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="customerMobile" name="customerMobile"
                                                                   class="form-control"
                                                                   type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">兑换积分：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="exchangePoint" name="exchangePoint"
                                                                   class="form-control"
                                                                   type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">兑换类型：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="exchangeType" name="exchangeType"
                                                                   class="form-control"
                                                                   type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">兑换积分所属项目：</label>
                                                    <div class="col-sm-8">
                                                        <select id="exchangeProjectId"
                                                                onchange="refreshBatch(1)"
                                                                class="selectpicker show-tick form-control">
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">兑换积分所属批次：</label>
                                                    <div class="col-sm-8">
                                                        <select id="exchangeBatchId" name="exchangeBatchId"
                                                                class="selectpicker show-tick form-control">
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">赠送积分：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="givingPoint" name="givingPoint"
                                                                   class="form-control"
                                                                   type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">赠送类型：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="givingType" name="givingType"
                                                                   class="form-control"
                                                                   type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">赠送积分所属项目：</label>
                                                    <div class="col-sm-8">
                                                        <select id="givingProjectId"
                                                                onchange="refreshBatch(2)"
                                                                class="selectpicker show-tick form-control">
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">赠送积分所属批次：</label>
                                                    <div class="col-sm-8">
                                                        <select id="givingBatchId" name="givingBatchId"
                                                                class="selectpicker show-tick form-control">
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">备注：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <textarea id="remark" name="remark"
                                                                      class="form-control"
                                                                      style="resize:none;height: 100px"
                                                                      readonly></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">消费凭证：</label>
                                                    <div class="col-sm-8 float" id="pics">

                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">POS机编号：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="posCode" name="posCode"
                                                                   class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">银行卡后四位：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="cardNo" name="cardNo"
                                                                   class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right"
                                                           for="saveTradeTime">交易时间：</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <input class="form-control date-picker"
                                                                   id="saveTradeTime" type="text" readonly/>
                                                            <span class="input-group-addon">
                                                                            <i class="fa fa-calendar bigger-110"></i>
                                                                        </span>
                                                            <input type="hidden" value=0 name="tradeTime"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2 auditReason"></div>
                                                <div class="form-group auditReason">
                                                    <label class="col-sm-4 control-label no-padding-right">不通过理由：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <textarea id="auditReason" name="auditReason"
                                                                      class="form-control"
                                                                      style="resize:none;height: 100px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-sm modal-footer-btn" data-dismiss="modal">
                                        <i class="ace-icon fa fa-times"></i>
                                        取消
                                    </button>

                                    <button id="passBtn" class="btn btn-sm btn-primary modal-footer-btn"
                                            onclick="pass()">
                                        <i class="ace-icon fa fa-thumbs-o-up"></i>
                                        通过
                                    </button>

                                    <button id="unpassBtn" class="btn btn-sm btn-primary modal-footer-btn"
                                            onclick="unpass()">
                                        <i class="ace-icon fa fa-thumbs-o-down"></i>
                                        不通过
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--放大图片模态框-->
                    <div id="ShowImage_Form" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-header" style="border-bottom: 0px">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body" style="text-align: center">
                            <div id="img_show" style="height:500px">
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
</div><!-- /.main-container -->
</body>
<script type="text/javascript">
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";
    var auditRecordStatus = ['待审核', '未通过', '已通过'];
    $(document).ready(function () {
        $(document).on("hidden.bs.modal", ".bootbox", function () {
            if ($(".modal-backdrop").length > 0) {
                $("body").addClass("modal-open");
            }
        })

        // 通过该方法来为每次弹出的模态框设置最新的zIndex值，从而使最新的modal显示在最前面
        $(document).on('show.bs.modal', '.modal', function (event) {
            var zIndex = 1060 + (10 * $('.modal:visible').length);
            $(this).css('z-index', zIndex);
        });
    });

    $(function () {
        //重新修改表格宽度
        $(window).resize(function () {
            $("#grid-table").setGridWidth($(window).width() * 0.96);
        });

        //将项目列表填入到projectId中
        $.ajax({
            url: "/api/project/getlist",
            dataType: "json",
            async: false,
            data: {
                pageSize: 10000,
                pageNum: 1
            },
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    $("#exchangeProjectId").append("<option value='0'>&nbsp;</option>");
                    $("#givingProjectId").append("<option value='0'>&nbsp;</option>");
                    for (var i = 0; i < result.length; i++) {
                        if (result[i].status == 1) {//进行中的项目
                            $("#exchangeProjectId").append("<option value=" + result[i].id + ">" + result[i].name + "</option>");
                            $("#givingProjectId").append("<option value=" + result[i].id + ">" + result[i].name + "</option>");
                        }
                    }
                }
            },
            error: error
        });

        initDatePicker();

        var tableOption = {
            url: "/api/auditrecord/listpage",
            postData: transformToJson($('#auditRecordSearchForm').serializeArray()),
            shrinkToFit: false,
            autoScroll: true,
//            multiselect: true,
            colNames: ['', '操作', '客户姓名', '客户电话', '兑换积分', '赠送积分', '状态', '提交人姓名', '提交时间', '审核人姓名', '审核时间'],
            colModel: [
                {name: 'id', index: 'id', sortable: false, hidden: true},
                {name: '_action', index: '_action', sortable: false, formatter: customFormatter},
                {name: 'customerName', index: 'customerName', sortable: false},
                {name: 'customerMobile', index: 'customerMobile', sortable: false},
                {name: 'exchangePoint', index: 'exchangePoint', sortable: false},
                {name: 'givingPoint', index: 'givingPoint', sortable: false},
                {
                    name: 'status',
                    index: 'status',
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return auditRecordStatus[rowObject.status];
                    }
                },
                {name: 'submitterName', index: 'submitterName', sortable: false},
                {
                    name: 'modTime',
                    index: 'modTime',
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return timeFormat(rowObject.modTime)
                    }
                },
                {
                    name: 'auditorName',
                    index: 'auditorName',
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return rowObject.status == 0 ? "" : rowObject.auditorName;
                    }
                },
                {
                    name: 'auditTime',
                    index: 'auditTime',
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return rowObject.status == 0 ? "" : timeFormat(rowObject.auditTime);
                    }
                },
            ],
            loadComplete: function (data) {
                var table = this;
                setTimeout(function () {
                    $("#jqgh_grid-table_rn").empty().append("序号");//第一列加上列名
                    updatePagerIcons(table);//美化【首页，下一页，上一页，末页】
                }, 0);
                if (data.data.length == 0) {//解决没有数据时，不出现横向滚动条的问题
                    $('head').append('<style> .ui-jqgrid .ui-jqgrid-hdiv{overflow:auto}</style>');
                } else {
                    $('head').append('<style> .ui-jqgrid .ui-jqgrid-hdiv{overflow:hidden}</style>');
                }
            },
            caption: "消费记录列表"
        };
        initTable(grid_selector, pager_selector, tableOption);
    });

    function search() {
        jQuery(grid_selector).setGridParam({
            url: "/api/auditrecord/listpage",
            postData: transformToJson($('#auditRecordSearchForm').serializeArray()),
        }).trigger("reloadGrid", [{page: 1}]);
        return false;
    }

    function customFormatter(cellvalue, options, rowObject) {
        var str = "";
        if (rowObject.status == 0) {
            if (permission.indexOf("auditRecordCheck") != -1) {
                str += getFunctionButton("btn-primary", "check(" + rowObject.id + ")", "审核");
            }
        } else {
            str += getFunctionButton("btn-success", "show(" + rowObject.id + ")", "查看");
        }
        return str;
    }

    function show(id) {
        huixian(id);
        $("#passBtn").hide();
        $("#unpassBtn").hide();
        $("#auditReason").attr('readonly', 'readonly');
        $("#posCode").attr('readonly', 'readonly');
        $("#cardNo").attr('readonly', 'readonly');
        $("#saveTradeTime").attr('disabled', 'disabled');
        $("#exchangeProjectId").attr('disabled', "disabled");
        $("#exchangeBatchId").attr('disabled', "disabled");
        $("#givingProjectId").attr('disabled', "disabled");
        $("#givingBatchId").attr('disabled', "disabled");
        $("#modal-title").html("查看");

    }

    function check(id) {
        huixian(id);
        $("#passBtn").show();
        $("#unpassBtn").show();
        $("#auditReason").removeAttr('readonly');
        $("#posCode").removeAttr('readonly');
        $("#cardNo").removeAttr('readonly');
        $("#saveTradeTime").removeAttr('disabled');
        $("#exchangeProjectId").removeAttr('disabled');
        $("#exchangeBatchId").removeAttr('disabled');
        $("#givingProjectId").removeAttr('disabled');
        $("#givingBatchId").removeAttr('disabled');
        $("#modal-title").html("审核");
    }

    function huixian(id) {
        $("#pics").empty();
        $("#modal-form").modal("show");
        $.ajax({
            url: "/api/auditrecord/getbyid",
            dataType: "json",
            async: false,
            data: {
                id: id
            },
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    $("#auditRecordId").val(result.id);
                    $("#version").val(result.version);
                    $("#customerName").val(result.customerName);
                    $("#customerMobile").val(result.customerMobile);
                    $("#exchangePoint").val(result.exchangePoint);
                    $("#exchangeType").val(result.exchangeType);
                    $("#givingPoint").val(result.givingPoint);
                    $("#givingType").val(result.givingType);
                    $("#auditReason").val(result.auditReason);
                    $("#remark").val(result.remark);
                    $("#remark").attr('readonly', 'readonly');
                    if (result.status == 1) {
                        $(".auditReason").css("display", "");
                    } else {
                        $(".auditReason").css("display", "none");
                    }
                    var imgUrls = result.imgUrls.split(",");
                    for (var i = 0; i < imgUrls.length; i++) {
                        $("#pics").append("<img class='item' onmouseover=\"this.style.cursor='pointer';this.style.cursor='hand'\"  onmouseout=\"this.style.cursor='default'\" onclick=\"javascript:showimage('/api/preview/img/" + imgUrls[i] + "');\" src='/api/preview/img/" + imgUrls[i] + "'>")
                    }
                }
            },
            error: error
        });
    }

    function pass() {
        $("#saveStatus").val(2);
        confirm("确定通过该条消费记录的审核？", function (result) {
            if (result) {
                save();
            }
        });
    }

    function unpass() {
        $("#saveStatus").val(1);
        bootbox.prompt({
            title: "请填写审核不通过理由！",
            callback: function (result) {
                if (result) {
                    $("#auditReason").val(result);
                    save();
                }
            }
        })
    }

    function save() {
        $.ajax({
            url: "/api/auditrecord/auditrecordcheck",
            dataType: "json",
            async: false,
            data: transformToJson($('#auditForm').serializeArray()),
            type: "POST",
            success: function (data) {
                if ('error' in data) {
                    if (data.error.code == 111002) {
                        bootboxalert("记录已被修改，已重新载入，请重新审核");
                        huixian($("#auditRecordId").val());
                    } else {
                        bootboxalert(data.error.message);
                    }
                } else {
                    $("#modal-form").modal('hide');
                    jQuery(grid_selector).setGridParam({}).trigger("reloadGrid");
                }
            },
            error: error
        });
    }

    function refreshBatch(type) {
        var projectId;
        var batchId;
        if (type == 1) {
            projectId = $("#exchangeProjectId").val();
            batchId = "#exchangeBatchId";
        }
        if (type == 2) {
            projectId = $("#givingProjectId").val();
            batchId = "#givingBatchId";
        }
        $(batchId).empty();
        $.ajax({
            url: "/api/pointexchangecodebatch/findvirtualbyprojectid",
            dataType: "json",
            async: false,
            data: {
                id: projectId
            },
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    $(batchId).append("<option value=>&nbsp;</option>");
                    for (var i = 0; i < result.length; i++) {
                        $(batchId).append("<option value=" + result[i].id + ">" + result[i].name + "</option>");
                    }
                }
            },
            error: error
        });
    }

    function showimage(source) {//图片单击放大显示
        $("#ShowImage_Form").find("#img_show").html("<image src='" + source + "' onmousewheel='return bigimg(this)' class='cursor:pointer img-rounded ' />");
        $("#ShowImage_Form").modal({backdrop: 'static', keyboard: true});
    }

    function bigimg(obj) {
        var zoom = parseInt(obj.style.zoom, 10) || 100;
        zoom += event.wheelDelta / 12;
        if (zoom > 0)
            obj.style.zoom = zoom + '%';
        return false;
    }

</script>
</html>

