<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>CRM首页</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/init.css}"/>

    <!-- Javascript -->
    <script th:src="@{/static/init.js}"></script>


    <style>
        .form-group {
            margin-bottom: 0px;
        }
    </style>
</head>

<body class="no-skin">

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/main/main_center}">主页</a>
                    </li>
                    <li>
                        <a href="#">系统管理</a>
                    </li>
                    <li class="active">日志管理</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12" style="padding-top:40px">
                        <form id="userSearchForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right">模块：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <input id="moduleName" name="moduleName" class="form-control" type="text"
                                               style="height:30px"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label no-padding-right">操作：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <input id="operate" name="operate" class="form-control" type="text"
                                               style="height:30px"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label no-padding-right">日志级别：</label>
                                <div class="col-sm-2">
                                    <select id="level" name="level" class="selectpicker show-tick form-control">
                                        <option value="">所有</option>
                                        <option value=1>一级</option>
                                        <option value=2>二级</option>
                                        <option value=3>三级</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-white btn-default btn-round btn-sm"
                                            onclick="return search()">
                                        <i class="ace-icon fa fa-search red2"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.col -->

                    <div class="col-xs-12" style="text-align: right" id="buttonDiv">
                        <p style="margin:1px;height: 31px">

                        </p>
                    </div><!-- /.col -->

                    <div class="col-xs-12">
                        <table id="grid-table"></table>

                        <div id="grid-pager"></div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

</div><!-- /.main-container -->
</body>
<script type="text/javascript">
    var permission = getCookie("permission");

    $(function () {
        //重新修改表格宽度
        $(window).resize(function () {
            $("#grid-table").setGridWidth($(window).width() * 0.96);
        });
    });

    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";
    jQuery(grid_selector).jqGrid({
        subGrid: false, // 此处设置为true时可以打开子项,子项用不到已删除
        url: "../api/syslog/getlist",// 获取数据的地址
        postData: transformToJson($('#userSearchForm').serializeArray()),
        rownumbers: true,
        datatype: "json",
        mtype: "GET",
        hidegrid: false,//收缩列表按钮
        prmNames: {
            page: "pageNum",
            rows: "pageSize"
        },// 重新定义分页信息
        width: "100%",
        autowidth: true,
        height: 350,
        colNames: ['', '模块名称', '日志级别', '操作详情', '', '操作人姓名', 'IP', '时间'],
        colModel: [
            {name: 'id', index: 'id', sortable: false, hidden: true},
            {name: 'moduleName', index: 'moduleName', width: 30, sortable: false},
            {name: 'level', index: 'level', width: 15, sortable: false},
            {name: 'operate', index: 'operate', sortable: false},
            {name: 'operatorId', index: 'operatorId', sortable: false, hidden: true},
            {name: 'operatorName', index: 'operatorName',width: 30, sortable: false},
            {name: 'ip', index: 'ip',width: 30, sortable: false},
            {name: 'addTime', index: 'addTime', width: 40,sortable: false, formatter: timeFormatter}
        ],
        rowNum: 10,
        rowList: [10, 20, 30],
        pager: pager_selector,
        altRows: true,
        viewrecords: true,
        emptyrecords: "0条数据",
        loadComplete: function (data) {
            var table = this;
            setTimeout(function () {
                $("#jqgh_grid-table_rn").empty().append("序号");//第一列加上列名
                updatePagerIcons(table);//美化【首页，下一页，上一页，末页】
            }, 0);
        },
        jsonReader: { // jsonReader来跟服务器端返回的数据做对应
            root: "data", // 包含实际数据的数组
            page: "paging.currPage", // 当前页
            total: "paging.totalPage",// 总页数
            records: "paging.total", // 查询出的记录数
            repeatitems: false
        },
        caption: "操作日志"
    });
    $(window).triggerHandler('resize.jqGrid');//trigger window resize to make the grid get the correct size


    function search() {
        jQuery(grid_selector).setGridParam({
            url: "../api/syslog/getlist",// 获取数据的地址
            postData: transformToJson($('#userSearchForm').serializeArray()),
        }).trigger("reloadGrid", [{page: 1}]);
        return false;
    }

    function timeFormatter(cellvalue, options, rowObject) {
        return timeFormat(rowObject.addTime);
    }

</script>
</html>

