<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>CRM首页</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/init.css}"/>

    <!-- Javascript -->
    <script th:src="@{/static/init.js}"></script>


    <style>
        .form-group {
            margin-bottom: 0px;
        }

        .ui-jqgrid .ui-jqgrid-bdiv {
            overflow-x: auto;
        }

        ::-webkit-scrollbar {
            width: 4px;
            height: 10px;
        }
    </style>
</head>

<body class="no-skin">

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/main/main_center}">主页</a>
                    </li>
                    <li class="active">订单管理</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12" style="padding-top:40px">
                        <form id="orderInfoSearchForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right">状态：</label>
                                <div class="col-sm-2">
                                    <select id="searchStatus" name="status" class="selectpicker show-tick form-control">
                                        <option value=0>所有</option>
                                        <option value=1>待付款</option>
                                        <option value=2>待派单</option>
                                        <option value=3>待服务</option>
                                        <option value=4>已完成</option>
                                        <option value=5>取消待审核</option>
                                        <option value=6>取消未通过</option>
                                        <option value=7>已取消</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label no-padding-right">订单号：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <input id="searchOrderCode" name="code" class="form-control" type="text"
                                               style="height:30px"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label no-padding-right">客户手机号：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <input id="searchMobile" name="mobile" class="form-control" type="text" th:value="${mobile}"
                                               style="height:30px"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label no-padding-right">收货手机号：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <input id="searchCustomerMobile" name="customerMobile" class="form-control" type="text"
                                               style="height:30px"/>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right">订单时间起：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <div class="input-group">
                                            <input class="form-control date-picker" id="searchOrderStartTime"
                                                   name="orderStartTime" type="text"/>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <label class="col-sm-1 control-label no-padding-right">订单时间止：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <div class="input-group">
                                            <input class="form-control date-picker" id="searchOrderEndTime"
                                                   name="orderEndTime" type="text"/>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label no-padding-right">服务人员电话：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <input id="searchWorkerMobile" name="workerMobile" class="form-control"
                                               type="text"
                                               style="height:30px"/>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-white btn-default btn-round btn-sm"
                                            onclick="return search()">
                                        <i class="ace-icon fa fa-search red2"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.col -->

                    <div class="col-xs-12" style="text-align: right" id="buttonDiv">
                        <p style="margin:1px;height: 31px">

                        </p>
                    </div><!-- /.col -->

                    <div class="col-xs-12">
                        <table id="grid-table"></table>

                        <div id="grid-pager"></div>
                    </div><!-- /.col -->

                    <div id="modal-form" class="modal fade" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="blue bigger" id="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-1"></div>
                                        <div class="col-xs-12 col-sm-9">
                                            <form id="orderReservationForm" class="form-horizontal" role="form">
                                                <input type="hidden" name="orderId" id="re_orderId">
                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">订单号：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="re_orderCode"
                                                                   class="form-control"
                                                                   type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">下单时间：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="re_orderTime"
                                                                   class="form-control"
                                                                   type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">商品名：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="re_productName"
                                                                   class="form-control"
                                                                   type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">数量：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="re_count" class="form-control"
                                                                   type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">预约时间：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="re_serviceTime" class="form-control"
                                                                   type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">联系人：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="re_customerName" class="form-control" type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">联系电话：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="re_customerMobile"  class="form-control"  type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">服务地址：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="re_customerAddress" class="form-control" type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">客户留言：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="re_customerRemark" class="form-control" type="text" style="height:30px" readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right"
                                                           for="re_realServiceTime">服务时间：</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <input class="form-control datetime-picker"
                                                                   id="re_realServiceTime"
                                                                   name="realServiceTime" type="text"/>
                                                            <span class="input-group-addon">
                                                                    <i class="fa fa-calendar bigger-110"></i>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">服务人员：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="re_workerName" name="workerName"
                                                                   class="form-control"
                                                                   type="text" style="height:30px" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">联系方式：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="re_workerMobile" name="workerMobile"
                                                                   class="form-control"
                                                                   type="text" style="height:30px" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">订单成本：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="re_cost" name="cost"
                                                                   class="form-control"
                                                                   type="text" style="height:30px" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-sm modal-footer-btn" data-dismiss="modal">
                                        <i class="ace-icon fa fa-times"></i>
                                        取消
                                    </button>

                                    <button id="reservationSaveBtn" class="btn btn-sm btn-primary modal-footer-btn" onclick="saveReservationInfo()">
                                        <i class="ace-icon fa fa-check"></i>
                                        保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <!--<div class="footer">
        <div class="footer-inner">
            <div class="footer-content" style="padding: 0px;">
						<span class="bigger-120">
							<span class="blue bolder"></span>
							悠享后台管理系统 &copy; 2018
						</span>
                &nbsp; &nbsp;
            </div>
        </div>
    </div>-->
</div><!-- /.main-container -->
</div>
</body>
<script type="text/javascript">
    var permission = getCookie("permission");
    var orderStatus = ['待付款','待派单','待服务','服务完成','取消待审核','取消未通过','已取消'];
    $(function () {
        //重新修改表格宽度
        $(window).resize(function () {
            $("#grid-table").setGridWidth($(window).width() * 0.96);
        });

        $('#re_realServiceTime').datetimepicker({
            format: "YYYY-MM-DD HH:mm"
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
    });

    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";
    jQuery(grid_selector).jqGrid({
        subGrid: false, // 此处设置为true时可以打开子项,子项用不到已删除
        url: "../api/orderinfo/listpage",// 获取数据的地址
        postData: transformToJson($('#orderInfoSearchForm').serializeArray()),
        rownumbers: true,
        datatype: "json",
        mtype: "GET",
        hidegrid: false,//收缩列表按钮
        prmNames: {
            page: "pageNum",
            rows: "pageSize"
        },// 重新定义分页信息
        autowidth: true,
        shrinkToFit: false,
        autoScroll: true,
        height: 350,
        colNames: ['', '操作', '订单号','状态','商品名称', '单价', '数量', '下单电话', '客户电话', '客户姓名','代金券抵扣数量', '充值卡支付金额', '在线支付金额'],
        colModel: [
            {name: 'id', index: 'id', sortable: false, hidden: true},
            {name: '_action', index: '_action', width: 260, sortable: false, formatter: customFormatter},
            {name: 'orderCode', index: 'orderCode', width: 175,sortable: false},
            {
                name: 'status',
                index: 'status',
                sortable: false,
                formatter: function (cellvalue, options, rowObject) {
                    return orderStatus[rowObject.status-1];
                }
            },
            {name: 'productResp.name', index: 'productResp.name', sortable: false},
            {name: 'productPrice', index: 'productPrice', sortable: false},
            {name: 'count', index: 'count', sortable: false},
            {name: 'customerResp.mobile', index: 'customerResp.mobile',sortable: false},
            {name: 'customerMobile', index: 'customerMobile', sortable: false},
            {name: 'customerName', index: 'customerName', sortable: false},
            {name: 'payVoucher', index: 'payVoucher',sortable: false},
            {name: 'payRechargeCard', index: 'payRechargeCard', sortable: false},
            {name: 'payCash', index: 'payCash', sortable: false}
        ],
        rowNum: 10,
        rowList: [10, 20, 30],
        pager: pager_selector,
        altRows: true,
        viewrecords: true,
        emptyrecords: "0条数据",
        loadComplete: function (data) {
            var table = this;
            setTimeout(function () {

                $("#jqgh_grid-table_rn").empty().append("序号");//第一列加上列名
                updatePagerIcons(table);//美化【首页，下一页，上一页，末页】
            }, 0);
        },
        jsonReader: { // jsonReader来跟服务器端返回的数据做对应
            root: "data", // 包含实际数据的数组
            page: "paging.currPage", // 当前页
            total: "paging.totalPage",// 总页数
            records: "paging.total", // 查询出的记录数
            repeatitems: false
        },
        caption: "订单列表"
    });
    $(window).triggerHandler('resize.jqGrid');//trigger window resize to make the grid get the correct size

    function search() {
        jQuery(grid_selector).setGridParam({
            url: "../api/orderinfo/listpage",// 获取数据的地址
            postData: transformToJson($('#orderInfoSearchForm').serializeArray()),
        }).trigger("reloadGrid", [{page: 1}]);
        return false;
    }

    function customFormatter(cellvalue, options, rowObject) {
        var str = "";
        str = str + "<a class='btn btn-minier btn-success' href=\"javascript:showOrder('" + rowObject.id + "')\">查看</a>&nbsp;&nbsp;";
        if (rowObject.status == 2) {
            str = str + "<a class='btn btn-minier btn-danger' href=\"javascript:userCancelOrder('" + rowObject.id + "')\">取消订单</a>&nbsp;&nbsp;";
            str = str + "<a class='btn btn-minier btn-primary' href=\"javascript:userReservationOrder('" + rowObject.id + "')\">预约</a>&nbsp;&nbsp;";
        }
        if (rowObject.status == 3) {
            str = str + "<a class='btn btn-minier btn-success' href=\"javascript:userCompleteOrder('" + rowObject.id + "')\">完成订单</a>&nbsp;&nbsp;";
            str = str + "<a class='btn btn-minier btn-danger' href=\"javascript:userCancelOrder('" + rowObject.id + "')\">取消订单</a>&nbsp;&nbsp;";
            str = str + "<a class='btn btn-minier btn-primary' href=\"javascript:stopUsing('" + rowObject.id + "')\">追加收款</a>&nbsp;&nbsp;";
        }
        if (rowObject.status == 5) {
            str = str + "<a class='btn btn-minier btn-primary' href=\"javascript:orderCancelPass('" + rowObject.id + "')\">审核通过</a>&nbsp;&nbsp;";
            str = str + "<a class='btn btn-minier btn-danger' href=\"javascript:orderCancelUnpass('" + rowObject.id + "')\">审核不通过</a>&nbsp;&nbsp;";
        }
        if (rowObject.status == 6) {
            str = str + "<a class='btn btn-minier btn-danger' href=\"javascript:userCancelOrder('" + rowObject.id + "')\">取消订单</a>&nbsp;&nbsp;";
        }
        return str;
    }
    function fillOrderInfo(id){
        $("#re_orderId").val(id);
        $.ajax({
            url: "../api/orderinfo/getbyid",
            dataType: "json",
            async: false,
            data: {
                id: id
            },
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    $("#re_orderCode").val(result.orderCode);
                    $("#re_orderTime").val(timeFormat(result.orderTime));
                    $("#re_productName").val(result.productResp.name);
                    $("#re_count").val(result.count);
                    $("#re_customerName").val(result.customerName);
                    $("#re_customerMobile").val(result.customerMobile);
                    $("#re_customerRemark").val(result.customerRemark);
                    $("#re_customerAddress").val(result.customerAddress);
                    $("#re_serviceTime").val(timeFormat(result.serviceTime).substring(0,16));
                    $("#re_realServiceTime").val(timeFormat(result.realServiceTime).substring(0,16));
                    $("#re_workerMobile").val(result.workerMobile);
                    $("#re_workerName").val(result.workerName);
                    $("#re_cost").val(result.cost);
                    $("#modal-form").modal("show");
                }
            },
            error: function () {
                bootboxalert("服务器异常，请联系管理员");
            }
        });
    }

    function showOrder(id) {
        $("#modal-title").html("查看");
        $("#reservationSaveBtn").css("display","none");
        fillOrderInfo(id);
        $("#re_realServiceTime").attr("readonly","readonly");
        $("#re_workerMobile").attr("readonly","readonly");
        $("#re_workerName").attr("readonly","readonly");
        $("#re_cost").attr("readonly","readonly");
    }

    function userReservationOrder(id){
        $("#modal-title").html("预约");
        $("#reservationSaveBtn").css("display","");
        fillOrderInfo(id);
        $("#re_realServiceTime").removeAttr("readonly");
        $("#re_workerMobile").removeAttr("readonly");
        $("#re_workerName").removeAttr("readonly");
        $("#re_cost").removeAttr("readonly");

    }
    
    function saveReservationInfo() {
        $.ajax({
            url: "../api/orderinfo/userreservationorder",
            dataType: "json",
            async: false,
            data: transformToJson($('#orderReservationForm').serializeArray()),
            type: "POST",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    $("#modal-form").modal("hide");
                    bootboxalert("预约成功");
                    jQuery(grid_selector).setGridParam({}).trigger("reloadGrid");
                }
            },
            error: function () {
                bootboxalert("服务器异常，请联系管理员");
            }
        });
    }

    function userCancelOrder(id){
        confirm("确定要取消该订单吗？", function (result) {
            if (result) {
                $.ajax({
                    url: "../api/orderinfo/usercancelorder",
                    dataType: "json",
                    async: false,
                    data: {
                        id: id
                    },
                    type: "POST",
                    success: function (data) {
                        if ('error' in data) {
                            bootboxalert(data.error.message);
                        } else {
                            bootboxalert("取消成功");
                            jQuery(grid_selector).setGridParam({}).trigger("reloadGrid");
                        }
                    },
                    error: function () {
                        bootboxalert("服务器异常，请联系管理员");
                    }
                });
            }
        });
    }

    function userCompleteOrder(id) {
        confirm("确定要完成该订单吗？", function (result) {
            if (result) {
                $.ajax({
                    url: "../api/orderinfo/usercompleteorder",
                    dataType: "json",
                    async: false,
                    data: {
                        id: id
                    },
                    type: "POST",
                    success: function (data) {
                        if ('error' in data) {
                            bootboxalert(data.error.message);
                        } else {
                            bootboxalert("成功完成该订单");
                            jQuery(grid_selector).setGridParam({}).trigger("reloadGrid");
                        }
                    },
                    error: function () {
                        bootboxalert("服务器异常，请联系管理员");
                    }
                });
            }
        });
    }

    function orderCancelPass(id){
        confirm("确定通过审核该订单的取消？", function (result) {
            if (result) {
                $.ajax({
                    url: "../api/orderinfo/ordercancelpass",
                    dataType: "json",
                    async: false,
                    data: {
                        id: id
                    },
                    type: "POST",
                    success: function (data) {
                        if ('error' in data) {
                            bootboxalert(data.error.message);
                        } else {
                            bootboxalert("成功取消该订单");
                            jQuery(grid_selector).setGridParam({}).trigger("reloadGrid");
                        }
                    },
                    error: function () {
                        bootboxalert("服务器异常，请联系管理员");
                    }
                });
            }
        });
    }

    function orderCancelUnpass(id) {
        bootbox.prompt("请输入审核不通过理由", function(result){
            if(!result == ""){
                $.ajax({
                    url: "../api/orderinfo/ordercancelunpass",
                    dataType: "json",
                    async: false,
                    data: {
                        orderId: id,
                        auditReason:result
                    },
                    type: "POST",
                    success: function (data) {
                        if ('error' in data) {
                            bootboxalert(data.error.message);
                        } else {
                            bootboxalert("操作成功");
                            jQuery(grid_selector).setGridParam({}).trigger("reloadGrid");
                        }
                    },
                    error: function () {
                        bootboxalert("服务器异常，请联系管理员");
                    }
                });
            }
        })
    }

</script>
</html>

