<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiazhe.youxiang.server.dao.mapper.manual.point.PointExchangeCodeBatchPOManualMapper" >
  <resultMap id="BaseResultMap" type="com.jiazhe.youxiang.server.domain.po.PointExchangeCodeBatchPO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="point_name" property="pointName" jdbcType="VARCHAR" />
    <result column="is_virtual" property="isVirtual" jdbcType="TINYINT" />
    <result column="is_made" property="isMade" jdbcType="TINYINT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="city_codes" property="cityCodes" jdbcType="VARCHAR" />
    <result column="product_ids" property="productIds" jdbcType="VARCHAR" />
    <result column="face_value" property="faceValue" jdbcType="DECIMAL" />
    <result column="expiry_time" property="expiryTime" jdbcType="TIMESTAMP" />
    <result column="point_effective_time" property="pointEffectiveTime" jdbcType="TIMESTAMP" />
    <result column="point_expiry_time" property="pointExpiryTime" jdbcType="TIMESTAMP" />
    <result column="validity_period" property="validityPeriod" jdbcType="INTEGER" />
    <result column="expiry_type" property="expiryType" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="gift_no" property="giftNo" jdbcType="VARCHAR" />
    <result column="ext_info" property="extInfo" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, point_name, is_virtual, is_made, description, amount, project_id, city_codes,
    product_ids, face_value, expiry_time, point_effective_time, point_expiry_time, validity_period,
    expiry_type, status, gift_no, ext_info, is_deleted, add_time, mod_time
  </sql>

  <select id="query" resultType="com.jiazhe.youxiang.server.domain.po.PointExchangeCodeBatchPO">
    SELECT
    <include refid="Base_Column_List"/>
    FROM point_exchange_code_batch
    <where>
      <if test="projectId != null">
        AND project_id = #{projectId}
      </if>
      <if test="name != null  and name != ''">
        AND name like concat('%',#{name},'%')
      </if>
      AND is_deleted = 0 ORDER BY add_time desc
    </where>
    limit #{offset},#{limit}

  </select>

  <select id="count" resultType="java.lang.Integer">
    select count(*) from point_exchange_code_batch
    <where>
      <if test="name != null  and name != ''">
        AND name like concat('%',#{name},'%')
      </if>
      <if test="projectId != null  and projectId != ''">
        AND project_id = #{projectId}
      </if>
      AND is_deleted = 0
    </where>
  </select>
</mapper>
