<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>悠享后台管理系统</title>
    <link rel="shortcut icon" th:href="@{/static/images/icon/logo.png}" type="image/x-icon"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/init.css}"/><!--通用的css-->
    <!-- Javascript -->
    <script th:src="@{/static/init.js}"></script><!--通用的js-->
    <style>
        #iframeHeader {
            width: 100%;
            height: 45px;
            display: block;
            border: 0px
        }

        #iframeNav {
            display: block;
            border: 0px;
            width: 190px;
            float: left;
            padding-right: 1px;
        }

        #iframeCenter {
            display: block;
            border: 0px;
            padding-left: 1px;
        }
    </style>
</head>
<body style="margin:0; padding:0;">
<iframe id="iframeHeader" name="iframeHeader" frameborder="0" src="/main/main_header"></iframe>
<iframe id="iframeNav" name="iframeNav" frameborder="0" src="/main/main_nav"></iframe>
<iframe id="iframeCenter" name="iframeCenter" frameborder="0" src="/main/main_center"></iframe>
<!--修改密码模态框-->
<div id="changePwdModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">修改密码</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-1"></div>
                    <div class="col-xs-12 col-sm-9">
                        <form id="changePwdForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right">用户登陆名：</label>
                                <div class="col-sm-8">
                                    <div class="pos-rel">
                                        <input id="loginName" name="loginName" class="form-control" type="text"
                                               style="height:30px" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right">用户显示名：</label>
                                <div class="col-sm-8">
                                    <div class="pos-rel">
                                        <input id="displayName" name="displayName" class="form-control" type="text"
                                               style="height:30px" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right">旧密码：</label>
                                <div class="col-sm-8">
                                    <div class="pos-rel">
                                        <input id="oldPassword" name="oldPassword" class="form-control" type="password"
                                               style="height:30px"/>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right">新密码：</label>
                                <div class="col-sm-8">
                                    <div class="pos-rel">
                                        <input id="password1" name="password1" class="form-control" type="password"
                                               style="height:30px"/>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right">新密码确认：</label>
                                <div class="col-sm-8">
                                    <div class="pos-rel">
                                        <input id="password2" name="password2" class="form-control" type="password"
                                               style="height:30px"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm modal-footer-btn" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    取消
                </button>

                <button class="btn btn-sm btn-primary modal-footer-btn" onclick="changePassword()">
                    <i class="ace-icon fa fa-check"></i>
                    保存
                </button>
            </div>
        </div>
    </div>
</div>
<!--系统关于模态框-->
<div id="systemAbout" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">关于系统</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <p>系统名称：悠享后台管理系统</p>
                        <p>版本号：V3.2</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary modal-footer-btn" onclick="$('#systemAbout').modal('hide');">
                    <i class="ace-icon fa fa-check"></i>
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    $(function () {
        $("#iframeNav").on("load", function (event) {
            changeNav();
        });
        $("#iframeCenter").on("load", function (event) {
            changeCenter();
        });
    });

    function changeNav() {
        var nav = document.getElementById("iframeNav");
        nav.height = document.documentElement.clientHeight - 45;
    }

    function changeCenter() {
        var center = document.getElementById("iframeCenter");
        center.width = document.documentElement.clientWidth - 190;
        center.height = document.documentElement.clientHeight - 45;
    }

    window.onresize = function () {
        changeNav();
        changeCenter();
    }

    function changePassword() {
        var oldPassword = $("#oldPassword").val();
        var password1 = $("#password1").val();
        var password2 = $("#password2").val();
        $.ajax({
            url: "/api/sysuser/changepassword",
            dataType: "json",
            data: {
                "oldPassword": oldPassword,
                "password1": password1,
                "password2": password2,
            },
            async: true,
            type: "POST",
            success: function (result) {
                if("error" in result){
                    bootboxalert(result.error.message);
                }else{
                    $('#changePwdModal').modal("hide");
                    bootbox.alert({
                        buttons: {
                            ok: {
                                label: '确定',
                                className: 'btn-myStyle'
                            }
                        },
                        message: "密码修改成功，重新登陆",
                        title: "提示信息",
                        callback: function (e) {
                            window.location.href = "/system/index";
                        }
                    });
                }
            },
            error: function () {
                bootboxalert("修改失败，请稍后重试！");
            }
        });
    }
</script>
</html>