<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>CRM首页</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/init.css}"/>
    <!-- Javascript -->
    <script th:src="@{/static/init.js}"></script><!--通用的js-->
</head>

<body class="no-skin">
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div id="sidebar" class="sidebar responsive ace-save-state display">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch (e) {
            }
        </script>

        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success">
                    <i class="ace-icon fa fa-signal">
                        4
                    </i>
                </button>

                <button class="btn btn-info">
                    <i class="ace-icon fa fa-pencil">
                        8
                    </i>
                </button>

                <button class="btn btn-warning">
                    <i class="ace-icon fa fa-users">
                        5
                    </i>
                </button>

                <button class="btn btn-danger">
                    <i class="ace-icon fa fa-cogs">
                        5
                    </i>
                </button>
            </div>

            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>

                <span class="btn btn-info"></span>

                <span class="btn btn-warning"></span>

                <span class="btn btn-danger"></span>
            </div>
        </div><!-- /.sidebar-shortcuts -->

        <ul class="nav nav-list">

            <li class="">
                <a th:href="@{/api/signin/pagetest}" target="iframeCenter">
                    <i class="menu-icon fa fa-desktop"></i>
                    <span class="menu-text"> 权限测试页面 </span>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a th:href="@{/customer/index}" target="iframeCenter">
                    <i class="menu-icon fa fa-user"></i>
                    <span class="menu-text"> 客户管理 </span>
                </a>
                <b class="arrow"></b>
            </li>

            <li class="">
                <a th:href="@{/product/index}" target="iframeCenter">
                    <i class="menu-icon fa fa-product-hunt"></i>
                    <span class="menu-text"> 商品管理 </span>
                </a>
                <b class="arrow"></b>
            </li>

            <li class="">
                <a th:href="@{/order/orderindex}" target="iframeCenter">
                    <i class="menu-icon fa fa-list-ul"></i>
                    <span class="menu-text"> 订单管理 </span>
                </a>
                <b class="arrow"></b>
            </li>

            <li class="">
                <a th:href="@{/project/index}" target="iframeCenter">
                    <i class="menu-icon fa fa-book"></i>
                    <span class="menu-text"> 项目管理 </span>
                </a>
                <b class="arrow"></b>
            </li>

            <li class="">
                <a th:href="@{/audit/index}" target="iframeCenter">
                    <i class="menu-icon fa fa-check"></i>
                    <span class="menu-text"> 审核管理 </span>
                </a>
                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-info-circle"></i>
                    <span class="menu-text">信息查询</span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">

                    <li class="">
                        <a th:href="@{/infosearch/rechargecardcodeindex}" target="iframeCenter">
                            充值卡兑换码查询
                        </a>
                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a th:href="@{/infosearch/rechargecardindex}" target="iframeCenter">
                            充值卡查询
                        </a>
                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a th:href="@{/infosearch/vouchercodeindex}" target="iframeCenter">
                            代金券兑换码查询
                        </a>
                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a th:href="@{/infosearch/voucherindex}" target="iframeCenter">
                            代金券查询
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-cog"></i>
                    <span class="menu-text">系统管理</span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a th:href="@{/vouchercode/index}" target="iframeCenter">
                            代金券兑换码管理
                        </a>
                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a th:href="@{/rechargecard/exchangecodebatchindex}" target="iframeCenter">
                            充值卡兑换码管理
                        </a>
                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a th:href="@{/productcode/index}" target="iframeCenter">
                            商品兑换码管理
                        </a>
                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a th:href="@{/syscity/index}" target="iframeCenter">
                            城市管理
                        </a>
                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a th:href="@{/sysuser/index}" target="iframeCenter">
                            员工管理
                        </a>
                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a th:href="@{/sysrole/index}" target="iframeCenter">
                            角色管理
                        </a>
                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a th:href="@{/syslog/index}" target="iframeCenter">
                            日志管理
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
        </ul><!-- /.nav-list -->
    </div>
</div><!-- /.main-container -->
</body>
</html>
