<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiazhe.youxiang.server.dao.mapper.manual.AuditRecordPOManualMapper">
    <resultMap id="BaseResultMap" type="com.jiazhe.youxiang.server.domain.po.AuditRecordPO">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="recharge_card_id" property="rechargeCardId" jdbcType="INTEGER" />
        <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
        <result column="customer_mobile" property="customerMobile" jdbcType="VARCHAR" />
        <result column="exchange_money" property="exchangeMoney" jdbcType="DECIMAL" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="img_urls" property="imgUrls" jdbcType="VARCHAR" />
        <result column="submitter_id" property="submitterId" jdbcType="INTEGER" />
        <result column="submitter_name" property="submitterName" jdbcType="VARCHAR" />
        <result column="submitter_remark" property="submitterRemark" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
        <result column="auditor_id" property="auditorId" jdbcType="INTEGER" />
        <result column="auditor_name" property="auditorName" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="ext_info" property="extInfo" jdbcType="VARCHAR" />
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
        <result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List">
      id,recharge_card_id,customer_name,customer_mobile,exchange_money,remark,img_urls,submitter_id,submitter_name,submitter_remark,status,audit_time,auditor_id,auditor_name,version,ext_info,is_deleted,add_time,mod_time
    </sql>

    <select id="query" resultType="com.jiazhe.youxiang.server.domain.po.AuditRecordPO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM audit_record
        <where>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="submitterId != null">
                AND submitter_id = #{submitterId}
            </if>
            AND is_deleted = 0 ORDER BY mod_time DESC
        </where>
        limit #{offset},#{limit}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from audit_record
        <where>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="submitterId != null">
                AND submitter_id = #{submitterId}
            </if>
            AND is_deleted = 0
        </where>
    </select>

</mapper>