<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiazhe.youxiang.server.dao.mapper.manual.SysRolePOManualMapper">
    <resultMap id="BaseResultMap" type="com.jiazhe.youxiang.server.domain.po.SysRolePO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="is_super" property="isSuper" jdbcType="TINYINT"/>
        <result column="priority" property="priority" jdbcType="INTEGER"/>
        <result column="ext_info" property="extInfo" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
        <result column="mod_time" property="modTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, is_super, priority, ext_info, is_deleted,add_time, mod_time
    </sql>

    <select id="query" resultType="com.jiazhe.youxiang.server.domain.po.SysRolePO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_role
        <where>
            <if test="name != null">
                AND name = #{name}
            </if>
            AND is_deleted = 0 ORDER BY priority ASC
        </where>
        limit #{offset},#{limit}

    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from sys_role where is_deleted = 0
        <where>
            <if test="name != null">
                AND name = #{name}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.jiazhe.youxiang.server.domain.po.SysRolePO" keyProperty="id"
            useGeneratedKeys="true">
        insert into sys_role (id, name, is_super,
        priority, ext_info, is_deleted,
        add_time, mod_time)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{isSuper,jdbcType=TINYINT},
        #{priority,jdbcType=INTEGER}, #{extInfo,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT},
        #{addTime,jdbcType=TIMESTAMP}, #{modTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="delete">
        update sys_role set is_deleted = 1 , mod_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s') where id = #{id}
    </update>
</mapper>