<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiazhe.youxiang.server.dao.mapper.manual.SysUserRolePOManualMapper">

    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT into sys_user_role (user_id,role_id,ext_info,is_deleted,add_time,mod_time) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userId},#{item.roleId},#{item.extInfo},${item.isDeleted},#{item.addTime},#{item.modTime})
        </foreach>
    </insert>

    <update id="batchDelete" parameterType="java.util.List">
        update sys_user_role
        set
        is_deleted = 1 , mod_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s')
        where id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>