<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiazhe.youxiang.server.dao.mapper.manual.voucher.VoucherExchangeCodePOManualMapper">
    <resultMap id="BaseResultMap" type="com.jiazhe.youxiang.server.domain.po.VoucherExchangeCodePO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="batch_id" property="batchId" jdbcType="INTEGER" />
        <result column="batch_name" property="batchName" jdbcType="VARCHAR" />
        <result column="voucher_name" property="voucherName" jdbcType="VARCHAR" />
        <result column="batch_description" property="batchDescription" jdbcType="VARCHAR" />
        <result column="project_id" property="projectId" jdbcType="INTEGER" />
        <result column="city_codes" property="cityCodes" jdbcType="VARCHAR" />
        <result column="product_ids" property="productIds" jdbcType="VARCHAR" />
        <result column="count" property="count" jdbcType="INTEGER" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="keyt" property="keyt" jdbcType="VARCHAR" />
        <result column="expiry_time" property="expiryTime" jdbcType="TIMESTAMP" />
        <result column="voucher_expiry_time" property="voucherExpiryTime" jdbcType="TIMESTAMP" />
        <result column="validity_period" property="validityPeriod" jdbcType="INTEGER" />
        <result column="expiry_type" property="expiryType" jdbcType="TINYINT" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="used" property="used" jdbcType="TINYINT" />
        <result column="customer_id" property="customerId" jdbcType="INTEGER" />
        <result column="ext_info" property="extInfo" jdbcType="VARCHAR" />
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
        <result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List">
      id,batch_id,batch_name,voucher_name,batch_description,project_id,city_codes,product_ids,count,code,keyt,expiry_time,voucher_expiry_time,
        validity_period,expiry_type,status,used,customer_id,ext_info,is_deleted,add_time,mod_time
    </sql>

    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT into voucher_exchange_code
        (batch_id,batch_name,voucher_name,batch_description,project_id,city_codes,product_ids,code,keyt,count,expiry_time,voucher_expiry_time,
        validity_period,expiry_type,status,used,ext_info,is_deleted,add_time,mod_time) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.batchId},#{item.batchName},#{item.voucherName},#{item.batchDescription},#{item.projectId},#{item.cityCodes},#{item.productIds},
            #{item.code},#{item.keyt},#{item.count},#{item.expiryTime},#{item.voucherExpiryTime},#{item.validityPeriod},#{item.expiryType},#{item.status},0,
            "",0,NOW(),NOW())
        </foreach>
    </insert>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update voucher_exchange_code
            <set>
                batch_name = #{item.batchName},voucher_name = #{item.voucherName},batch_description =
                #{item.batchDescription},project_id = #{item.projectId},
                city_codes = #{item.cityCodes},product_ids = #{item.productIds},expiry_time =
                #{item.expiryTime},expiry_type = #{item.expiryType},
                voucher_expiry_time = #{item.voucherExpiryTime},validity_period =
                #{item.validityPeriod},mod_time = NOW()
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <update id="batchChangeStatus">
        update voucher_exchange_code
        <set>
            status = #{status},mod_time = NOW()
        </set>
        where batch_id = #{batchId}
    </update>

    <select id="query" resultType="com.jiazhe.youxiang.server.domain.po.VoucherExchangeCodePO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM voucher_exchange_code
        <where>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="used != null">
                AND used = #{used}
            </if>
            <if test="code != null  and code != ''">
                AND code = #{code}
            </if>
            <if test="keyt != null  and keyt != ''">
                AND keyt = #{keyt}
            </if>
            <if test="batchId != null  and batchId != 0">
                AND batch_id = #{batchId}
            </if>
            AND is_deleted = 0 ORDER BY id ASC
        </where>
        limit #{offset},#{limit}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from voucher_exchange_code
        <where>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="used != null">
                AND used = #{used}
            </if>
            <if test="code != null  and code != ''">
                AND code = #{code}
            </if>
            <if test="keyt != null  and keyt != ''">
                AND keyt = #{keyt}
            </if>
            <if test="batchId != null  and batchId != 0">
                AND batch_id = #{batchId}
            </if>
            AND is_deleted = 0
        </where>
    </select>

    <select id="findByKeyt" resultType="com.jiazhe.youxiang.server.domain.po.VoucherExchangeCodePO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM voucher_exchange_code WHERE keyt = #{keyt} AND is_deleted = 0
    </select>

</mapper>