<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiazhe.youxiang.server.dao.mapper.manual.voucher.VoucherPOManualMapper">
    <resultMap id="BaseResultMap" type="com.jiazhe.youxiang.server.domain.po.VoucherPO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="customer_id" property="customerId" jdbcType="INTEGER" />
        <result column="project_id" property="projectId" jdbcType="INTEGER" />
        <result column="city_codes" property="cityCodes" jdbcType="VARCHAR" />
        <result column="product_ids" property="productIds" jdbcType="VARCHAR" />
        <result column="count" property="count" jdbcType="INTEGER" />
        <result column="exchange_record_id" property="exchangeRecordId" jdbcType="INTEGER" />
        <result column="expiry_time" property="expiryTime" jdbcType="TIMESTAMP" />
        <result column="used" property="used" jdbcType="TINYINT" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="ext_info" property="extInfo" jdbcType="VARCHAR" />
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
        <result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List">
      id,name,description,customer_id,project_id,city_codes,product_ids,count,exchange_record_id,expiry_time,used,status,ext_info,is_deleted,add_time,mod_time
    </sql>

    <select id="findByIds" parameterType="java.util.List"
            resultType="com.jiazhe.youxiang.server.domain.po.VoucherPO">
        select
        <include refid="Base_Column_List"/>
        FROM voucher
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update voucher
            <set>
                name = #{item.name},description = #{item.description},project_id = #{item.projectId},city_codes =
                #{item.cityCodes},product_ids = #{item.productIds},expiry_time = #{item.expiryTime},mod_time = NOW()
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <select id="batchChangeStatus" parameterType="java.util.Map">
        update voucher
        <set>
            status = #{status},mod_time = NOW()
        </set>
        where id in
        <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

</mapper>