<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiazhe.youxiang.server.dao.mapper.manual.voucher.VoucherExchangeRecordPOManualMapper">
    <resultMap id="BaseResultMap" type="com.jiazhe.youxiang.server.domain.po.VoucherExchangeRecordPO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="voucher_id" property="voucherId" jdbcType="INTEGER"/>
        <result column="exchange_code_id" property="exchangeCodeId" jdbcType="INTEGER"/>
        <result column="exchange_type" property="exchangeType" jdbcType="INTEGER"/>
        <result column="operator_id" property="operatorId" jdbcType="INTEGER"/>
        <result column="operator_name" property="operatorName" jdbcType="VARCHAR"/>
        <result column="ext_info" property="extInfo" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
        <result column="mod_time" property="modTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">

    </sql>

</mapper>