<!--选择城市和商品模态框-->
<div id="selectCityAndProductModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">选择可用城市和可用商品</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="col-sm-6">
                            <input type="checkbox" id="checkAllCity" onchange="checkAllCity(this)"/>全选城市
                        </div>
                        <div class="col-sm-6">
                            <input type="checkbox" id="checkAllProduct" onchange="checkAllProduct(this)"/>全选商品
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <div id="cityContent" style="border:1px solid rgb(170,170,170);z-index:10;">
                                    <ul id="cityTree" class="ztree" style="margin-top:0; width:100%; height:auto;">
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div id="productContent" style="border:1px solid rgb(170,170,170);z-index:10;">
                                    <ul id="productTree" class="ztree" style="margin-top:0; width:100%; height:auto;">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm modal-footer-btn" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    取消
                </button>
                <button class="btn btn-sm btn-primary modal-footer-btn" onclick="cityAndProductChoosed()">
                    <i class="ace-icon fa fa-check"></i>
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    var setting = {
        view: {
            selectedMulti: true
        },
        check: {
            enable: true
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        edit: {
            enable: false
        }
    };

    var zCityNodes = [];
    var zProductNodes = [];
    $.ajax({
        url: "/api/syscity/getopenlist",
        dataType: "json",
        async: false,
        type: "GET",
        success: function (data) {
            if ('error' in data) {
                bootboxalert(data.error.message);
            } else {
                var result = data.data;
                for (var i = 0; i < result.length; i++) {
                    var zNode = {};
                    zNode.id = parseInt(result[i].cityCode);
                    zNode.pId = result[i].parentCode == "" ? 0 : parseInt(result[i].parentCode);
                    zNode.name = result[i].cityName;
                    zCityNodes.push(zNode);
                }

            }
        },
        error: function () {
            bootboxalert("服务器异常，请联系管理员");
        }
    });
    $.ajax({
        url: "/api/product/getalllist",
        dataType: "json",
        async: false,
        data: {
            pageSize: 10000,
            pageNum: 1
        },
        type: "GET",
        success: function (data) {
            if ('error' in data) {
                bootboxalert(data.error.message);
            } else {
                var result = data.data;
                for (var i = 0; i < result.length; i++) {
                    var zNode = {};
                    zNode.id = parseInt(result[i].id);
                    zNode.pId = 100000 + parseInt(result[i].productCategory.id);
                    zNode.name = result[i].name;
                    zProductNodes.push(zNode);
                }

            }
        },
        error: function () {
            bootboxalert("服务器异常，请联系管理员");
        }
    });
    $.ajax({
        url: "/api/product/getcategorylist",
        dataType: "json",
        async: false,
        data: {
            pageSize: 10000,
            pageNum: 1
        },
        type: "GET",
        success: function (data) {
            if ('error' in data) {
                bootboxalert(data.error.message);
            } else {
                var result = data.data;
                for (var i = 0; i < result.length; i++) {
                    var zNode = {};
                    zNode.id = 100000 + parseInt(result[i].id);
                    zNode.pId = 0;
                    zNode.name = result[i].name;
                    zProductNodes.push(zNode);
                }

            }
        },
        error: function () {
            bootboxalert("服务器异常，请联系管理员");
        }
    });
    //初始化城市树和商品树
    cityTree = $.fn.zTree.init($("#cityTree"), setting, zCityNodes);
    productTree = $.fn.zTree.init($("#productTree"), setting, zProductNodes);

    function showChooseModal() {
        $("#checkAllCity").prop('checked',false);
        $("#checkAllProduct").prop('checked',false);
        cityTree.checkAllNodes(false);
        productTree.checkAllNodes(false);
        checkNodes();
        $("#selectCityAndProductModal").modal('show');
    }

    function submitNodes() {
        var cityNodes = cityTree.getCheckedNodes(true);
        var productNodes = productTree.getCheckedNodes(true);
        var cityStr = "";
        var productStr = "";
        for (var i = 0; i < cityNodes.length; i++) {
            if(cityNodes[i].level == 1){//选出二级城市，勾选的一级城市不计入
                cityStr += cityNodes[i].id + ",";
            }
        }
        if (cityStr.length > 0) {
            cityStr = cityStr.substring(0, cityStr.length - 1);
        }
        for (var i = 0; i < productNodes.length; i++) {
            if(productNodes[i].level == 1) {//选出商品，勾选的大类不计入
                productStr += productNodes[i].id + ",";
            }
        }
        if (productStr.length > 0) {
            productStr = productStr.substring(0, productStr.length - 1);
        }
        $("#saveCityCodes").val(cityStr);
        $("#saveProductIds").val(productStr);
    }

    //标识选中状态
    function checkNodes() {
        var cityCodes = $("#saveCityCodes").val();
        var cityCodesArr = cityCodes.split(',');
        var productIds = $("#saveProductIds").val();
        var productIdsArr = productIds.split(',');
        var cityNodes = cityTree.getCheckedNodes(false);
        var productNodes = productTree.getCheckedNodes(false);
        for (var i = 0; i < cityNodes.length; i++) {
            if (cityCodesArr.indexOf(cityNodes[i].id + '') > -1) {
                cityTree.checkNode(cityNodes[i], true, false);
            }
        }
        for (var i = 0; i < productNodes.length; i++) {
            if (productIdsArr.indexOf(productNodes[i].id + '') > -1) {
                productTree.checkNode(productNodes[i], true, false);
            }
        }
    }

    function cityAndProductChoosed() {
        submitNodes();
        $("#selectCityAndProductModal").modal('hide');
    }

    //选择所有城市的checkbox
    function checkAllCity(doc){
        if(doc.checked){
            cityTree.checkAllNodes(true);
            console.log('全选')
        }else{
            cityTree.checkAllNodes(false);
            console.log('全不选')
        }
    }

    function checkAllProduct(doc){
        if(doc.checked){
            productTree.checkAllNodes(true);
            console.log('全选')
        }else{
            productTree.checkAllNodes(false);
            console.log('全不选')
        }
        cityTree
    }

</script>