<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/init.css}"/>
    <!-- Javascript -->
    <script th:src="@{/static/init.js}"></script>
</head>

<body class="no-skin">
<div class="main-container ace-save-state" id="main-container">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/main/main_center}">主页</a>
                    </li>
                    <li class="active">代金券兑换码查询</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12" style="padding-top:40px">
                        <shiro:hasPermission name="voucherCodeSearch">
                            <form id="rcExchangeCodeSearchForm" class="form-horizontal" role="form">
                                <input type="hidden" value=0 id="searchBatchId" name="batchId"/>
                                <input type="hidden" value="" id="searchStatus" name="status"/>
                                <input type="hidden" value="" id="searchUsed" name="used"/>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label no-padding-right">卡号：</label>
                                    <div class="col-sm-2">
                                        <div class="pos-rel">
                                            <input id="searchCode" name="code" class="form-control" type="text"
                                                   style="height:30px"/>
                                        </div>
                                    </div>
                                    <label class="col-sm-1 control-label no-padding-right">密码：</label>
                                    <div class="col-sm-2">
                                        <div class="pos-rel">
                                            <input id="searchKeyt" name="keyt" class="form-control" type="text"
                                                   style="height:30px"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-white btn-default btn-round btn-sm"
                                                onclick="return search()">
                                            <i class="ace-icon fa fa-search red2"></i>
                                            查询
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </shiro:hasPermission>
                    </div><!-- /.col -->

                    <div class="col-xs-12" style="text-align: right" id="buttonDiv">
                        <p style="margin:1px;height: 31px">

                        </p>
                    </div><!-- /.col -->

                    <div class="col-xs-12">
                        <table id="grid-table"></table>

                        <div id="grid-pager"></div>
                    </div><!-- /.col -->

                    <div id="modal-form" class="modal fade" tabindex="-1" style="overflow: scroll" aria-hidden="true" data-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="blue bigger" id="modal-title">修改兑换码信息</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-1"></div>
                                        <div class="col-xs-12 col-sm-10">
                                            <form id="codeSaveForm" class="form-horizontal" role="form">
                                                <input type="hidden" name="id" id="saveCodeId">
                                                <input type="hidden" name="productIds" id="saveProductIds">
                                                <input type="hidden" name="cityCodes" id="saveCityCodes">
                                                <input type="hidden" name="expiryType" value=0 id="saveExpiryType">
                                                <input type="hidden" name="validityPeriod" value=0 id="saveValidityPeriod">
                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">代金券名称：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="saveVoucherName" name="voucherName"
                                                                   class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">适用范围：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input class="form-control" onclick="showChooseModal();"
                                                                   type="text" value="点击选择适用范围" style="height:30px"
                                                                   readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right"
                                                           for="saveExpiryTime">兑换码过期时间：</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <input class="form-control date-picker" id="saveExpiryTime"
                                                                   type="text" readonly/>
                                                            <span class="input-group-addon">
                                                                            <i class="fa fa-calendar bigger-110"></i>
                                                                        </span>
                                                            <input type="hidden" value=0 name="expiryTime"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right"> 【代金券有效期】</label>
                                                    <div class="col-sm-8"></div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">
                                                        <input id="saveDeadLineRadio" type="radio"
                                                               name="expiryTypeRadio"
                                                               value="0" checked="checked"/>&nbsp;&nbsp;指定有效时间：
                                                    </label>
                                                    <div class="col-sm-4 saveDeadLine">
                                                        <div class="input-group">
                                                            <input class="form-control date-picker"
                                                                   id="saveVoucherEffectiveTime"
                                                                   type="text" readonly/>
                                                            <span class="input-group-addon">
                                                                            <i class="fa fa-calendar bigger-110"></i>
                                                                        </span>
                                                            <input type="hidden" value=0 name="voucherEffectiveTime"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4 saveDeadLine">
                                                        <div class="input-group">
                                                            <input class="form-control date-picker"
                                                                   id="saveVoucherExpiryTime" type="text" readonly/>
                                                            <span class="input-group-addon">
                                                                            <i class="fa fa-calendar bigger-110"></i>
                                                                        </span>
                                                            <input type="hidden" value=0 name="voucherExpiryTime"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">
                                                        <input id="saveExchangePeriodRadio" type="radio"
                                                               name="expiryTypeRadio"
                                                               value="1"/>&nbsp;&nbsp;自兑换之日起：
                                                    </label>
                                                    <div class="col-sm-8 saveExchangePeriod" style="display:none;">
                                                        <div class="pos-rel col-sm-11">
                                                            <input id="saveExchangePeriod" class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            天
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">
                                                        <input id="saveActivePeriodRadio" type="radio"
                                                               name="expiryTypeRadio"
                                                               value="2"/>&nbsp;&nbsp;自激活之日起：
                                                    </label>
                                                    <div class="col-sm-8 saveActivePeriod" style="display:none;">
                                                        <div class="pos-rel col-sm-11">
                                                            <input id="saveActivePeriod" class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            天
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right"
                                                           for="saveDescription">描述信息：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                             <textarea id="saveDescription" name="batchDescription"
                                                                       class="form-control"
                                                                       style="resize:none;height: 100px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-sm modal-footer-btn" data-dismiss="modal">
                                        <i class="ace-icon fa fa-times"></i>
                                        取消
                                    </button>

                                    <button class="btn btn-sm btn-primary modal-footer-btn" onclick="save()">
                                        <i class="ace-icon fa fa-check"></i>
                                        保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
</div><!-- /.main-container -->
<div id="modal-table" class="modal fade" tabindex="-1" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    消费记录
                </div>
            </div>
            <div class="modal-body no-padding" style="height:250px">
                <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                    <thead>
                    <tr>
                        <th>商品名称</th>
                        <th>商品单价</th>
                        <th>商品数量</th>
                        <th>下单时间</th>
                        <th>订单状态</th>
                    </tr>
                    </thead>
                    <tbody id="modelTbody">
                    <!--此处放消费记录-->
                    </tbody>
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div id="selectCityAndProduct"></div>
</body>
<script type="text/javascript">
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";
    var orderStatus = ['待付款', '待派单', '待服务', '服务完成', '取消待审核', '取消未通过', '已取消'];

    $(function () {
        //重新修改表格宽度
        $(window).resize(function () {
            $("#grid-table").setGridWidth($(window).width() * 0.96);
        });
        $('#selectCityAndProduct').load('../pageimport/selectcityandproduct');

        initDatePicker();

        $("input[name=expiryTypeRadio]").bind("change", function () {
            if ($("input[name=expiryTypeRadio]:checked").val() == 0) {
                $(".saveDeadLine").css("display", "");
                $(".saveExchangePeriod").css("display", "none");
                $(".saveActivePeriod").css("display", "none");
                $("#saveExpiryType").val(0);
            }
            if ($("input[name=expiryTypeRadio]:checked").val() == 1) {
                $(".saveDeadLine").css("display", "none");
                $(".saveExchangePeriod").css("display", "");
                $(".saveActivePeriod").css("display", "none");
                $("#saveExpiryType").val(1);
            }
            if ($("input[name=expiryTypeRadio]:checked").val() == 2) {
                $(".saveDeadLine").css("display", "none");
                $(".saveExchangePeriod").css("display", "none");
                $(".saveActivePeriod").css("display", "");
                $("#saveExpiryType").val(2);
            }
        });

        var tableOption = {
            url: "/api/voucherexchangecode/searchlistpage",
            postData: transformToJson($('#rcExchangeCodeSearchForm').serializeArray()),
            datatype: 'local',
            colNames: ['', '批次名称', '代金券名称', '卡号', '密码', '停用状态', '使用状态', '客户电话', '兑换商品数量', '兑换码过期时间', '代金券有效期', '操作'],
            colModel: [
                {name: 'id', index: 'id', sortable: false, hidden: true},
                {name: 'batchName', index: 'batchName', width: 100, sortable: false},
                {name: 'voucherName', index: 'voucherName', width: 50, sortable: false},
                {name: 'code', index: 'code', width: 80, sortable: false},
                {name: 'keyt', index: 'keyt', width: 80, sortable: false},
                {
                    name: 'status',
                    index: 'status',
                    width: 30,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var text = rowObject.status == 1 ? "启用" : "停用";
                        var color = rowObject.status == 1 ? "00FF00" : "0000FF";
                        return generateSpan(text, color);
                    }
                },
                {
                    name: 'used',
                    index: 'used',
                    width: 30,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var text = rowObject.used == 1 ? "已使用" : "未使用";
                        var color = rowObject.used == 1 ? "FF0000" : "00FF00";
                        return generateSpan(text, color)
                    }
                },
                {name: 'customerResp.mobile', index: 'customerResp.mobile', width: 60, sortable: false},
                {name: 'count', index: 'count', width: 50, sortable: false},
                {
                    name: 'expiryTime',
                    index: 'expiryTime',
                    width: 50,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return timeFormat(rowObject.expiryTime);
                    }
                },
                {
                    name: 'expiryType',
                    index: 'expiryType',
                    width: 50,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if(rowObject.expiryType == 0){
                            return timeFormat(rowObject.voucherEffectiveTime)+"至"+timeFormat(rowObject.voucherExpiryTime);
                        }
                        if(rowObject.expiryType == 1){
                            return "自兑换之日起，"+rowObject.validityPeriod+"日有效";
                        }
                        if(rowObject.expiryType == 2){
                            return "自激活之日起，"+rowObject.validityPeriod+"日有效";
                        }
                    }
                },
                {
                    name: '_action', index: '_action', width: 100, sortable: false, formatter: customFormatter
                }
            ],
            caption: "代金券兑换码查询结果列表"
        };
        initTable(grid_selector, pager_selector, tableOption);
    });

    function search() {
        jQuery(grid_selector).setGridParam({
            url: "/api/voucherexchangecode/searchlistpage",
            postData: transformToJson($('#rcExchangeCodeSearchForm').serializeArray()),
            datatype: 'json',
        }).trigger("reloadGrid", [{page: 1}]);
        return false;
    }

    function customFormatter(cellvalue, options, rowObject) {
        var str = "";
        if (rowObject.used == 0) {
            if (permission.indexOf("voucherCodeSearchEdit") != -1) {
                str += getFunctionButton("btn-info", "openEdit(" + rowObject.id + ")", "修改");
            }
            if (permission.indexOf("voucherCodeSearchStatusChange") != -1) {
                if (rowObject.status == 0) {
                    str += getFunctionButton("btn-success", "startUsing(" + rowObject.id + ")", "启用");
                } else {
                    str += getFunctionButton("btn-danger", "stopUsing(" + rowObject.id + ")", "停用");
                }
            }
        } else {
            str += getFunctionButton("btn-green", "getOrderPaymentList(" + rowObject.id + ")", "消费记录");
        }
        return str;
    }

    //启用兑换码
    function startUsing(id) {
        confirm("确定启用该兑换码吗？", function (result) {
            if (result) {
                $.ajax({
                    url: "/api/voucherexchangecode/startusing",
                    dataType: "json",
                    async: false,
                    data: {
                        id: id
                    },
                    type: "POST",
                    success: success,
                    error: error
                });
            }
        })
    }

    //停用兑换码
    function stopUsing(id) {
        confirm("确定停用该兑换码吗？", function (result) {
            if (result) {
                $.ajax({
                    url: "/api/voucherexchangecode/stopusing",
                    dataType: "json",
                    async: false,
                    data: {
                        id: id
                    },
                    type: "POST",
                    success: success,
                    error: error
                });
            }
        })
    }

    function save() {
        var saveExpiryType = $("#saveExpiryType").val();
        if (saveExpiryType == 1 || saveExpiryType == 2) {
            var validPeriod = saveExpiryType == 1 ? $("#saveExchangePeriod").val() : $("#saveActivePeriod").val();
            $("#saveValidityPeriod").val(validPeriod);
            if (!isNumber($("#saveValidityPeriod").val())) {
                var error = saveExpiryType == 1 ? "自兑换之日有效天数非法" : "自激活之日有效天数非法";
                bootboxalert(error);
                return false;
            }
        }
        $.ajax({
            url: "/api/voucherexchangecode/editsave",
            dataType: "json",
            async: false,
            data: transformToJson($('#codeSaveForm').serializeArray()),
            type: "POST",
            success: success,
            error: error
        });
    }

    function openEdit(id) {
        $("#codeSaveForm #saveVoucherEffectiveTime").val("");
        $('#saveVoucherEffectiveTime').datepicker('update');
        $("#codeSaveForm #saveVoucherEffectiveTime").next().next().val(0);
        $("#codeSaveForm #saveVoucherExpiryTime").val("");
        $('#saveVoucherExpiryTime').datepicker('update');
        $("#codeSaveForm #saveVoucherExpiryTime").next().next().val(0);
        $("#saveExchangePeriod").val("");
        $("#saveActivePeriod").val("");
        $.ajax({
            url: "/api/voucherexchangecode/getbyid",
            dataType: "json",
            async: false,
            data: {
                id: id
            },
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    $("#saveCodeId").val(result.id);
                    $("#codeSaveForm #saveVoucherName").val(result.voucherName);
                    $("#codeSaveForm #saveCityCodes").val(result.cityCodes);
                    $("#codeSaveForm #saveProductIds").val(result.productIds);
                    $("#codeSaveForm #saveExpiryTime").val(dateFormat(result.expiryTime));
                    $('#saveExpiryTime').datepicker('update');
                    $("#codeSaveForm #saveExpiryTime").next().next().val(result.expiryTime);
                    if (result.expiryType == 0) {
                        $("#codeSaveForm #saveVoucherEffectiveTime").val(dateFormat(result.voucherEffectiveTime));
                        $('#saveVoucherEffectiveTime').datepicker('update');
                        $("#codeSaveForm #saveVoucherEffectiveTime").next().next().val(result.voucherEffectiveTime);
                        $("#codeSaveForm #saveVoucherExpiryTime").val(dateFormat(result.voucherExpiryTime));
                        $('#saveVoucherExpiryTime').datepicker('update');
                        $("#codeSaveForm #saveVoucherExpiryTime").next().next().val(result.voucherExpiryTime);
                        $("#codeSaveForm #saveDeadLineRadio").click();
                    }if (result.expiryType == 1) {
                        $("#saveExchangePeriod").val(result.validityPeriod);
                        $("#codeSaveForm #saveExchangePeriodRadio").click();
                    }
                    if (result.expiryType == 2) {
                        $("#saveActivePeriod").val(result.validityPeriod);
                        $("#codeSaveForm #saveActivePeriodRadio").click();
                    }
                    $("#codeSaveForm #saveDescription").val(result.batchDescription);
                    $("#modal-form").modal('show');
                }
            },
            error: error
        });
    }

    function getOrderPaymentList(id) {//显示消费记录
        $("#modelTbody").empty();
        $.ajax({
            url: "/api/orderpayment/getbyvouchercodeid",
            dataType: "json",
            async: false,
            data: {
                id: id
            },
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    for (var i = 0; i < result.length; i++) {
                        var str = "<tr>" +
                            "<td>" + result[i].orderInfoResp.productResp.name + "</td>" +
                            "<td>" + formatNumberWithComma(result[i].orderInfoResp.productPrice) + "</td>" +
                            "<td>" + result[i].orderInfoResp.count + "</td>" +
                            "<td>" + timeFormat(result[i].orderInfoResp.orderTime) + "</td>" +
                            "<td>" + orderStatus[result[i].orderInfoResp.status - 1] + "</td>" +
                            "</td></tr>"
                        $("#modelTbody").append(str);
                    }
                    $("#modal-table").modal('show');
                }
            },
            error: error
        });
    }

</script>
</html>

