<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/init.css}"/>
    <!-- Javascript -->
    <script th:src="@{/static/init.js}"></script>
</head>

<body class="no-skin">
<div class="main-container ace-save-state" id="main-container">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/main/main_center}">主页</a>
                    </li>
                    <li class="active">代金券查询</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12" style="padding-top:40px">
                        <shiro:hasPermission name="voucherSearch">
                            <form id="rcSearchForm" class="form-horizontal" role="form">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label class="col-sm-2 control-label no-padding-right">状态：</label>
                                        <div class="col-sm-2">
                                            <select id="searchStatus" name="status"
                                                    class="selectpicker show-tick form-control">
                                                <option value="">所有</option>
                                                <option value=1>启用</option>
                                                <option value=0>停用</option>
                                            </select>
                                        </div>
                                        <label class="col-sm-2 control-label no-padding-right">过期状态：</label>
                                        <div class="col-sm-2">
                                            <select id="searchExpiry" name="expiry"
                                                    class="selectpicker show-tick form-control">
                                                <option value="">所有</option>
                                                <option value=1>已过期</option>
                                                <option value=0>未过期</option>
                                            </select>
                                        </div>
                                        <label class="col-sm-2 control-label no-padding-right">兑换方式：</label>
                                        <div class="col-sm-2">
                                            <select id="searchExchangeType" name="exchangeType"
                                                    class="selectpicker show-tick form-control">
                                                <option value="">所有</option>
                                                <option value=0>后台兑换</option>
                                                <option value=1>前台兑换</option>
                                            </select>
                                        </div>
                                    </div>
                                    <label class="col-sm-1 control-label no-padding-right">客户电话：</label>
                                    <div class="col-sm-2">
                                        <div class="pos-rel">
                                            <input id="searchMobile" name="mobile" class="form-control" type="text"
                                                   th:value="${mobile}"
                                                   style="height:30px"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <button class="btn btn-white btn-default btn-round btn-sm"
                                                onclick="return search()">
                                            <i class="ace-icon fa fa-search red2"></i>
                                            查询
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </shiro:hasPermission>
                    </div><!-- /.col -->

                    <div class="col-xs-12" style="text-align: right" id="buttonDiv">
                        <p style="margin:1px;height: 31px">

                        </p>
                    </div><!-- /.col -->

                    <div class="col-xs-12">
                        <table id="grid-table"></table>

                        <div id="grid-pager"></div>
                    </div><!-- /.col -->

                    <div id="modal-form" class="modal fade" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="blue bigger" id="modal-title">修改代金券信息</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-1"></div>
                                        <div class="col-xs-12 col-sm-9">
                                            <form id="cardSaveForm" class="form-horizontal" role="form">
                                                <input type="hidden" name="id" id="saveCardId">
                                                <input type="hidden" name="productIds" id="saveProductIds">
                                                <input type="hidden" name="cityCodes" id="saveCityCodes">
                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">代金券名称：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="saveVoucherName" name="name"
                                                                   class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">适用范围：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input class="form-control" onclick="showChooseModal();"
                                                                   type="text" value="点击选择适用范围" style="height:30px"
                                                                   readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right"
                                                           for="saveEffectiveTime">代金券生效时间：</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <input class="form-control date-picker" id="saveEffectiveTime"
                                                                   type="text" readonly/>
                                                            <span class="input-group-addon">
                                                                            <i class="fa fa-calendar bigger-110"></i>
                                                                        </span>
                                                            <input type="hidden" value=0 name="effectiveTime"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right"
                                                           for="saveExpiryTime">代金券过期时间：</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <input class="form-control date-picker" id="saveExpiryTime"
                                                                   type="text" readonly/>
                                                            <span class="input-group-addon">
                                                                        <i class="fa fa-calendar bigger-110"></i>
                                                                    </span>
                                                            <input type="hidden" value=0 name="expiryTime"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right"
                                                           for="saveDescription">描述信息：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <textarea id="saveDescription" name="description"
                                                                      class="form-control"
                                                                      style="resize:none;height: 100px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-sm modal-footer-btn" data-dismiss="modal">
                                        <i class="ace-icon fa fa-times"></i>
                                        取消
                                    </button>

                                    <button class="btn btn-sm btn-primary modal-footer-btn" onclick="save()">
                                        <i class="ace-icon fa fa-check"></i>
                                        保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
</div><!-- /.main-container -->
<div id="modal-table" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    消费记录
                </div>
            </div>
            <div class="modal-body no-padding" style="height:250px">
                <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                    <thead>
                    <tr>
                        <th>商品名称</th>
                        <th>商品单价</th>
                        <th>商品数量</th>
                        <th>下单时间</th>
                        <th>订单状态</th>
                    </tr>
                    </thead>
                    <tbody id="modelTbody">
                    <!--此处放消费记录-->
                    </tbody>
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div id="selectCityAndProduct"></div>
</body>
<script type="text/javascript">
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";
    var orderStatus = ['待付款', '待派单', '待服务', '服务完成', '取消待审核', '取消未通过', '已取消'];

    $(function () {
        //重新修改表格宽度
        $(window).resize(function () {
            $("#grid-table").setGridWidth($(window).width() * 0.96);
        });
        $('#selectCityAndProduct').load('../pageimport/selectcityandproduct');
        initDatePicker();

        var tableOption = {
            url: "/api/voucher/searchlistpage",
            postData: transformToJson($('#rcSearchForm').serializeArray()),
            colNames: ['', '代金券名称', '状态', '是否已经使用', '兑换时间', '客户手机号', '客户姓名', '代金券生效时间','代金券过期时间', '兑换类型', '后台操作人', '操作'],
            colModel: [
                {name: 'id', index: 'id', sortable: false, hidden: true},
                {name: 'name', index: 'name', width: 50, sortable: false},
                {
                    name: 'status',
                    index: 'status',
                    width: 30,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var text = rowObject.status == 1 ? "启用" : "停用";
                        var color = rowObject.status == 1 ? "00FF00" : "0000FF";
                        return generateSpan(text, color);
                    }
                },
                {
                    name: 'used',
                    index: 'used',
                    width: 50,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return rowObject.used == 1 ? "已使用" : "未使用";
                    }
                },
                {
                    name: 'addTime',
                    index: 'addTime',
                    width: 60,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return timeFormat(rowObject.addTime);
                    }
                },
                {
                    name: 'customerMobile',
                    index: 'customerResp.mobile',
                    width: 50,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return rowObject.customerResp.mobile;
                    }
                },
                {
                    name: 'customerName',
                    index: 'customerResp.name',
                    width: 50,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return rowObject.customerResp.name;
                    }
                },
                {
                    name: 'effectiveTime',
                    index: 'effectiveTime',
                    width: 50,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return timeFormat(rowObject.effectiveTime);
                    }
                },
                {
                    name: 'expiryTime',
                    index: 'expiryTime',
                    width: 40,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return timeFormat(rowObject.expiryTime)
                    }
                },
                {
                    name: 'voucherExchangeRecordResp.exchangeType',
                    index: 'voucherExchangeRecordResp.exchangeType',
                    width: 50,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.voucherExchangeRecordResp.exchangeType == 0) return "后台兑换";
                        if (rowObject.voucherExchangeRecordResp.exchangeType == 1) return "前台兑换";
                    }
                },
                {
                    name: 'operatorName',
                    index: 'rcExchangeRecordResp.operatorName',
                    width: 50,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return rowObject.voucherExchangeRecordResp.operatorName;
                    }
                },
                {name: '_action', index: '_action', width: 80, sortable: false, formatter: customFormatter}
            ],
            caption: "代金券查询结果列表"
        };
        initTable(grid_selector, pager_selector, tableOption);

    });

    function search() {
        jQuery(grid_selector).setGridParam({
            url: "/api/voucher/searchlistpage",
            postData: transformToJson($('#rcSearchForm').serializeArray()),
        }).trigger("reloadGrid", [{page: 1}]);
        return false;
    }

    function customFormatter(cellvalue, options, rowObject) {
        var str = "";
        if (rowObject.used == 0) {
            if (permission.indexOf("voucherSearchEdit") != -1) {
                str += getFunctionButton("btn-info", "openEdit(" + rowObject.id + ")", "修改");
            }
            if (permission.indexOf("voucherSearchStatusChange") != -1) {
                if (rowObject.status == 0) {
                    str += getFunctionButton("btn-success", "startUsing(" + rowObject.id + ")", "启用");
                } else {
                    str += getFunctionButton("btn-danger", "stopUsing(" + rowObject.id + ")", "停用");
                }
            }
        } else {
            str += getFunctionButton("btn-green", "getOrderPaymentList(" + rowObject.id + ")", "消费记录");
        }
        return str;
    }

    //启用代金券
    function startUsing(id) {
        confirm("确定启用该代金券吗？", function (result) {
            if (result) {
                $.ajax({
                    url: "/api/voucher/startusing",
                    dataType: "json",
                    async: false,
                    data: {
                        id: id
                    },
                    type: "POST",
                    success: success,
                    error: error
                });
            }
        })
    }

    //停用代金券
    function stopUsing(id) {
        confirm("确定停用该代金券吗？", function (result) {
            if (result) {
                $.ajax({
                    url: "/api/voucher/stopusing",
                    dataType: "json",
                    async: false,
                    data: {
                        id: id
                    },
                    type: "POST",
                    success: success,
                    error: error
                });
            }
        })
    }

    function save() {
        $.ajax({
            url: "/api/voucher/editsave",
            dataType: "json",
            async: false,
            data: transformToJson($('#cardSaveForm').serializeArray()),
            type: "POST",
            success: success,
            error: error
        });
    }

    function openEdit(id) {
        $.ajax({
            url: "/api/voucher/getbyid",
            dataType: "json",
            async: false,
            data: {
                id: id
            },
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    $("#saveCardId").val(result.id);
                    $("#cardSaveForm #saveVoucherName").val(result.name);
                    $("#cardSaveForm #saveCityCodes").val(result.cityCodes);
                    $("#cardSaveForm #saveProductIds").val(result.productIds);
                    $("#cardSaveForm #saveExpiryTime").val(dateFormat(result.expiryTime));
                    $('#saveExpiryTime').datepicker('update');
                    $("#cardSaveForm #saveExpiryTime").next().next().val(result.expiryTime);
                    $("#cardSaveForm #saveEffectiveTime").val(dateFormat(result.effectiveTime));
                    $('#saveEffectiveTime').datepicker('update');
                    $("#cardSaveForm #saveEffectiveTime").next().next().val(result.effectiveTime);

                    $("#cardSaveForm #saveDescription").val(result.description);
                    $("#modal-form").modal('show');
                }
            },
            error: error
        });
    }

    function getOrderPaymentList(id) {//显示消费记录
        $("#modelTbody").empty();
        $.ajax({
            url: "/api/orderpayment/getbyvoucherid",
            dataType: "json",
            async: false,
            data: {
                id: id
            },
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    for (var i = 0; i < result.length; i++) {
                        var str = "<tr>" +
                            "<td>" + result[i].orderInfoResp.productResp.name + "</td>" +
                            "<td>" + result[i].orderInfoResp.productPrice + "</td>" +
                            "<td>" + result[i].orderInfoResp.count + "</td>" +
                            "<td>" + timeFormat(result[i].orderInfoResp.orderTime) + "</td>" +
                            "<td>" + orderStatus[result[i].orderInfoResp.status - 1] + "</td>" +
                            "</td></tr>"
                        $("#modelTbody").append(str);
                    }
                    $("#modal-table").modal('show');
                }
            },
            error: error
        });
    }
</script>
</html>

