<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>CRM首页</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/init.css}"/>

    <!-- Javascript -->
    <script th:src="@{/static/init.js}"></script>

    <style>
        .form-group {
            margin-bottom: 0px;
        }
    </style>
</head>

<body class="no-skin">

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/main/main_center}">主页</a>
                    </li>
                    <li class="active">代金券查询</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12" style="padding-top:40px">
                        <form id="rcSearchForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="col-sm-2 control-label no-padding-right">状态：</label>
                                    <div class="col-sm-2">
                                        <select id="searchStatus" name="status" class="selectpicker show-tick form-control">
                                            <option value="">所有</option>
                                            <option value=1>启用</option>
                                            <option value=0>停用</option>
                                        </select>
                                    </div>
                                    <label class="col-sm-2 control-label no-padding-right">过期状态：</label>
                                    <div class="col-sm-2">
                                        <select id="searchExpiry" name="expiry" class="selectpicker show-tick form-control">
                                            <option value="">所有</option>
                                            <option value=1>已过期</option>
                                            <option value=0>未过期</option>
                                        </select>
                                    </div>
                                    <label class="col-sm-2 control-label no-padding-right">兑换方式：</label>
                                    <div class="col-sm-2">
                                        <select id="searchExchangeType" name="exchangeType" class="selectpicker show-tick form-control">
                                            <option value="">所有</option>
                                            <option value=0>后台兑换</option>
                                            <option value=1>前台兑换</option>
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label no-padding-right">客户电话：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <input id="searchMobile" name="mobile" class="form-control" type="text"
                                               style="height:30px"/>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-white btn-default btn-round btn-sm"
                                            onclick="return search()">
                                        <i class="ace-icon fa fa-search red2"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.col -->

                    <div class="col-xs-12" style="text-align: right" id="buttonDiv">
                        <p style="margin:1px;height: 31px">

                        </p>
                    </div><!-- /.col -->

                    <div class="col-xs-12">
                        <table id="grid-table"></table>

                        <div id="grid-pager"></div>
                    </div><!-- /.col -->

                    <div id="modal-form" class="modal fade" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="blue bigger" id="modal-title">修改代金券信息</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-1"></div>
                                        <div class="col-xs-12 col-sm-9">
                                            <form id="cardSaveForm" class="form-horizontal" role="form">
                                                <input type="hidden" name="id" id="saveCardId">
                                                <input type="hidden" name="productIds" id="saveProductIds">
                                                <input type="hidden" name="cityCodes" id="saveCityCodes">
                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">代金券名称：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="saveVoucherName" name="name"
                                                                   class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">适用范围：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input class="form-control" onclick="showChooseModal();"
                                                                   type="text" value="点击选择适用范围" style="height:30px"
                                                                   readonly/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right"
                                                           for="saveExpiryTime">到期时间：</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <input class="form-control date-picker" id="saveExpiryTime"
                                                                   name="expiryTime" type="text"/>
                                                            <span class="input-group-addon">
                                                                    <i class="fa fa-calendar bigger-110"></i>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right"
                                                           for="saveDescription">描述信息：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="saveDescription" name="description"
                                                                   class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-sm modal-footer-btn" data-dismiss="modal">
                                        <i class="ace-icon fa fa-times"></i>
                                        取消
                                    </button>

                                    <button class="btn btn-sm btn-primary modal-footer-btn" onclick="save()">
                                        <i class="ace-icon fa fa-check"></i>
                                        保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <!--<div class="footer">
        <div class="footer-inner">
            <div class="footer-content" style="padding: 0px;">
						<span class="bigger-120">
							<span class="blue bolder"></span>
							悠享后台管理系统 &copy; 2018
						</span>
                &nbsp; &nbsp;
            </div>
        </div>
    </div>-->
</div><!-- /.main-container -->
<div id="selectCityAndProduct">

</div>
</body>
<script type="text/javascript">
    var permission = getCookie("permission");

    $(function () {
        //重新修改表格宽度
        $(window).resize(function () {
            $("#grid-table").setGridWidth($(window).width() * 0.96);
        });
        $('#selectCityAndProduct').load('../pageimport/selectcityandproduct');

        $('.date-picker').datepicker({
            language: 'zh-CN',//选择语言
            autoclose: true,
            todayHighlight: true
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

    });

    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";
    jQuery(grid_selector).jqGrid({
        subGrid: false, // 此处设置为true时可以打开子项,子项用不到已删除
        url: "../api/voucher/searchlistpage",// 获取数据的地址
        postData: transformToJson($('#rcSearchForm').serializeArray()),
        rownumbers: true,
        datatype: "json",
        mtype: "GET",
        hidegrid: false,//收缩列表按钮
        prmNames: {
            page: "pageNum",
            rows: "pageSize"
        },// 重新定义分页信息
        width: "100%",
        autowidth: true,
        height: 350,
        colNames: ['','代金券名称', '状态', '是否已经使用', '兑换时间','客户手机号','客户姓名','过期时间','兑换类型','后台操作人', '操作'],
        colModel: [
            {name: 'id', index: 'id', sortable: false, hidden: true},
            {name: 'name', index: 'name', width: 50, sortable: false},
            {
                name: 'status',
                index: 'status',
                width: 30,
                sortable: false,
                formatter: function (cellvalue, options, rowObject) {
                    return rowObject.status == 1 ? "启用" : "停用";
                }
            },
            {
                name: 'used',
                index: 'used',
                width: 50,
                sortable: false,
                formatter: function (cellvalue, options, rowObject) {
                    return rowObject.used == 1 ? "已使用" : "未使用";
                }
            },
            {name: 'addTime', index: 'addTime', width: 60, sortable: false,formatter: function(cellvalue, options, rowObject){
                return timeFormat(rowObject.addTime);
            }},
            {name: 'customerMobile', index: 'customerResp.mobile', width: 50, sortable: false,formatter: function(cellvalue, options, rowObject){
                return rowObject.customerResp.mobile;
            }},
            {name: 'customerName', index: 'customerResp.name', width: 50, sortable: false,formatter: function(cellvalue, options, rowObject){
                return rowObject.customerResp.name;
            }},
            {name: 'expiryTime', index: 'expiryTime', width: 40, sortable: false,formatter: function (cellvalue, options, rowObject) {
                return dateFormat(rowObject.expiryTime)
            }},
            {name: 'voucherExchangeRecordResp.exchangeType', index: 'voucherExchangeRecordResp.exchangeType', width: 50, sortable: false,formatter: function(cellvalue, options, rowObject){
                if(rowObject.voucherExchangeRecordResp.exchangeType == 0) return "后台兑换";
                if(rowObject.voucherExchangeRecordResp.exchangeType == 1) return "前台兑换";
            }},
            {name: 'operatorName', index: 'rcExchangeRecordResp.operatorName', width: 50, sortable: false,formatter: function(cellvalue, options, rowObject){
                return rowObject.voucherExchangeRecordResp.operatorName;
            }},
            {name: '_action', index: '_action', width:50,sortable: false, formatter: customFormatter}
        ],
        rowNum: 10,
        rowList: [10, 20, 30],
        pager: pager_selector,
        altRows: true,
        viewrecords: true,
        emptyrecords: "0条数据",
        loadComplete: function (data) {
            var table = this;
            setTimeout(function () {
                $("#jqgh_grid-table_rn").empty().append("序号");//第一列加上列名
                updatePagerIcons(table);//美化【首页，下一页，上一页，末页】
            }, 0);
        },
        jsonReader: { // jsonReader来跟服务器端返回的数据做对应
            root: "data", // 包含实际数据的数组
            page: "paging.currPage", // 当前页
            total: "paging.totalPage",// 总页数
            records: "paging.total", // 查询出的记录数
            repeatitems: false
        },
        caption: "代金券查询结果列表"
    });
    $(window).triggerHandler('resize.jqGrid');//trigger window resize to make the grid get the correct size

    //replace icons with FontAwesome icons like above
    function updatePagerIcons(table) {
        var replacement =
            {
                'ui-icon-seek-first': 'ace-icon fa fa-angle-double-left bigger-140',
                'ui-icon-seek-prev': 'ace-icon fa fa-angle-left bigger-140',
                'ui-icon-seek-next': 'ace-icon fa fa-angle-right bigger-140',
                'ui-icon-seek-end': 'ace-icon fa fa-angle-double-right bigger-140'
            };
        $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
            var icon = $(this);
            var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
            if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
        })
    }

    function search() {
        jQuery(grid_selector).setGridParam({
            url: "../api/voucher/searchlistpage",// 获取数据的地址
            postData: transformToJson($('#rcSearchForm').serializeArray()),
        }).trigger("reloadGrid", [{page: 1}]);
        return false;
    }

    function customFormatter(cellvalue, options, rowObject) {
        var str = "";
        if(rowObject.used == 0){
            str = str + "<a class='btn btn-minier btn-info' href=\"javascript:openEdit('" + rowObject.id + "')\">" +
                "<i class='ace-icon'>修改</i>" +
                "</a>&nbsp;&nbsp;";
            if(rowObject.status == 0){
                str = str + "<a class='btn btn-minier btn-success' href=\"javascript:startUsing('" + rowObject.id + "')\">" +
                    "<i class='ace-icon'>启用</i>" +
                    "</a>";
            }else{
                str = str + "<a class='btn btn-minier btn-danger' href=\"javascript:stopUsing('" + rowObject.id + "')\">" +
                    "<i class='ace-icon'>停用</i>" +
                    "</a>&nbsp;&nbsp;";
            }
        }
        return str;
    }

    //启用代金券
    function startUsing(id) {
        $.ajax({
            url: "../api/voucher/startusing",
            dataType: "json",
            async: false,
            data: {
                id: id
            },
            type: "POST",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    bootboxalert("启用代金券成功");
                    jQuery(grid_selector).setGridParam({}).trigger("reloadGrid");
                }
            },
            error: function () {
                bootboxalert("服务器异常，请联系管理员");
            }
        });
    }

    //停用代金券
    function stopUsing(id) {
        $.ajax({
            url: "../api/voucher/stopusing",
            dataType: "json",
            async: false,
            data: {
                id: id
            },
            type: "POST",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    bootboxalert("停用代金券成功");
                    jQuery(grid_selector).setGridParam({}).trigger("reloadGrid");
                }
            },
            error: function () {
                bootboxalert("服务器异常，请联系管理员");
            }
        });
    }

    function save() {
        $.ajax({
            url: "../api/voucher/editsave",
            dataType: "json",
            async: false,
            data: transformToJson($('#cardSaveForm').serializeArray()),
            type: "POST",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    $("#modal-form").modal('hide');
                    jQuery(grid_selector).setGridParam({}).trigger("reloadGrid");
                }
            },
            error: function () {
                bootboxalert("服务器异常，请联系管理员");
            }
        });
    }

    function openEdit(id) {
        $.ajax({
            url: "../api/voucher/getbyid",
            dataType: "json",
            async: false,
            data: {
                id: id
            },
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    $("#saveCardId").val(result.id);
                    $("#cardSaveForm #saveVoucherName").val(result.name);
                    $("#cardSaveForm #saveCityCodes").val(result.cityCodes);
                    $("#cardSaveForm #saveProductIds").val(result.productIds);
                    $("#cardSaveForm #saveExpiryTime").val(dateFormat(result.expiryTime));
                    $("#codeSaveForm #saveDescription").val(result.description);
                    $("#modal-form").modal('show');
                }
            },
            error: function () {
                bootboxalert("服务器异常，请联系管理员");
            }
        });
    }

</script>
</html>

