<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>CRM首页</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="../static/init.css"/>

    <!-- Javascript -->
    <script src="../static/init.js"></script>

    <style>
        .form-group {
            margin-bottom: 0px;
        }
        .buttonDiv{
            padding-top:32px;
        }
    </style>
</head>

<body class="no-skin">

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="../main/main_center">主页</a>
                    </li>
                    <li>
                        <a href="#">系统管理</a>
                    </li>
                    <li class="active">系统字典</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="widget-box widget-color-blue2">
                            <div class="widget-header">
                                <h4 class="widget-title lighter smaller">字典列表</h4>
                                <a class="btn btn-success btn-round btn-sm" role="button" href="#modal-form" data-toggle="modal">
                                    <i class="ace-icon fa fa-plus"></i>添加字典
                                </a>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main padding-8">
                                    <ul id="tree1"></ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <table id="grid-table"></table>
                    </div>
                    <div id="modal-form" class="modal fade" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="blue bigger" id="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-1"></div>
                                        <div class="col-xs-12 col-sm-9">
                                            <form id="sysDicSaveForm" class="form-horizontal" role="form">
                                                <input type="hidden" name="id" value="">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">名称：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="name" name="name" class="form-control" type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">类型：</label>
                                                    <div class="col-sm-8">
                                                        <div class="radio">
                                                            <label>
                                                                <input name="type" type="radio" value="1" class="ace" th:checked="true"/>
                                                                <span class="lbl"> 字典类</span>
                                                            </label>
                                                            <label>
                                                                <input name="type" type="radio" value="2" class="ace"/>
                                                                <span class="lbl"> 字典</span>
                                                            </label>
                                                            <label>
                                                                <input name="type" type="radio" value="3" class="ace"/>
                                                                <span class="lbl"> 字典值</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">排序：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="priority" name="priority" class="form-control" type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">所属类：</label>
                                                    <div class="col-sm-8">
                                                        <select id="fatherId1" name="fatherId1" class="form-control" onchange="father1Changed()">

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">所属字典：</label>
                                                    <div class="col-sm-8">
                                                        <select id="fatherId2" name="fatherId2" class="form-control">

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">备注：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <textarea class="form-control" id="remark" name="remark" style="resize:none"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-sm modal-footer-btn" data-dismiss="modal">
                                        <i class="ace-icon fa fa-times"></i>
                                        取消
                                    </button>

                                    <button class="btn btn-sm btn-primary modal-footer-btn" onclick="save()">
                                        <i class="ace-icon fa fa-check"></i>
                                        保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <!--<div class="footer">
        <div class="footer-inner">
            <div class="footer-content" style="padding: 0px;">
						<span class="bigger-120">
							<span class="blue bolder"></span>
							中国通广电子有限公司CRM管理系统 &copy; 2018
						</span>
                &nbsp; &nbsp;
            </div>
        </div>
    </div>-->
</div><!-- /.main-container -->
</div>
</body>
<script type="text/javascript">
    var permission = getCookie("permission");
    var grid_selector = "#grid-table";
    $(function($){
        var tree_data ;
        var sampleData = initiateDemoData('');//see below
        $('#tree1').ace_tree({
            dataSource: sampleData['dataSource'],
            multiSelect: false,
            cacheItems: true,
            'open-icon' : 'ace-icon tree-minus',
            'close-icon' : 'ace-icon tree-plus',
            'itemSelect' : true,
            'folderSelect': false,
            'selected-icon' : 'ace-icon fa fa-check',
            'unselected-icon' : 'ace-icon fa fa-times',
            loadingHTML : '<div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div>'
        });

        $('#tree1').on('selected.fu.tree', function(e, result) {
            $(grid_selector).jqGrid("setCaption",'字典值-'+result.target.text);
            jQuery(grid_selector).setGridParam({
                url : "../sysdictionary/listSysDicByFatherId",// 获取数据的地址
                postData: {
                    fatherId: result.target.id
                }
            }).trigger("reloadGrid");
        });

        jQuery(grid_selector).jqGrid({
            subGrid : false, // 此处设置为true时可以打开子项,子项用不到已删除
            rownumbers : true,
            datatype : "json",
            mtype : "POST",
            hidegrid : false,//收缩列表按钮
            width:"100%",
            autowidth:true,
            height:350,
            colNames : ['','字典值','排序', '备注','操作'],
            colModel : [
                {name:'id',index:'id',sortable:false,hidden:true},
                {name:'name',index:'name',sortable:false},
                {name:'priority',index:'priority',sortable:false},
                {name:'remark',index:'remark',sortable:false},
                {name:'_action',index:'_action',sortable:false,formatter:customFormatter}
            ],
            altRows : true,
            viewrecords : true,
            caption : "字典值",
            loadComplete : function(data) {
               $("#jqgh_grid-table_rn").empty().append("序号");//第一列加上列名
            }
        });

        function getTreeData(fatherId){
            $.ajax({
                url:"../sysdictionary/getSysDicByFatherId",    //请求的url地址
                dataType:"json",
                async:false,
                data:{
                    fatherId: fatherId
                },
                type:"GET",
                success:function(result){
                    tree_data = result ;
                },
                error:function(){
                    bootboxalert("服务器异常，请联系管理员");
                }
            });
            return tree_data;
        }

        function initiateDemoData(fatherId){
            var dataSource = function(options, callback){
                var $data = null
                if(!("text" in options) && !("type" in options)){
                    $data = getTreeData('');//the root tree
                    callback({ data: $data });
                    return;
                }
                else if("type" in options && options.type == "folder") {
                    if("additionalParameters" in options && "children" in options.additionalParameters)
                        $data = options.additionalParameters.children || getTreeData(options.id);
                    else $data = getTreeData(options.id)//no data
                }
                if($data != null)//this setTimeout is only for mimicking some random delay
                    callback({ data: $data });
            }
            return {'dataSource': dataSource}
        }
    });

    function customFormatter(cellvalue, options, rowObject){
        var str = "";
        str = str +"<a class='btn btn-minier btn-danger' href=\"javascript:deleteOne('"+rowObject[0]+"')\">" +
            "<i class='ace-icon fa fa-trash'></i>" +
            "</a>&nbsp;&nbsp;";
        str = str + "<a class='btn btn-minier btn-info' href=\"javascript:openEdit('"+rowObject[0]+"')\">" +
            "<i class='ace-icon fa fa-pencil'></i>" +
            "</a>&nbsp;&nbsp;";
        return str ;
    }

    function save() {
        $.ajax({
            url:"../sysdictionary/save",    //请求的url地址
            dataType:"json",
            async:false,
            data:transformToJson($('#sysDicSaveForm').serializeArray()),
            type:"GET",
            success:function(result){
                $("#modal-form").modal("hide");
            },
            error:function(){
                bootboxalert("服务器异常，请联系管理员");
            }
        });
    }

    $("input[name='type']").click(function () {
        var temp = $("input[name='type']:checked").val();
        if(temp == '1'){
            $("#fatherId1").empty();
            $("#fatherId2").empty();
        }
        if(temp == '2'){
            fillSelect("","#fatherId1");
            $("#fatherId2").empty();
        }
        if(temp == '3'){
            fillSelect("","#fatherId1");
            fillSelect($("#fatherId1").val(),"#fatherId2");
        }
    });

    function fillSelect(fatherId,selectId){
        $(selectId).empty();
        $.ajax({
            url:"../sysdictionary/getSysDicJsonByFatherId",    //请求的url地址
            dataType:"json",
            async:false,
            data:{
                fatherId:fatherId
            },
            type:"GET",
            success:function(result){
                for(var i=0;i<result.length;i++){
                    $(selectId).append("<option value='"+result[i].id+"'>"+result[i].name+"</option>")
                }
            },
            error:function(){
                bootboxalert("服务器异常，请联系管理员");
            }
        });
    }

    function father1Changed() {
        var temp = $("input[name='type']:checked").val();
        if(temp=='3'){
            fillSelect($("#fatherId1").val(),"#fatherId2");
        }
    }
</script>
</html>

