<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/init.css}"/>
    <link rel="stylesheet" th:href="@{/static/editable-select/css/jquery-editable-select.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/Viewer.js/css/viewer.min.css}"/>
    <!-- Javascript -->
    <script th:src="@{/static/init.js}"></script>
    <script th:src="@{/static/editable-select/js/jquery-editable-select.min.js}"></script>
    <script th:src="@{/static/Viewer.js/js/viewer.min.js}"></script>
    <style>
        .ui-jqgrid .ui-jqgrid-bdiv {
            overflow-x: auto;
        }

        #img_show::-webkit-scrollbar {
            width: 15px;
            height: 15px;
        }

        #ShowImage_Form::-webkit-scrollbar {
            width: 15px;
            height: 15px;
        }

        .float {
            overflow: hidden;
        }

        .item {
            float: left;
            height: 100px;
            width: 31%;
            border-right: 3px solid #fff;
            border-top: 3px solid #fff;
        }

        .pic_div {
            position: relative;
            background-color: white;
            width: auto;
            overflow: scroll;
            height: 500px;
        }

        .viewer-container {
            position: relative;
            min-height: 400px;
            height: 100% !important;
            width: 100% !important;
        }
        .modal-dialog{
            margin-right: 10px !important;
            width: 78%;
            min-width: 600px;
        }
        #ShowImage_Form .modal-body {
            height: 90%;
        }

        #img_show {
            height: 100%;
        }
    </style>
</head>

<body class="no-skin">
<div class="main-container ace-save-state" id="main-container">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/main/main_center}">主页</a>
                    </li>
                    <li>
                        <a th:href="@{/auditrecord/index}">充值审核</a>
                    </li>
                    <li class="active" th:text="凭证管理"></li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="row">

                    <div class="col-xs-12" style="text-align: right" id="buttonDiv">
                        <p style="margin:1px;height: 31px">
                            <shiro:hasPermission name="chargeReceiptAdd">
                                <a class="btn btn-success btn-round btn-sm" role="button" href="#modal-form"
                                   data-toggle="modal" onclick="openNew()">
                                    <i class="ace-icon fa fa-plus"></i>新建
                                </a>
                            </shiro:hasPermission>
                        </p>
                    </div><!-- /.col -->

                    <div class="col-xs-12">
                        <div class="col-sm-3">
                            <div class="profile-user-info profile-user-info-striped">
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 凭证完成情况</div>
                                    <div class="profile-info-value">
                                        <span id="chargeReceiptStatus"></span>
                                        <input type="hidden" name="check" id="totalPointCheck" th:value="1"/>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 银行信息</div>
                                    <div class="profile-info-value">
                                        <span id="bankOutletsName"></span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 兑换类型</div>
                                    <div class="profile-info-value">
                                        <span id="exchangeType"></span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 审核状态</div>
                                    <div class="profile-info-value">
                                        <span id="status"></span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 兑换总积分</div>
                                    <div class="profile-info-value">
                                        <span id="totalExchangePoint"></span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 小票总积分</div>
                                    <div class="profile-info-value">
                                        <span id="totalChargeReceiptPoint"></span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 客户姓名</div>
                                    <div class="profile-info-value">
                                        <span id="customerName"></span>
                                    </div>
                                </div>

                                <div class="profile-info-row exchangeType1">
                                    <div class="profile-info-name"> 客户电话</div>
                                    <div class="profile-info-value">
                                        <span id="customerMobile"></span>
                                    </div>
                                </div>

                                <div class="profile-info-row exchangeType1">
                                    <div class="profile-info-name"> 后台充值积分</div>
                                    <div class="profile-info-value">
                                        <span id="givingPoint"></span>
                                    </div>
                                </div>

                                <div class="profile-info-row exchangeType2">
                                    <div class="profile-info-name"> 兑换码卡号</div>
                                    <div class="profile-info-value">
                                        <span id="pointCodes"></span>
                                    </div>
                                </div>

                                <div class="profile-info-row exchangeType3">
                                    <div class="profile-info-name"> 商品价值</div>
                                    <div class="profile-info-value">
                                        <span id="productValue"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-9">
                            <table id="grid-table"></table>

                            <div id="grid-pager"></div>
                        </div>
                    </div><!-- /.col -->

                    <!--提交信息模态框-->
                    <div id="modal-form" class="modal fade" tabindex="-1" style="overflow: scroll;" aria-hidden="true"
                         data-backdrop="static">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="blue bigger" id="modal-title">小票凭证详情</h4>
                                </div>
                                <div class="modal-body" style="text-align: center">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-7">
                                            <!--<a href="javascript:rotatePicture()" title="顺时针旋转90度">-->
                                                <!--<i class="ace-icon fa fa-repeat"></i>-->
                                            <!--</a>-->
                                            <div class="pic_div" id="img_show">

                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-5">
                                            <div class="col-xs-12 col-sm-12">
                                                <form id="chargeReceiptForm" class="form-horizontal" role="form">
                                                    <input type="hidden" name="auditRecordId" id="auditRecordId"
                                                           th:value="${auditRecordId}"/>
                                                    <input type="hidden" name="id" id="id" th:value="0"/>
                                                    <input type="hidden" name="check" id="check" th:value="1"/>
                                                    <div class="space-2"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label no-padding-right">充值凭证：</label>
                                                        <div class="col-sm-8 float" id="pics">

                                                        </div>
                                                    </div>

                                                    <div class="space-2"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label no-padding-right">小票图片：</label>
                                                        <div class="col-sm-8">
                                                            <div class="pos-rel">
                                                                <input id="saveImgUrl" name="imgUrl"
                                                                       class="form-control" readonly
                                                                       type="text" style="height:30px"/>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="space-2"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label no-padding-right">小票积分数量：</label>
                                                        <div class="col-sm-8">
                                                            <div class="pos-rel">
                                                                <input id="saveExchangePoint" name="exchangePoint"
                                                                       class="form-control"
                                                                       type="text" style="height:30px"/>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="space-2"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label no-padding-right">客户姓名：</label>
                                                        <div class="col-sm-8">
                                                            <div class="pos-rel">
                                                                <input id="saveCustomerName" name="customerName"
                                                                       class="form-control"
                                                                       type="text" style="height:30px"/>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="space-2"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label no-padding-right">POS机编号：</label>
                                                        <div class="col-sm-8">
                                                            <div class="pos-rel">
                                                                <select id="posCode" name="posCode"
                                                                        class="form-control">
                                                                    <!--<option>财富私行尊享积分pos一</option>-->
                                                                    <!--<option>财富私行尊享积分pos十二</option>-->
                                                                    <!--<option>财富私行尊享积分pos十六</option>-->
                                                                    <!--<option>财富私行尊享积分pos中国银行津南支行尊享活动</option>-->
                                                                    <option>北京悠享互联信息技术天津</option>
                                                                    <option>北京悠享互联信息南昌分公司</option>
                                                                    <option>江苏</option>
                                                                    <option>青岛</option>
                                                                    <option>温州</option>
                                                                    <option>手机银行（江西）</option>
                                                                    <option>手机银行（青岛）</option>
                                                                    <option>手机银行（河北）</option>
                                                                    <option>手机银行（天津）</option>
                                                                    <option>手机银行（江苏）</option>
                                                                    <option>北京悠享互联网信息技术</option>
                                                                    <option>北京悠享互联信息技术有限公司</option>
                                                                    <option>手工后台扣减（天津）</option>
                                                                    <option>手工后台扣减（江苏）</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="space-2"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label no-padding-right">银行卡后四位：</label>
                                                        <div class="col-sm-8">
                                                            <div class="pos-rel">
                                                                <input id="cardNo" name="cardNo"
                                                                       class="form-control"
                                                                       type="text" style="height:30px"/>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="space-2"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label no-padding-right"
                                                               for="saveTradeTime">交易时间：</label>
                                                        <div class="col-sm-8">
                                                            <div class="input-group">
                                                                <input class="form-control date-picker"
                                                                       id="saveTradeTime" type="text" readonly/>
                                                                <span class="input-group-addon">
                                                                                    <i class="fa fa-calendar bigger-110"></i>
                                                                                </span>
                                                                <input type="hidden" value=0 name="tradeTime"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-sm modal-footer-btn" data-dismiss="modal">
                                        <i class="ace-icon fa fa-times"></i>
                                        取消
                                    </button>

                                    <button class="btn btn-sm btn-primary modal-footer-btn"
                                            onclick="save('1')">
                                        <i class="ace-icon fa fa-thumbs-o-up"></i>
                                        保存
                                    </button>

                                    <button class="btn btn-sm btn-primary modal-footer-btn"
                                            onclick="save('2')">
                                        <i class="ace-icon fa fa-thumbs-o-up"></i>
                                        保存并继续
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--放大图片模态框-->
                    <div id="ShowImage_Form" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" style="overflow: scroll" aria-hidden="true"
                         data-backdrop="static">
                        <div class="modal-dialog"
                             style="width:100%;height:100%;background-color: rgba(64,64,64,1);margin:0px;padding:0px;">
                            <div class="modal-content"
                                 style="width:100%;height:100%;background-color: rgba(64,64,64,1);margin:0px;padding:0px;">
                                <div class="modal-header" style="border-bottom: 0px;background-color: rgba(64,64,64,1)">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">关闭
                                    </button>
                                    <!--<button id="rotateBtn" onclick="rotatePictureFull()" type="button" class="close"
                                            aria-hidden="true" title="顺时针旋转90度">旋转
                                    </button>-->
                                </div>
                                <div class="modal-body"
                                     style="padding:0px;text-align: center;background-color: rgba(64,64,64,0.5)">
                                    <div id="imgShowFull" style="background-color: rgba(64,64,64,1);">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
</div><!-- /.main-container -->
</body>
<script type="text/javascript">
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";
    var auditRecordStatus = ['未提交', '已提交', '已驳回', '已通过'];
    var rotate = 0;//旋转角度
    var rotateFull = 0;
    var page_chargeReceiptStatus = 0;//凭证未完成
    $(function () {
        //重新修改表格宽度
        $(window).resize(function () {
            $("#grid-table").setGridWidth($(window).width() * 0.96);
        });

        $('#posCode').editableSelect({
            effects: 'slide',
            filter: false
        });

        initDatePicker();

        //显示消费信息
        showAuditRecord();

        var tableOption = {
            url: "/api/chargereceipt/listpage",
            postData: {
                auditRecordId: $("#auditRecordId").val()
            },
            colNames: ['', '小票积分', '客户姓名', 'POS机编号', '银行卡后四位', '交易时间', '录入人', '兑换手机', '操作'],
            colModel: [
                {name: 'id', index: 'id', sortable: false, hidden: true},
                {name: 'exchangePoint', index: 'exchangePoint', width: 40, sortable: false,formatter:function(cellvalue,options,rowObject){
                    return formatNumberWithComma(rowObject.exchangePoint);
                }},
                {name: 'customerName', index: 'submitterName', width: 40, sortable: false},
                {name: 'posCode', index: 'posCode', width: 100, sortable: false},
                {name: 'cardNo', index: 'cardNo', width: 40, sortable: false},
                {
                    name: 'tradeTime',
                    index: 'tradeTime',
                    width: 50,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return dateFormat(rowObject.tradeTime);
                    }
                },
                {name: 'inputerName', index: 'inputerName', sortable: false, width: 40},
                {
                    name: 'exchangeMobile', index: 'exchangeMobile', sortable: false, width: 60,
                    formatter: function (cellvalue, options, rowObject) {
                        return isEmpty(cellvalue) ? "--" : cellvalue;
                    }
                },

                {name: '_action', index: '_action', sortable: false, width: 100, formatter: customFormatter}
            ],
            caption: "凭证列表"
        };
        initTable(grid_selector, pager_selector, tableOption);
    });

    function customFormatter(cellvalue, options, rowObject) {
        var str = "";
        str += "<a class='btn btn-minier btn-success' href='javascript:clickImg(\"" + encodeUrl(getImageUrl(rowObject.imgUrl)) + "\")'>查看小票</a>&nbsp;";
        if (page_chargeReceiptStatus == 0) {
            if (permission.indexOf("chargeReceiptEdit") != -1) {
                str += getFunctionButton("btn-primary", "edit(" + rowObject.id + ")", "修改");
            }
            if (permission.indexOf("chargeReceiptDelete") != -1) {
                str += getFunctionButton("btn-danger", "deleteById(" + rowObject.id + ")", "删除");
            }
        }
        return str;
    }

    //图片单击放大显示
    function showimage(source) {
        rotate = 0;
        $("#saveImgUrl").val(source);
        $("#modal-form").find("#img_show").html("<image id='zoomPic' width='400px' data-original='" + getImageUrl(source) + "' src='" + getImageUrl(source) + "' style='display: none' />");
        new Viewer(document.getElementById('zoomPic'), {
            url: 'data-original', inline: true,navbar:false,button:false,title:false
        });
    }

    //全屏查看小票
    function clickImg2(source) {
        $("#ShowImage_Form").modal('show');
        $("#ShowImage_Form").find("#imgShowFull").html("<image id='zoomPicFull' width='500px' src='" + source + "' onmousewheel='return bigimg(this)' class='cursor:pointer img-rounded ' style='zoom:70%;'/>");
    }
    function clickImg(source) {
        $("#ShowImage_Form").modal('show');
        $("#ShowImage_Form").find("#imgShowFull").html("<image id='zoomPicFull' width='500px' src='" + source + "' onmousewheel='return bigimg(this)' class='cursor:pointer img-rounded ' style='zoom:70%;display:none;'/>");
        new Viewer(document.getElementById('zoomPicFull'), {
            url: 'data-original', inline: true,navbar:false,button:false,title:false
        });
    }


    function bigimg(obj) {
        var zoom = parseInt(obj.style.zoom, 10) || 100;
        zoom += event.wheelDelta / 12;
        if (zoom > 0)
            obj.style.zoom = zoom + '%';
        return false;
    }

    function showAuditRecord() {
        $("#pics").empty();
        $.ajax({
            url: "/api/auditrecord/getbyid",
            dataType: "json",
            async: false,
            data: {
                id: $("#auditRecordId").val()
            },
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    showByExchangeType(result);
                    fillChargeReceiptStatus(result.id, result.chargeReceiptStatus, result.status);
                    page_chargeReceiptStatus = result.chargeReceiptStatus;
                    $("#bankOutletsName").html(result.bankOutletsName);
                    $("#exchangeType").html(getExchangeTypeText(result.exchangeType));
                    $("#status").html(auditRecordStatus[result.status - 1]);
                    $("#totalExchangePoint").html(formatNumberWithComma(result.exchangePoint));
                    $("#totalChargeReceiptPoint").html(generateSpan(formatNumberWithComma(result.chargeReceiptPoint), result.chargeReceiptPoint == result.exchangePoint ? "00FF00" : "FF0000"));
                    $("#customerName").html(result.customerName);
                    var imgUrls = result.imgUrls.split(",");
                    for (var i = 0; i < imgUrls.length; i++) {
                        $("#pics").append("<img class='item' onmouseover=\"this.style.cursor='pointer';this.style.cursor='hand'\"  onmouseout=\"this.style.cursor='default'\" onclick=\"javascript:showimage('" + imgUrls[i] + "');\" src='" + getImageUrl(imgUrls[i]) + "'>")
                    }
                    $("#saveImgUrl").val(imgUrls[0]);
                    showimage(imgUrls[0]);
                }
            },
            error: error
        });
    }

    //刷新录入的小票积分
    function refreshChargeReceiptPoint() {
        $.ajax({
            url: "/api/auditrecord/getbyid",
            dataType: "json",
            async: false,
            data: {
                id: $("#auditRecordId").val()
            },
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    $("#totalChargeReceiptPoint").html(generateSpan(formatNumberWithComma(result.chargeReceiptPoint), result.chargeReceiptPoint == result.exchangePoint ? "00FF00" : "FF0000"));
                }
            },
            error: error
        });
    }

    function rotatePicture() {
        var zoomPicDoc = document.getElementById('zoomPic');
        rotate = (rotate + 90) % 360;
        zoomPicDoc.style.transform = 'rotate(' + rotate + 'deg)';
    }

    function rotatePictureFull() {
        var zoomPicDoc = document.getElementById('zoomPicFull');
        rotateFull = (rotateFull + 90) % 360;
        zoomPicDoc.style.transform = 'rotate(' + rotateFull + 'deg)';
    }


    function formatterPointCodes(pointCodes) {
        var codes = pointCodes.split(',');
        var html = '';
        for (var i = 0; i < codes.length; i++) {
            html += codes[i] + "</br>";
        }
        return html;
    }

    function getExchangeTypeText(type) {
        var exchangeType = type.toString().split('');
        var exchangeTypeText = "";
        if (exchangeType.indexOf('1') > -1) {
            exchangeTypeText = exchangeTypeText + '充积分 ';
        }
        if (exchangeType.indexOf('2') > -1) {
            exchangeTypeText = exchangeTypeText + '积分卡 ';
        }
        if (exchangeType.indexOf('3') > -1) {
            exchangeTypeText = exchangeTypeText + '换商品 ';
        }
        return exchangeTypeText;
    }

    function showByExchangeType(result) {
        if (hasExchangeType(result.exchangeType, '1')) {
            $(".exchangeType1").css("display", "");
            $("#customerMobile").html(result.customerMobile);
            $("#givingPoint").html(formatNumberWithComma(result.givingPoint));
        } else {
            $(".exchangeType1").css("display", "none");
        }
        if (hasExchangeType(result.exchangeType, '2')) {
            $(".exchangeType2").css("display", "");
            $("#pointCodes").html(formatterPointCodes(result.pointCodes));
        } else {
            $(".exchangeType2").css("display", "none");
        }
        if (hasExchangeType(result.exchangeType, '3')) {
            $(".exchangeType3").css("display", "");
            $("#productValue").html(formatNumberWithComma(result.productValue));
        } else {
            $(".exchangeType3").css("display", "none");
        }
    }

    function hasExchangeType(type, value) {
        var exchangeType = type.toString().split('');
        return exchangeType.indexOf(value) > -1;
    }

    function deleteById(id) {
        confirm("确定删除吗？", function (result) {
            if (result) {
                $.ajax({
                    url: "/api/chargereceipt/delete",
                    dataType: "json",
                    async: false,
                    data: {
                        id: id
                    },
                    type: "POST",
                    success: function (data) {
                        if ('error' in data) {
                            bootboxalert(data.error.message);
                        } else {
                            jQuery(grid_selector).setGridParam({}).trigger("reloadGrid");
                            refreshChargeReceiptPoint();
                        }
                    },
                    error: error
                });
            }
        });
    }

    function openNew() {
        $("#id").val(0);
        $("#check").val(1);
        $("#saveExchangePoint").val('');
        $("#saveCustomerName").val('');
        //$("#posCode").val('');
        $("#cardNo").val('');
        $("#saveTradeTime").val('');
        $('#saveTradeTime').datepicker('update');
        $("#saveTradeTime").next().next().val(0);
    }

    /**
     * type  1保存 2保存并继续
     * */
    function save(type) {
        if (!isNumber($("#saveExchangePoint").val())) {
            bootboxalert("小票积分数量不合法");
            return false;
        }
        $.ajax({
            url: "/api/chargereceipt/save",
            dataType: "json",
            async: false,
            data: transformToJson($('#chargeReceiptForm').serializeArray()),
            type: "POST",
            success: function (data) {
                if ('error' in data) {
                    if (data.error.code == 119008) {
                        confirm('有类似的小票记录，还需要继续保存吗？', function (result) {
                            if (result) {
                                $("#check").val(0);
                                save(type);
                            }
                        });
                    } else {
                        bootboxalert(data.error.message);
                    }
                } else {
                    if (type == '1') {
                        $("#modal-form").modal('hide');
                    } else {
                        openNew();
                    }
                    jQuery(grid_selector).setGridParam({}).trigger("reloadGrid");
                    refreshChargeReceiptPoint();
                }
            },
            error: error
        });
    }

    function edit(id) {
        $.ajax({
            url: "/api/chargereceipt/getbyid",
            dataType: "json",
            async: false,
            data: {
                id: id
            },
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    $("#id").val(result.id);
                    $("#saveImgUrl").val(result.imgUrl);
                    showimage(result.imgUrl);
                    $("#saveExchangePoint").val(result.exchangePoint);
                    $("#saveCustomerName").val(result.customerName);
                    $("#posCode").val(result.posCode);
                    $("#cardNo").val(result.cardNo);
                    $("#saveTradeTime").val(dateFormat(result.tradeTime));
                    $('#saveTradeTime').datepicker('update');
                    $("#saveTradeTime").next().next().val(result.tradeTime);
                    $("#modal-form").modal('show');
                }
            },
            error: error
        });
    }

    /**
     *
     * @param id 记录id
     * @param chargeReceiptStatus 小票完成情况
     * @param status 记录审核状况
     */
    function fillChargeReceiptStatus(id, chargeReceiptStatus, status) {
        $("#totalPointCheck").val(1);
        if (chargeReceiptStatus == 0) {
            var html = '未完成';
            if (status == 4 && permission.indexOf("completeChargeReceipt") != -1) {
                html = html + "&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:completeChargeReceipt(" + id + "," + status + ")' data-action='reload'>" +
                    "<i class='ace-icon'>点击完成</i></a>";
            }
            $("#buttonDiv").find("a").css("display", "");
        } else {
            var html = '已完成';
            if (permission.indexOf("uncompleteChargeReceipt") != -1) {
                html = html + "&nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:uncompleteChargeReceipt(" + id + "," + status + ")' data-action='reload'>" +
                    "<i class='ace-icon'>重置未完成</i></a>";
            }
            $("#buttonDiv").find("a").css("display", "none");
        }
        $("#chargeReceiptStatus").html(html);
    }

    function uncompleteChargeReceipt(id, status) {
        var url = "/api/auditrecord/uncompletechargereceipt";
        confirm("确定重置凭证录入未完成吗？", function (result) {
            if (result) {
                changeChargeReceiptStatus(url, id, 0, status);
            }
        });
    }

    function completeChargeReceipt(id, status) {
        var url = "/api/auditrecord/completechargereceipt";
        confirm("确定完成凭证录入吗？", function (result) {
            if (result) {
                changeChargeReceiptStatus(url, id, 1, status);
            }
        });
    }

    function changeChargeReceiptStatus(url, id, chargeReceiptStatus, status) {
        $.ajax({
            url: url,
            dataType: "json",
            async: false,
            data: {
                id: id,
                check: $("#totalPointCheck").val()
            },
            type: "POST",
            success: function (data) {
                if ('error' in data) {
                    if (data.error.code == 111025) {
                        confirm(data.error.message + ",还需要继续完成吗？", function (result) {
                            if (result) {
                                $("#totalPointCheck").val(0);
                                changeChargeReceiptStatus(url, id, chargeReceiptStatus, status);
                            }
                        });
                    } else {
                        bootboxalert(data.error.message);
                    }
                } else {
                    page_chargeReceiptStatus = chargeReceiptStatus;
                    fillChargeReceiptStatus(id, chargeReceiptStatus, status);
                    jQuery(grid_selector).setGridParam({}).trigger("reloadGrid");
                }
            },
            error: error
        });
    }


    //判空
    function isEmpty(obj) {
        if (typeof obj == "undefined" || obj == null || obj == "") {
            return true;
        } else {
            return false;
        }
    }

</script>
</html>
