<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/init.css}"/>

    <!-- Javascript -->
    <script th:src="@{/static/init.js}"></script>


    <style>
        .form-group {
            margin-bottom: 0px;
        }
    </style>
</head>

<body class="no-skin">

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/main/main_center}">主页</a>
                    </li>
                    <li class="active">客户管理</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12" style="padding-top:40px">
                        <form id="searchForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right">客户名称：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <input id="name" name="name" class="form-control" type="text"
                                               style="height:30px"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label no-padding-right">手机号码：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <input id="mobile" name="mobile" class="form-control" type="text"
                                               style="height:30px"/>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-white btn-default btn-round btn-sm"
                                            onclick="return search()">
                                        <i class="ace-icon fa fa-search red2"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.col -->
                    <div class="col-xs-12" style="text-align: right" id="buttonDiv">
                        <p style="margin:1px;">
                            <!--<shiro:hasPermission name="sysrole:add">-->
                            <a class="btn btn-success btn-round btn-sm" role="button" href="#modal-form"
                               data-toggle="modal" onclick="openNew()">
                                <i class="ace-icon fa fa-plus"></i>新建
                            </a>
                            <!--</shiro:hasPermission>-->
                        </p>
                    </div><!-- /.col -->
                    <div class="col-xs-12">
                        <table id="grid-table"></table>

                        <div id="grid-pager"></div>
                    </div><!-- /.col -->
                    <div id="modal-form" class="modal fade" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="blue bigger" id="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-1"></div>
                                        <div class="col-xs-12 col-sm-9">
                                            <form id="projectSaveForm" class="form-horizontal" role="form">
                                                <input type="hidden" name="id" id="customerId" value="0">
                                                <input type="hidden" id="inputOperationType">
                                                <div class="form-group" id="divName">
                                                    <label class="col-sm-4 control-label no-padding-right">客户名称：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="inputName" name="inputName"
                                                                   class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="space-2"></div>
                                                <div class="form-group" id="divMobile">
                                                    <label class="col-sm-4 control-label no-padding-right">手机号码：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="inputMobile" name="inputMobile"
                                                                   class="form-control"
                                                                   type="text" style="height: 30px;"/>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="space-2"></div>
                                                <div class="form-group" id="divRemark">
                                                    <label class="col-sm-4 control-label no-padding-right">备注：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="inputRemark" name="inputRemark"
                                                                   class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="space-2"></div>
                                                <div class="form-group" id="divKeyt">
                                                    <label class="col-sm-4 control-label no-padding-right">密钥：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="inputKeyt"
                                                                   class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="space-2"></div>
                                                <div class="form-group" id="divChargeMoney">
                                                    <label class="col-sm-4 control-label no-padding-right">充值金额：</label>
                                                    <div class="col-sm-8">
                                                        <div class="pos-rel">
                                                            <input id="inputChargeMoney"
                                                                   class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-sm modal-footer-btn" data-dismiss="modal">
                                        <i class="ace-icon fa fa-times"></i>
                                        取消
                                    </button>

                                    <button class="btn btn-sm btn-primary modal-footer-btn" onclick="operate()">
                                        <i class="ace-icon fa fa-check"></i>
                                        保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

</div><!-- /.main-container -->
</div>
</body>
<script type="text/javascript">
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";

    $(function () {
        //重新修改表格宽度
        $(window).resize(function () {
            $("#grid-table").setGridWidth($(window).width() * 0.96);
        });


        var tableOption = {
            url: "/api/customer/getlist",// 获取数据的地址
            postData: transformToJson($('#searchForm').serializeArray()),
            colNames: ['', '客户名称', '手机号码', '充值卡', '代金券', '订单', '默认地址', '客户备注', '操作'],
            colModel: [
                {name: 'id', index: 'id', sortable: false, hidden: true},
                {name: 'name', index: 'name', width: 50, sortable: false},
                {name: 'mobile', index: 'mobile', width: 50, sortable: false},
                {
                    name: '_rechargeCard',
                    index: '_rechargeCard',
                    width: 150,
                    sortable: false,
                    formatter: rechargeCardFormatter
                },
                {name: '_voucher', index: '_voucher', width: 150, sortable: false, formatter: voucherFormatter},
                {name: '_order', index: '_order', width: 60, sortable: false, formatter: orderFormatter},
                {name: 'defaultAddress', index: 'defaultAddress', sortable: false, formatter: addressFormatter},
                {name: 'remark', index: 'remark', width: 70, sortable: false},
                {name: '_action', index: '_action', width: 50, sortable: false, formatter: customFormatter}
            ],
            caption: "客户列表"
        }

        initTable(grid_selector, pager_selector, tableOption);
    });

    $(window).triggerHandler('resize.jqGrid');//trigger window resize to make the grid get the correct size

    function search() {
        jQuery(grid_selector).setGridParam({
            url: "../api/customer/getlist",// 获取数据的地址
            postData: transformToJson($('#searchForm').serializeArray()),
        }).trigger("reloadGrid", [{page: 1}]);
        return false;
    }

    function addressFormatter(cellvalue, options, rowObject) {
        if (rowObject.defaultAddress) {
            return rowObject.defaultAddress.cityName + " " + rowObject.defaultAddress.address;
        } else {
            return "未知";
        }
    }

    function rechargeCardFormatter(cellvalue, options, rowObject) {
        var str = "余额：" + rowObject.rechargeCardBalance + " ";
        var rechargeCardUrl = "/infosearch/rechargecardindex?mobile=" + rowObject.mobile;
        str += getRedirectButton("btn-success", rechargeCardUrl, "详情");
        str += getFunctionButton("btn-yellow", "openCharge(" + rowObject.id + ")", "绑定");
        str += getFunctionButton("btn-yellow", "openDirectCharge(" + rowObject.id + ")", "充值");
        return str;
    }

    function voucherFormatter(cellvalue, options, rowObject) {
        var str = "剩余张数：" + rowObject.voucherCount + " ";
        var voucherUrl = "/infosearch/voucherindex?mobile=" + rowObject.mobile;
        str += getRedirectButton("btn-success", voucherUrl, "详情");
        str += getFunctionButton("btn-yellow", "openVoucher(" + rowObject.id + ")", "绑定");
        return str;

    }

    function orderFormatter(cellvalue, options, rowObject) {
        var str = "";
        var orderUrl = "/order/orderindex?mobile=" + rowObject.mobile;
        str += getRedirectButton("btn-success", orderUrl, "详情");
        str += getFunctionButton("btn-yellow", "", "下单");
        return str;
    }

    function customFormatter(cellvalue, options, rowObject) {
        return getFunctionButton("btn-info", "openEdit(" + rowObject.id + ")", "修改");
    }

    function operate() {
        var operationType = $("#inputOperationType").val();
        switch (operationType) {
            case "1"://添加
                add();
                break;
            case "2"://修改
                update();
                break;
            case "3"://充值卡绑定
                break;
            case "4": //代金券绑定
                break;
            case "5"://直接充值
                break;
            default:
        }
    }

    function add() {
        $.ajax({
            url: "/api/customer/add",
            dataType: "json",
            async: false,
            data: {
                name: $("#inputName").val(),
                mobile: $("#inputMobile").val(),
                remark: $("#inputRemark").val()
            },
            type: "POST",
            success: success,
            error: error
        });
    }

    function update() {
        $.ajax({
            url: "/api/customer/update",
            dataType: "json",
            async: false,
            data: {
                id: $("#customerId").val(),
                name: $("#inputName").val(),
                mobile: $("#inputMobile").val(),
                remark: $("#inputRemark").val()
            },
            type: "POST",
            success: success,
            error: error
        });
    }

    function initModel() {
        $("#inputOperationType").val(0);//什么也不做
        $('#inputMobile').attr('disabled', 'disabled').val("");
        $('#inputName').attr('disabled', 'disabled').val("");
        $('#inputRemark').attr('disabled', 'disabled').val("");
        $('#inputKeyt').attr('disabled', 'disabled').val("");
        $('#inputChargeMoney').attr('disabled', 'disabled').val("");

        $('#divMobile').attr('hidden', 'hidden');
        $('#divName').attr('hidden', 'hidden');
        $('#divRemark').attr('hidden', 'hidden');
        $('#divChargeMoney').attr('hidden', 'hidden');
        $('#divKeyt').attr('hidden', 'hidden');

    }

    function openNew() {
        initModel()
        $("#inputOperationType").val(1);//添加
        $("#modal-title").html("客户信息-添加");
        $('#inputMobile').removeAttr('disabled');
        $('#inputName').removeAttr('disabled');
        $('#inputRemark').removeAttr('disabled');
        $('#divMobile').removeAttr('hidden');
        $('#divName').removeAttr('hidden');
        $('#divRemark').removeAttr('hidden');
    }

    function openEdit(id) {
        initModel()
        $("#inputOperationType").val(2);//修改
        $("#modal-title").html("客户信息-修改");
        $('#inputName').removeAttr('disabled');
        $('#inputRemark').removeAttr('disabled');
        $('#divMobile').removeAttr('hidden');
        $('#divName').removeAttr('hidden');
        $('#divRemark').removeAttr('hidden');
        $(".modal-footer-btn").show();
        getById(id);
    }

    function openCharge(id) {
        initModel()
        $("#inputOperationType").val(3);//充值卡绑定
        $("#modal-title").html("充值卡绑定");
        $('#inputKeyt').removeAttr('disabled');
        $('#divMobile').removeAttr('hidden');
        $('#divKeyt').removeAttr('hidden');
        $(".modal-footer-btn").show();
        getById(id);
    }

    function openVoucher(id) {
        initModel()
        $("#inputOperationType").val(4);//代金券绑定
        $("#modal-title").html("代金券绑定");
        $('#inputMobile');
        $('#inputKeyt').removeAttr('disabled');
        $('#divMobile').removeAttr('hidden');
        $('#divKeyt').removeAttr('hidden');
        $(".modal-footer-btn").show();
        getById(id);
    }

    function openDirectCharge(id) {
        initModel()
        $("#inputOperationType").val(5);//直接充值
        $("#modal-title").html("直接充值");
        $('#inputChargeMoney').removeAttr('disabled');
        $('#divMobile').removeAttr('hidden');
        $('#divChargeMoney').removeAttr('hidden');
        $(".modal-footer-btn").show();
        getById(id);
    }


    function getById(id) {
        $.ajax({
            url: "../api/customer/getbyid",    //请求的url地址
            dataType: "json",
            async: false,
            data: {
                id: id
            },
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    $("#customerId").val(result.id);
                    $("#inputName").val(result.name);
                    $("#inputMobile").val(result.mobile);
                    $("#inputRemark").val(result.remark);
                    $("#modal-form").modal('show');
                }
            },
            error: error
        });
    }


    function success(data) {
        if ('error' in data) {
            bootboxalert(data.error.message);
        } else {
            $("#modal-form").modal('hide');
            jQuery(grid_selector).setGridParam({}).trigger("reloadGrid");
        }
    }

    function directCharge(id, money) {

    }

</script>
</html>

