<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/init.css}"/>
    <!-- Javascript -->
    <script th:src="@{/static/init.js}"></script>

    <style>
        .ui-jqgrid .ui-jqgrid-bdiv {
            overflow-x: auto;
        }

        ::-webkit-scrollbar {
            width: 4px;
            height: 10px;
        }
    </style>
</head>

<body class="no-skin">
<div class="main-container ace-save-state" id="main-container">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/main/main_center}">主页</a>
                    </li>
                    <li class="active">物料管理</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12" style="padding-top:40px">
                        <form id="materialInfoSearchForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right">付款人：</label>
                                <div class="col-sm-2">
                                    <input type="hidden" name="payerIds" id="payerIdsHidden"/>
                                    <select id="payerSearch" class="multiselect" multiple="">
                                        <!--<option value="0">所有</option>-->
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label no-padding-right">收款人：</label>
                                <div class="col-sm-2">
                                    <input type="hidden" name="payeeIds" id="payeeIdsHidden"/>
                                    <select id="payeeSearch" class="multiselect" multiple="">
                                        <!--<option value="0">所有</option>-->
                                    </select>

                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-white btn-default btn-round btn-sm"
                                            onclick="return search()">
                                        <i class="ace-icon fa fa-search red2"></i>
                                        查询
                                    </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </form>
                    </div><!-- /.col -->

                    <div class="col-xs-12" style="text-align: right" id="buttonDiv">
                        <p style="margin:1px;height: 31px">

                        </p>
                    </div><!-- /.col -->

                    <div class="col-xs-12">
                        <div class="col-sm-3" style="height: 400px">
                            <div class="profile-user-info profile-user-info-striped">
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 汇总</div>
                                    <div class="profile-info-value">
                                        <a href="javascript:refreshSummary()" data-action="reload">
                                            <i class="ace-icon fa fa-refresh"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 收款总额</div>

                                    <div class="profile-info-value">
                                        <span id="receiveTotal">加载中...</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 采购实物总价值</div>

                                    <div class="profile-info-value">
                                        <span id="productValueTotal">加载中...</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 消耗实物总价值</div>

                                    <div class="profile-info-value">
                                        <span id="usedProductValueTotal">加载中...</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> 剩余实物总价值</div>

                                    <div class="profile-info-value">
                                        <span id="leftProductValueTotal">加载中...</span>
                                    </div>
                                </div>
                            </div>
                            <div id="alert-info" style="padding-top: 20px">
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <table id="grid-table"></table>
                            <div id="grid-pager"></div>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
</div><!-- /.main-container -->

<!--转账modal-->
<div id="modal-transferMoney" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">添加转账记录</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-1"></div>
                    <div class="col-xs-12 col-sm-9">
                        <form id="transferMoneyForm" class="form-horizontal" role="form">
                            <input value=0 type="hidden" name="id" />
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right">付款人：</label>
                                <div class="col-sm-8">
                                    <div class="pos-rel">
                                        <input id="payerNameSave"
                                               class="form-control" readonly
                                               type="text" style="height:30px"/>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2"></div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right">收款人：</label>
                                <div class="col-sm-8">
                                    <div class="pos-rel">
                                        <input type="hidden" id="payeeIdSave" name="payeeId"/>
                                        <input id="payeeNameSave"
                                               class="form-control" readonly
                                               type="text" style="height:30px"/>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2"></div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right">转账金额：</label>
                                <div class="col-sm-8">
                                    <div class="pos-rel">
                                        <input id="transferAmountSave" name="transferAmount"
                                               class="form-control"
                                               type="text" style="height:30px"/>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2"></div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right">采购实物价值：</label>
                                <div class="col-sm-8">
                                    <div class="pos-rel">
                                        <input id="materialValueSave" name="materialValue"
                                               class="form-control"
                                               type="text" style="height:30px"/>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2"></div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right"
                                       for="transferTimeSaveStr">转账日期：</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input class="form-control date-picker" id="transferTimeSaveStr"
                                               type="text" readonly/>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar bigger-110"></i>
                                        </span>
                                        <input type="hidden" value=0 name="transferTime" id="transferTimeSave"/>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right">备注：</label>
                                <div class="col-sm-8">
                                    <div class="pos-rel">
                                        <textarea id="saveRemark" name="remark"
                                                  class="form-control"
                                                  style="resize:none;height: 100px"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm modal-footer-btn" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    取消
                </button>

                <button class="btn btn-sm btn-primary modal-footer-btn modal-footer-btn-save"
                        onclick="saveTransferMoney()">
                    <i class="ace-icon fa fa-check"></i>
                    保存
                </button>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";
    $(function () {
        //重新修改表格宽度
        $(window).resize(function () {
            $("#grid-table").setGridWidth($(window).width() * 0.96);
        });

        initDatePicker();

        //初始人员信息
        $.ajax({
            url: "/api/sysuser/listall",
            dataType: "json",
            async: true,
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    for (var i = 0; i < result.length; i++) {
                        $("#payerSearch").append("<option value=" + result[i].id + ">" + result[i].displayName + "</option>");
                        $("#payeeSearch").append("<option value=" + result[i].id + ">" + result[i].displayName + "</option>");
                    }
                    initMultiSelect();
                }
            },
            error: error
        });

        var tableOption = {
            url: "/api/material/listsummarypage",
            postData: transformToJson($('#materialInfoSearchForm').serializeArray()),
            colNames: ['', '收款人', '收款总额', '采购实物价值', '消耗实物价值', '剩余实物价值','操作'],
            colModel: [
                {name: 'id', index: 'id', sortable: false, hidden: true},
                {name: 'payeeName', index: 'payeeName', width: 70, sortable: false},
                {name: 'receiveTotal', index: 'receiveTotal', width: 50, sortable: false},
                {name: 'productValueTotal', index: 'productValueTotal', width: 50, sortable: false},
                {name: 'usedProductValueTotal', index: 'usedProductValueTotal', width: 50, sortable: false},
                {name: 'leftProductValueTotal', index: 'leftProductValueTotal', width: 50, sortable: false,formatter:function(cellvalue, options, rowObject){
                    return (rowObject.productValueTotal - rowObject.usedProductValueTotal).toFixed(2);
                }},
                {name: '_action', index: '_action', width: 100, sortable: false, formatter: customFormatter}
            ],
            caption: "物料汇总列表"
        };

        initTable(grid_selector, pager_selector, tableOption);

        refreshSummary();
    });

    /**
     * 多选框参数填充至input
     */
    function getPostData(){
        var payerIds = [];
        var payeeIds = [];
        $("#payerSearch option:selected").each(function () {
            payerIds.push($(this).val());
        });
        $("#payeeSearch option:selected").each(function () {
            payeeIds.push($(this).val());
        });
        $("#payerIdsHidden").val(payerIds.join(","));
        $("#payeeIdsHidden").val(payeeIds.join(","));
    }

    function search() {
        refreshSummary();
        jQuery(grid_selector).setGridParam({
            url: "/api/material/listsummarypage",
            postData: transformToJson($('#materialInfoSearchForm').serializeArray()),
        }).trigger("reloadGrid", [{page: 1}]);
        return false;
    }

    function customFormatter(cellvalue, options, rowObject) {
        var str = "";
        str += getFunctionButton("btn-success", "openNew(" + rowObject.id + ",\""+rowObject.payeeName+"\")", "转账");
        str += getRedirectButton("btn-primary", "../material/index?payeeId=" + rowObject.id + "&&payerIds=" + $("#payerIdsHidden").val(), "转账明细");
        str += getRedirectButton("btn-primary", "../auditrecord/index?submitterName=" + rowObject.payeeName + "&status=4", "消耗明细");
        return str;
    }

    function refreshSummary() {
        getPostData();
        $("#receiveTotal").html("加载中...");
        $("#productValueTotal").html("加载中...");
        $("#usedProductValueTotal").html("加载中...");
        $("#leftProductValueTotal").html("加载中...");
        $.ajax({
            url: "/api/material/calculatesummary",
            dataType: "json",
            async: false,
            data: transformToJson($('#materialInfoSearchForm').serializeArray()),
            type: "GET",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    var result = data.data;
                    $("#receiveTotal").html(result.receiveTotal);
                    $("#productValueTotal").html(result.productValueTotal);
                    $("#usedProductValueTotal").html(result.usedProductValueTotal);
                    $("#leftProductValueTotal").html(result.productValueTotal - result.usedProductValueTotal);
                    showAlertInfo();
                }
            },
            error: error
        });
    }

    function showAlertInfo() {
        $("#alert-info").empty();
        $("#alert-info").append("<div class='alert alert-info'>" +
            "<button class='close' data-dismiss='alert'>" +
            "<i class='ace-icon fa fa-times'></i>" +
            "</button> 刷新成功 ! </div>");
        setTimeout(function () {
            $("#alert-info").empty()
        }, 2000);
    }

    function openNew(id,payeeName) {
        $("#payerNameSave").val(decodeURI(getCookie("displayName")));
        $("#payeeNameSave").val(payeeName);
        $("#payeeIdSave").val(id);
        $("#transferAmountSave").val('');
        $("#materialValueSave").val('');
        $("#saveRemark").val('');
        var time = new Date().getTime();
        $("#transferTimeSaveStr").val(dateFormat(time));
        $('#transferTimeSaveStr').datepicker('update');
        $("#transferTimeSaveStr").next().next().val(time);
        $("#modal-transferMoney").modal('show');
    }

    function saveTransferMoney() {
        if (isNumber($("#transferAmountSave")) || $("#transferAmountSave").val() == 0) {
            bootboxalert("转账金额非法");
            return false;
        }
        if (isNumber($("#materialValueSave")) || $("#materialValueSave").val() == 0) {
            bootboxalert("采购实物价值非法");
            return false;
        }
        if ($("#transferTimeSaveStr").val() == '' || $("#transferTimeSave").val() == 0) {
            bootboxalert("转账日期不能为空");
            return false;
        }
        $.ajax({
            url: "/api/material/save",
            dataType: "json",
            async: false,
            data: transformToJson($('#transferMoneyForm').serializeArray()),
            type: "POST",
            success: function (data) {
                if ('error' in data) {
                    bootboxalert(data.error.message);
                } else {
                    $("#modal-transferMoney").modal('hide');
                    search();
                }
            },
            error: error
        });
    }

</script>
</html>

