<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiazhe.youxiang.server.dao.mapper.manual.product.ProductPricePOManualMapper">
    <resultMap id="BaseResultMap" type="com.jiazhe.youxiang.server.domain.po.ProductPricePO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="city_code" property="cityCode" jdbcType="VARCHAR"/>
        <result column="city_name" property="cityName" jdbcType="VARCHAR"/>
        <result column="product_id" property="productId" jdbcType="INTEGER"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="ext_info" property="extInfo" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
        <result column="mod_time" property="modTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, city_code, city_name, product_id, price, status, ext_info, is_deleted, add_time,
    mod_time
    </sql>

    <update id="batchDelete">
        update product_price
        <set>
            is_deleted = 1
        </set>
        <where>
            id in
            <foreach collection="ids" separator="," item="item" open="(" close=")">
                #{item}
            </foreach>
        </where>
    </update>

    <update id="batchUpdate">
        update product_price
        <set>
            price = #{price,jdbcType=DECIMAL},
            mod_time = NOW()
        </set>
        <where>
            product_id = #{productId}
            AND city_code in
            <foreach collection="cityCodes" separator="," item="item" open="(" close=")">
                #{item}
            </foreach>
        </where>
    </update>

    <select id="getProductIdsByCityIds" resultType="java.lang.Integer">
        select
        DISTINCT (product_id)
        from product_price
        <where>
            city_code in
            <foreach collection="cityCodes" separator="," item="item" open="(" close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <insert id="batchAddPrice" parameterType="java.util.List">
        insert into product_price (city_code,city_name,product_id,price)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.cityCode},#{item.cityName},#{item.productId},#{item.price})
        </foreach>
    </insert>

    <select id="query" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_price
        <where>
            <if test="productId != null and productId >0">
                AND product_id = #{productId}
            </if>
            <if test="cityName != null and cityName !=''">
                AND city_name like concat('%',#{cityName},'%')
            </if>
            <if test="cityCode != null and cityCode !=''">
                AND city_code = #{cityCode}
            </if>
            <if test="status != null and status >=0">
                AND status = #{status}
            </if>
            AND is_deleted = 0
        </where>
        order by status desc,city_code
        <if test="offset != null and offset >0 and limit != null and limit >0">
            limit #{offset},#{limit}
        </if>
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from product_price
        <where>
            <if test="productId != null and productId >0">
                AND product_id = #{productId}
            </if>
            <if test="cityName != null and cityName !=''">
                AND city_name like concat('%',#{cityName},'%')
            </if>
            <if test="cityCode != null and cityCode !=''">
                AND city_code = #{cityCode}
            </if>
            <if test="status != null and status >=0">
                AND status = #{status}
            </if>
            AND is_deleted = 0
        </where>
    </select>

</mapper>