<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiazhe.youxiang.server.dao.mapper.AuditRecordPOMapper" >
  <resultMap id="BaseResultMap" type="com.jiazhe.youxiang.server.domain.po.AuditRecordPO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="point_ids" property="pointIds" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="customer_mobile" property="customerMobile" jdbcType="VARCHAR" />
    <result column="exchange_point" property="exchangePoint" jdbcType="DECIMAL" />
    <result column="giving_point" property="givingPoint" jdbcType="DECIMAL" />
    <result column="giving_type" property="givingType" jdbcType="VARCHAR" />
    <result column="audit_reason" property="auditReason" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="img_urls" property="imgUrls" jdbcType="VARCHAR" />
    <result column="pos_code" property="posCode" jdbcType="VARCHAR" />
    <result column="trade_time" property="tradeTime" jdbcType="TIMESTAMP" />
    <result column="card_no" property="cardNo" jdbcType="VARCHAR" />
    <result column="bank_outlets_name" property="bankOutletsName" jdbcType="VARCHAR" />
    <result column="submitter_id" property="submitterId" jdbcType="INTEGER" />
    <result column="submitter_name" property="submitterName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="auditor_id" property="auditorId" jdbcType="INTEGER" />
    <result column="auditor_name" property="auditorName" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="ext_info" property="extInfo" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
    <result column="charge_receipt_status" property="chargeReceiptStatus" jdbcType="TINYINT" />
    <result column="point_codes" property="pointCodes" jdbcType="VARCHAR" />
    <result column="product_value" property="productValue" jdbcType="DECIMAL" />
    <result column="exchange_type" property="exchangeType" jdbcType="TINYINT" />
    <result column="submit_time" property="submitTime" jdbcType="TIMESTAMP" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, point_ids, customer_name, customer_mobile, exchange_point, giving_point, giving_type, 
    audit_reason, remark, img_urls, pos_code, trade_time, card_no, bank_outlets_name, 
    submitter_id, submitter_name, status, audit_time, auditor_id, auditor_name, version, 
    ext_info, is_deleted, add_time, mod_time, charge_receipt_status, point_codes, product_value, 
    exchange_type, submit_time, city_code, city_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jiazhe.youxiang.server.domain.po.AuditRecordPOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from audit_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from audit_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from audit_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jiazhe.youxiang.server.domain.po.AuditRecordPOExample" >
    delete from audit_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jiazhe.youxiang.server.domain.po.AuditRecordPO" >
    insert into audit_record (id, point_ids, customer_name, 
      customer_mobile, exchange_point, giving_point, 
      giving_type, audit_reason, remark, 
      img_urls, pos_code, trade_time, 
      card_no, bank_outlets_name, submitter_id, 
      submitter_name, status, audit_time, 
      auditor_id, auditor_name, version, 
      ext_info, is_deleted, add_time, 
      mod_time, charge_receipt_status, point_codes, 
      product_value, exchange_type, submit_time, 
      city_code, city_name)
    values (#{id,jdbcType=INTEGER}, #{pointIds,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, 
      #{customerMobile,jdbcType=VARCHAR}, #{exchangePoint,jdbcType=DECIMAL}, #{givingPoint,jdbcType=DECIMAL}, 
      #{givingType,jdbcType=VARCHAR}, #{auditReason,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{imgUrls,jdbcType=VARCHAR}, #{posCode,jdbcType=VARCHAR}, #{tradeTime,jdbcType=TIMESTAMP}, 
      #{cardNo,jdbcType=VARCHAR}, #{bankOutletsName,jdbcType=VARCHAR}, #{submitterId,jdbcType=INTEGER}, 
      #{submitterName,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{auditorId,jdbcType=INTEGER}, #{auditorName,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{extInfo,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT}, #{addTime,jdbcType=TIMESTAMP}, 
      #{modTime,jdbcType=TIMESTAMP}, #{chargeReceiptStatus,jdbcType=TINYINT}, #{pointCodes,jdbcType=VARCHAR}, 
      #{productValue,jdbcType=DECIMAL}, #{exchangeType,jdbcType=TINYINT}, #{submitTime,jdbcType=TIMESTAMP}, 
      #{cityCode,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jiazhe.youxiang.server.domain.po.AuditRecordPO" >
    insert into audit_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pointIds != null" >
        point_ids,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="customerMobile != null" >
        customer_mobile,
      </if>
      <if test="exchangePoint != null" >
        exchange_point,
      </if>
      <if test="givingPoint != null" >
        giving_point,
      </if>
      <if test="givingType != null" >
        giving_type,
      </if>
      <if test="auditReason != null" >
        audit_reason,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="imgUrls != null" >
        img_urls,
      </if>
      <if test="posCode != null" >
        pos_code,
      </if>
      <if test="tradeTime != null" >
        trade_time,
      </if>
      <if test="cardNo != null" >
        card_no,
      </if>
      <if test="bankOutletsName != null" >
        bank_outlets_name,
      </if>
      <if test="submitterId != null" >
        submitter_id,
      </if>
      <if test="submitterName != null" >
        submitter_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
      <if test="auditorId != null" >
        auditor_id,
      </if>
      <if test="auditorName != null" >
        auditor_name,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="extInfo != null" >
        ext_info,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="modTime != null" >
        mod_time,
      </if>
      <if test="chargeReceiptStatus != null" >
        charge_receipt_status,
      </if>
      <if test="pointCodes != null" >
        point_codes,
      </if>
      <if test="productValue != null" >
        product_value,
      </if>
      <if test="exchangeType != null" >
        exchange_type,
      </if>
      <if test="submitTime != null" >
        submit_time,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pointIds != null" >
        #{pointIds,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerMobile != null" >
        #{customerMobile,jdbcType=VARCHAR},
      </if>
      <if test="exchangePoint != null" >
        #{exchangePoint,jdbcType=DECIMAL},
      </if>
      <if test="givingPoint != null" >
        #{givingPoint,jdbcType=DECIMAL},
      </if>
      <if test="givingType != null" >
        #{givingType,jdbcType=VARCHAR},
      </if>
      <if test="auditReason != null" >
        #{auditReason,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="imgUrls != null" >
        #{imgUrls,jdbcType=VARCHAR},
      </if>
      <if test="posCode != null" >
        #{posCode,jdbcType=VARCHAR},
      </if>
      <if test="tradeTime != null" >
        #{tradeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="bankOutletsName != null" >
        #{bankOutletsName,jdbcType=VARCHAR},
      </if>
      <if test="submitterId != null" >
        #{submitterId,jdbcType=INTEGER},
      </if>
      <if test="submitterName != null" >
        #{submitterName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditorId != null" >
        #{auditorId,jdbcType=INTEGER},
      </if>
      <if test="auditorName != null" >
        #{auditorName,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="extInfo != null" >
        #{extInfo,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modTime != null" >
        #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="chargeReceiptStatus != null" >
        #{chargeReceiptStatus,jdbcType=TINYINT},
      </if>
      <if test="pointCodes != null" >
        #{pointCodes,jdbcType=VARCHAR},
      </if>
      <if test="productValue != null" >
        #{productValue,jdbcType=DECIMAL},
      </if>
      <if test="exchangeType != null" >
        #{exchangeType,jdbcType=TINYINT},
      </if>
      <if test="submitTime != null" >
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jiazhe.youxiang.server.domain.po.AuditRecordPOExample" resultType="java.lang.Integer" >
    select count(*) from audit_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update audit_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pointIds != null" >
        point_ids = #{record.pointIds,jdbcType=VARCHAR},
      </if>
      <if test="record.customerName != null" >
        customer_name = #{record.customerName,jdbcType=VARCHAR},
      </if>
      <if test="record.customerMobile != null" >
        customer_mobile = #{record.customerMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.exchangePoint != null" >
        exchange_point = #{record.exchangePoint,jdbcType=DECIMAL},
      </if>
      <if test="record.givingPoint != null" >
        giving_point = #{record.givingPoint,jdbcType=DECIMAL},
      </if>
      <if test="record.givingType != null" >
        giving_type = #{record.givingType,jdbcType=VARCHAR},
      </if>
      <if test="record.auditReason != null" >
        audit_reason = #{record.auditReason,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrls != null" >
        img_urls = #{record.imgUrls,jdbcType=VARCHAR},
      </if>
      <if test="record.posCode != null" >
        pos_code = #{record.posCode,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeTime != null" >
        trade_time = #{record.tradeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cardNo != null" >
        card_no = #{record.cardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.bankOutletsName != null" >
        bank_outlets_name = #{record.bankOutletsName,jdbcType=VARCHAR},
      </if>
      <if test="record.submitterId != null" >
        submitter_id = #{record.submitterId,jdbcType=INTEGER},
      </if>
      <if test="record.submitterName != null" >
        submitter_name = #{record.submitterName,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.auditTime != null" >
        audit_time = #{record.auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditorId != null" >
        auditor_id = #{record.auditorId,jdbcType=INTEGER},
      </if>
      <if test="record.auditorName != null" >
        auditor_name = #{record.auditorName,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.extInfo != null" >
        ext_info = #{record.extInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modTime != null" >
        mod_time = #{record.modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.chargeReceiptStatus != null" >
        charge_receipt_status = #{record.chargeReceiptStatus,jdbcType=TINYINT},
      </if>
      <if test="record.pointCodes != null" >
        point_codes = #{record.pointCodes,jdbcType=VARCHAR},
      </if>
      <if test="record.productValue != null" >
        product_value = #{record.productValue,jdbcType=DECIMAL},
      </if>
      <if test="record.exchangeType != null" >
        exchange_type = #{record.exchangeType,jdbcType=TINYINT},
      </if>
      <if test="record.submitTime != null" >
        submit_time = #{record.submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cityCode != null" >
        city_code = #{record.cityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cityName != null" >
        city_name = #{record.cityName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update audit_record
    set id = #{record.id,jdbcType=INTEGER},
      point_ids = #{record.pointIds,jdbcType=VARCHAR},
      customer_name = #{record.customerName,jdbcType=VARCHAR},
      customer_mobile = #{record.customerMobile,jdbcType=VARCHAR},
      exchange_point = #{record.exchangePoint,jdbcType=DECIMAL},
      giving_point = #{record.givingPoint,jdbcType=DECIMAL},
      giving_type = #{record.givingType,jdbcType=VARCHAR},
      audit_reason = #{record.auditReason,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      img_urls = #{record.imgUrls,jdbcType=VARCHAR},
      pos_code = #{record.posCode,jdbcType=VARCHAR},
      trade_time = #{record.tradeTime,jdbcType=TIMESTAMP},
      card_no = #{record.cardNo,jdbcType=VARCHAR},
      bank_outlets_name = #{record.bankOutletsName,jdbcType=VARCHAR},
      submitter_id = #{record.submitterId,jdbcType=INTEGER},
      submitter_name = #{record.submitterName,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      audit_time = #{record.auditTime,jdbcType=TIMESTAMP},
      auditor_id = #{record.auditorId,jdbcType=INTEGER},
      auditor_name = #{record.auditorName,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=INTEGER},
      ext_info = #{record.extInfo,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      mod_time = #{record.modTime,jdbcType=TIMESTAMP},
      charge_receipt_status = #{record.chargeReceiptStatus,jdbcType=TINYINT},
      point_codes = #{record.pointCodes,jdbcType=VARCHAR},
      product_value = #{record.productValue,jdbcType=DECIMAL},
      exchange_type = #{record.exchangeType,jdbcType=TINYINT},
      submit_time = #{record.submitTime,jdbcType=TIMESTAMP},
      city_code = #{record.cityCode,jdbcType=VARCHAR},
      city_name = #{record.cityName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiazhe.youxiang.server.domain.po.AuditRecordPO" >
    update audit_record
    <set >
      <if test="pointIds != null" >
        point_ids = #{pointIds,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerMobile != null" >
        customer_mobile = #{customerMobile,jdbcType=VARCHAR},
      </if>
      <if test="exchangePoint != null" >
        exchange_point = #{exchangePoint,jdbcType=DECIMAL},
      </if>
      <if test="givingPoint != null" >
        giving_point = #{givingPoint,jdbcType=DECIMAL},
      </if>
      <if test="givingType != null" >
        giving_type = #{givingType,jdbcType=VARCHAR},
      </if>
      <if test="auditReason != null" >
        audit_reason = #{auditReason,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="imgUrls != null" >
        img_urls = #{imgUrls,jdbcType=VARCHAR},
      </if>
      <if test="posCode != null" >
        pos_code = #{posCode,jdbcType=VARCHAR},
      </if>
      <if test="tradeTime != null" >
        trade_time = #{tradeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cardNo != null" >
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="bankOutletsName != null" >
        bank_outlets_name = #{bankOutletsName,jdbcType=VARCHAR},
      </if>
      <if test="submitterId != null" >
        submitter_id = #{submitterId,jdbcType=INTEGER},
      </if>
      <if test="submitterName != null" >
        submitter_name = #{submitterName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="auditTime != null" >
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditorId != null" >
        auditor_id = #{auditorId,jdbcType=INTEGER},
      </if>
      <if test="auditorName != null" >
        auditor_name = #{auditorName,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="extInfo != null" >
        ext_info = #{extInfo,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modTime != null" >
        mod_time = #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="chargeReceiptStatus != null" >
        charge_receipt_status = #{chargeReceiptStatus,jdbcType=TINYINT},
      </if>
      <if test="pointCodes != null" >
        point_codes = #{pointCodes,jdbcType=VARCHAR},
      </if>
      <if test="productValue != null" >
        product_value = #{productValue,jdbcType=DECIMAL},
      </if>
      <if test="exchangeType != null" >
        exchange_type = #{exchangeType,jdbcType=TINYINT},
      </if>
      <if test="submitTime != null" >
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiazhe.youxiang.server.domain.po.AuditRecordPO" >
    update audit_record
    set point_ids = #{pointIds,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      customer_mobile = #{customerMobile,jdbcType=VARCHAR},
      exchange_point = #{exchangePoint,jdbcType=DECIMAL},
      giving_point = #{givingPoint,jdbcType=DECIMAL},
      giving_type = #{givingType,jdbcType=VARCHAR},
      audit_reason = #{auditReason,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      img_urls = #{imgUrls,jdbcType=VARCHAR},
      pos_code = #{posCode,jdbcType=VARCHAR},
      trade_time = #{tradeTime,jdbcType=TIMESTAMP},
      card_no = #{cardNo,jdbcType=VARCHAR},
      bank_outlets_name = #{bankOutletsName,jdbcType=VARCHAR},
      submitter_id = #{submitterId,jdbcType=INTEGER},
      submitter_name = #{submitterName,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      auditor_id = #{auditorId,jdbcType=INTEGER},
      auditor_name = #{auditorName,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      ext_info = #{extInfo,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      mod_time = #{modTime,jdbcType=TIMESTAMP},
      charge_receipt_status = #{chargeReceiptStatus,jdbcType=TINYINT},
      point_codes = #{pointCodes,jdbcType=VARCHAR},
      product_value = #{productValue,jdbcType=DECIMAL},
      exchange_type = #{exchangeType,jdbcType=TINYINT},
      submit_time = #{submitTime,jdbcType=TIMESTAMP},
      city_code = #{cityCode,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>