<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiazhe.youxiang.server.dao.mapper.ChargeOffPOMapper" >
  <resultMap id="BaseResultMap" type="com.jiazhe.youxiang.server.domain.po.ChargeOffPO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="bank_outlets_name" property="bankOutletsName" jdbcType="VARCHAR" />
    <result column="charge_off_type" property="chargeOffType" jdbcType="TINYINT" />
    <result column="charge_off_point" property="chargeOffPoint" jdbcType="VARCHAR" />
    <result column="total_point" property="totalPoint" jdbcType="INTEGER" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="customer_mobile" property="customerMobile" jdbcType="VARCHAR" />
    <result column="product_value" property="productValue" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="submitter_id" property="submitterId" jdbcType="INTEGER" />
    <result column="submitter_name" property="submitterName" jdbcType="VARCHAR" />
    <result column="submitter_time" property="submitterTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="ext_info" property="extInfo" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, city_code, city_name, bank_outlets_name, charge_off_type, charge_off_point, total_point, 
    customer_name, customer_mobile, product_value, status, submitter_id, submitter_name, 
    submitter_time, remark, ext_info, is_deleted, add_time, mod_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jiazhe.youxiang.server.domain.po.ChargeOffPOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from charge_off
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from charge_off
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from charge_off
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jiazhe.youxiang.server.domain.po.ChargeOffPOExample" >
    delete from charge_off
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jiazhe.youxiang.server.domain.po.ChargeOffPO" >
    insert into charge_off (id, city_code, city_name, 
      bank_outlets_name, charge_off_type, charge_off_point, 
      total_point, customer_name, customer_mobile, 
      product_value, status, submitter_id, 
      submitter_name, submitter_time, remark, 
      ext_info, is_deleted, add_time, 
      mod_time)
    values (#{id,jdbcType=INTEGER}, #{cityCode,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, 
      #{bankOutletsName,jdbcType=VARCHAR}, #{chargeOffType,jdbcType=TINYINT}, #{chargeOffPoint,jdbcType=VARCHAR}, 
      #{totalPoint,jdbcType=INTEGER}, #{customerName,jdbcType=VARCHAR}, #{customerMobile,jdbcType=VARCHAR}, 
      #{productValue,jdbcType=DECIMAL}, #{status,jdbcType=TINYINT}, #{submitterId,jdbcType=INTEGER}, 
      #{submitterName,jdbcType=VARCHAR}, #{submitterTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{extInfo,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT}, #{addTime,jdbcType=TIMESTAMP}, 
      #{modTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jiazhe.youxiang.server.domain.po.ChargeOffPO" >
    insert into charge_off
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="bankOutletsName != null" >
        bank_outlets_name,
      </if>
      <if test="chargeOffType != null" >
        charge_off_type,
      </if>
      <if test="chargeOffPoint != null" >
        charge_off_point,
      </if>
      <if test="totalPoint != null" >
        total_point,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="customerMobile != null" >
        customer_mobile,
      </if>
      <if test="productValue != null" >
        product_value,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="submitterId != null" >
        submitter_id,
      </if>
      <if test="submitterName != null" >
        submitter_name,
      </if>
      <if test="submitterTime != null" >
        submitter_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="extInfo != null" >
        ext_info,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="modTime != null" >
        mod_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="bankOutletsName != null" >
        #{bankOutletsName,jdbcType=VARCHAR},
      </if>
      <if test="chargeOffType != null" >
        #{chargeOffType,jdbcType=TINYINT},
      </if>
      <if test="chargeOffPoint != null" >
        #{chargeOffPoint,jdbcType=VARCHAR},
      </if>
      <if test="totalPoint != null" >
        #{totalPoint,jdbcType=INTEGER},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerMobile != null" >
        #{customerMobile,jdbcType=VARCHAR},
      </if>
      <if test="productValue != null" >
        #{productValue,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="submitterId != null" >
        #{submitterId,jdbcType=INTEGER},
      </if>
      <if test="submitterName != null" >
        #{submitterName,jdbcType=VARCHAR},
      </if>
      <if test="submitterTime != null" >
        #{submitterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="extInfo != null" >
        #{extInfo,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modTime != null" >
        #{modTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jiazhe.youxiang.server.domain.po.ChargeOffPOExample" resultType="java.lang.Integer" >
    select count(*) from charge_off
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update charge_off
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cityCode != null" >
        city_code = #{record.cityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cityName != null" >
        city_name = #{record.cityName,jdbcType=VARCHAR},
      </if>
      <if test="record.bankOutletsName != null" >
        bank_outlets_name = #{record.bankOutletsName,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeOffType != null" >
        charge_off_type = #{record.chargeOffType,jdbcType=TINYINT},
      </if>
      <if test="record.chargeOffPoint != null" >
        charge_off_point = #{record.chargeOffPoint,jdbcType=VARCHAR},
      </if>
      <if test="record.totalPoint != null" >
        total_point = #{record.totalPoint,jdbcType=INTEGER},
      </if>
      <if test="record.customerName != null" >
        customer_name = #{record.customerName,jdbcType=VARCHAR},
      </if>
      <if test="record.customerMobile != null" >
        customer_mobile = #{record.customerMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.productValue != null" >
        product_value = #{record.productValue,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.submitterId != null" >
        submitter_id = #{record.submitterId,jdbcType=INTEGER},
      </if>
      <if test="record.submitterName != null" >
        submitter_name = #{record.submitterName,jdbcType=VARCHAR},
      </if>
      <if test="record.submitterTime != null" >
        submitter_time = #{record.submitterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.extInfo != null" >
        ext_info = #{record.extInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modTime != null" >
        mod_time = #{record.modTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update charge_off
    set id = #{record.id,jdbcType=INTEGER},
      city_code = #{record.cityCode,jdbcType=VARCHAR},
      city_name = #{record.cityName,jdbcType=VARCHAR},
      bank_outlets_name = #{record.bankOutletsName,jdbcType=VARCHAR},
      charge_off_type = #{record.chargeOffType,jdbcType=TINYINT},
      charge_off_point = #{record.chargeOffPoint,jdbcType=VARCHAR},
      total_point = #{record.totalPoint,jdbcType=INTEGER},
      customer_name = #{record.customerName,jdbcType=VARCHAR},
      customer_mobile = #{record.customerMobile,jdbcType=VARCHAR},
      product_value = #{record.productValue,jdbcType=DECIMAL},
      status = #{record.status,jdbcType=TINYINT},
      submitter_id = #{record.submitterId,jdbcType=INTEGER},
      submitter_name = #{record.submitterName,jdbcType=VARCHAR},
      submitter_time = #{record.submitterTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      ext_info = #{record.extInfo,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      mod_time = #{record.modTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiazhe.youxiang.server.domain.po.ChargeOffPO" >
    update charge_off
    <set >
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="bankOutletsName != null" >
        bank_outlets_name = #{bankOutletsName,jdbcType=VARCHAR},
      </if>
      <if test="chargeOffType != null" >
        charge_off_type = #{chargeOffType,jdbcType=TINYINT},
      </if>
      <if test="chargeOffPoint != null" >
        charge_off_point = #{chargeOffPoint,jdbcType=VARCHAR},
      </if>
      <if test="totalPoint != null" >
        total_point = #{totalPoint,jdbcType=INTEGER},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerMobile != null" >
        customer_mobile = #{customerMobile,jdbcType=VARCHAR},
      </if>
      <if test="productValue != null" >
        product_value = #{productValue,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="submitterId != null" >
        submitter_id = #{submitterId,jdbcType=INTEGER},
      </if>
      <if test="submitterName != null" >
        submitter_name = #{submitterName,jdbcType=VARCHAR},
      </if>
      <if test="submitterTime != null" >
        submitter_time = #{submitterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="extInfo != null" >
        ext_info = #{extInfo,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modTime != null" >
        mod_time = #{modTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiazhe.youxiang.server.domain.po.ChargeOffPO" >
    update charge_off
    set city_code = #{cityCode,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      bank_outlets_name = #{bankOutletsName,jdbcType=VARCHAR},
      charge_off_type = #{chargeOffType,jdbcType=TINYINT},
      charge_off_point = #{chargeOffPoint,jdbcType=VARCHAR},
      total_point = #{totalPoint,jdbcType=INTEGER},
      customer_name = #{customerName,jdbcType=VARCHAR},
      customer_mobile = #{customerMobile,jdbcType=VARCHAR},
      product_value = #{productValue,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      submitter_id = #{submitterId,jdbcType=INTEGER},
      submitter_name = #{submitterName,jdbcType=VARCHAR},
      submitter_time = #{submitterTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      ext_info = #{extInfo,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      mod_time = #{modTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>