<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiazhe.youxiang.server.dao.mapper.MessageTemplatePOMapper" >
  <resultMap id="BaseResultMap" type="com.jiazhe.youxiang.server.domain.po.MessageTemplatePO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="param_count" property="paramCount" jdbcType="INTEGER" />
    <result column="ali_template_code" property="aliTemplateCode" jdbcType="VARCHAR" />
    <result column="ali_template_content" property="aliTemplateContent" jdbcType="VARCHAR" />
    <result column="tencent_template_id" property="tencentTemplateId" jdbcType="INTEGER" />
    <result column="tencent_template_content" property="tencentTemplateContent" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="excel_template" property="excelTemplate" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="ext_info" property="extInfo" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, param_count, ali_template_code, ali_template_content, tencent_template_id, 
    tencent_template_content, status, excel_template, remark, ext_info, is_deleted, add_time, 
    mod_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jiazhe.youxiang.server.domain.po.MessageTemplatePOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from message_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from message_template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jiazhe.youxiang.server.domain.po.MessageTemplatePOExample" >
    delete from message_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jiazhe.youxiang.server.domain.po.MessageTemplatePO" >
    insert into message_template (id, name, param_count, 
      ali_template_code, ali_template_content, tencent_template_id, 
      tencent_template_content, status, excel_template, 
      remark, ext_info, is_deleted, 
      add_time, mod_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{paramCount,jdbcType=INTEGER}, 
      #{aliTemplateCode,jdbcType=VARCHAR}, #{aliTemplateContent,jdbcType=VARCHAR}, #{tencentTemplateId,jdbcType=INTEGER}, 
      #{tencentTemplateContent,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{excelTemplate,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{extInfo,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT}, 
      #{addTime,jdbcType=TIMESTAMP}, #{modTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jiazhe.youxiang.server.domain.po.MessageTemplatePO" >
    insert into message_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="paramCount != null" >
        param_count,
      </if>
      <if test="aliTemplateCode != null" >
        ali_template_code,
      </if>
      <if test="aliTemplateContent != null" >
        ali_template_content,
      </if>
      <if test="tencentTemplateId != null" >
        tencent_template_id,
      </if>
      <if test="tencentTemplateContent != null" >
        tencent_template_content,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="excelTemplate != null" >
        excel_template,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="extInfo != null" >
        ext_info,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="modTime != null" >
        mod_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="paramCount != null" >
        #{paramCount,jdbcType=INTEGER},
      </if>
      <if test="aliTemplateCode != null" >
        #{aliTemplateCode,jdbcType=VARCHAR},
      </if>
      <if test="aliTemplateContent != null" >
        #{aliTemplateContent,jdbcType=VARCHAR},
      </if>
      <if test="tencentTemplateId != null" >
        #{tencentTemplateId,jdbcType=INTEGER},
      </if>
      <if test="tencentTemplateContent != null" >
        #{tencentTemplateContent,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="excelTemplate != null" >
        #{excelTemplate,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="extInfo != null" >
        #{extInfo,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modTime != null" >
        #{modTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jiazhe.youxiang.server.domain.po.MessageTemplatePOExample" resultType="java.lang.Integer" >
    select count(*) from message_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update message_template
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.paramCount != null" >
        param_count = #{record.paramCount,jdbcType=INTEGER},
      </if>
      <if test="record.aliTemplateCode != null" >
        ali_template_code = #{record.aliTemplateCode,jdbcType=VARCHAR},
      </if>
      <if test="record.aliTemplateContent != null" >
        ali_template_content = #{record.aliTemplateContent,jdbcType=VARCHAR},
      </if>
      <if test="record.tencentTemplateId != null" >
        tencent_template_id = #{record.tencentTemplateId,jdbcType=INTEGER},
      </if>
      <if test="record.tencentTemplateContent != null" >
        tencent_template_content = #{record.tencentTemplateContent,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.excelTemplate != null" >
        excel_template = #{record.excelTemplate,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.extInfo != null" >
        ext_info = #{record.extInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modTime != null" >
        mod_time = #{record.modTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update message_template
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      param_count = #{record.paramCount,jdbcType=INTEGER},
      ali_template_code = #{record.aliTemplateCode,jdbcType=VARCHAR},
      ali_template_content = #{record.aliTemplateContent,jdbcType=VARCHAR},
      tencent_template_id = #{record.tencentTemplateId,jdbcType=INTEGER},
      tencent_template_content = #{record.tencentTemplateContent,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      excel_template = #{record.excelTemplate,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      ext_info = #{record.extInfo,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      mod_time = #{record.modTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiazhe.youxiang.server.domain.po.MessageTemplatePO" >
    update message_template
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="paramCount != null" >
        param_count = #{paramCount,jdbcType=INTEGER},
      </if>
      <if test="aliTemplateCode != null" >
        ali_template_code = #{aliTemplateCode,jdbcType=VARCHAR},
      </if>
      <if test="aliTemplateContent != null" >
        ali_template_content = #{aliTemplateContent,jdbcType=VARCHAR},
      </if>
      <if test="tencentTemplateId != null" >
        tencent_template_id = #{tencentTemplateId,jdbcType=INTEGER},
      </if>
      <if test="tencentTemplateContent != null" >
        tencent_template_content = #{tencentTemplateContent,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="excelTemplate != null" >
        excel_template = #{excelTemplate,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="extInfo != null" >
        ext_info = #{extInfo,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modTime != null" >
        mod_time = #{modTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiazhe.youxiang.server.domain.po.MessageTemplatePO" >
    update message_template
    set name = #{name,jdbcType=VARCHAR},
      param_count = #{paramCount,jdbcType=INTEGER},
      ali_template_code = #{aliTemplateCode,jdbcType=VARCHAR},
      ali_template_content = #{aliTemplateContent,jdbcType=VARCHAR},
      tencent_template_id = #{tencentTemplateId,jdbcType=INTEGER},
      tencent_template_content = #{tencentTemplateContent,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      excel_template = #{excelTemplate,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      ext_info = #{extInfo,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      mod_time = #{modTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>