<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiazhe.youxiang.server.dao.mapper.SysRolePOManualMapper" >
  <select parameterType="Map" id="getPageContent" resultType="java.util.LinkedHashMap">
    select id , name ,
      (case is_super
          when 1 then '是'
          when 0 then '否'
          end ) isSuper ,
      priority from sys_role where is_deleted = 0
     <if test="name!=null and name!=''">
         and name=#{name}
     </if>
    order by priority asc limit ${offset},${limit}
  </select>

  <select id="count" parameterType="Map" resultType="Integer" >
    select count(*) from sys_role where is_deleted = 0
      <if test="name!=null and name!=''">
          and name=#{name}
      </if>
  </select>
</mapper>