<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiazhe.youxiang.server.dao.mapper.manual.message.MessagePOManualMapper">
    <resultMap id="BaseResultMap" type="com.jiazhe.youxiang.server.domain.po.MessagePO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="topic" property="topic" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="count" property="count" jdbcType="TINYINT"/>
        <result column="service_provider" property="serviceProvider" jdbcType="TINYINT"/>
        <result column="send_time" property="sendTime" jdbcType="TIMESTAMP"/>
        <result column="message_template_id" property="messageTemplateId" jdbcType="INTEGER" />
        <result column="operator_id" property="operatorId" jdbcType="INTEGER"/>
        <result column="operator_name" property="operatorName" jdbcType="VARCHAR"/>
        <result column="ext_info" property="extInfo" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
        <result column="mod_time" property="modTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, mobile, content, type, topic, status, count, service_provider, send_time, message_template_id, operator_id,
    operator_name, ext_info, is_deleted, add_time, mod_time
    </sql>

    <select id="query" resultType="com.jiazhe.youxiang.server.domain.po.MessagePO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM message
        <where>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="mobile != null and mobile != ''">
                AND mobile = #{mobile}
            </if>
            <if test="topic != null and topic != ''">
                AND topic like CONCAT('%',#{topic},'%')
            </if>
            <if test="sendStartTime != null">
                AND send_time &gt; #{sendStartTime}
            </if>
            <if test="sendEndTime != null">
                AND send_time &lt; #{sendEndTime}
            </if>
            AND is_deleted = 0 ORDER BY mod_time DESC
        </where>
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from message
        <where>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="mobile != null and mobile != ''">
                AND mobile = #{mobile}
            </if>
            <if test="topic != null and topic != ''">
                AND topic like CONCAT('%',#{topic},'%')
            </if>
            <if test="sendStartTime != null">
                AND send_time &gt; #{sendStartTime}
            </if>
            <if test="sendEndTime != null">
                AND send_time &lt; #{sendEndTime}
            </if>
            AND is_deleted = 0
        </where>
    </select>

    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT into message
        (mobile, content, type, topic, status, service_provider, message_template_id, operator_id,
        operator_name)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.mobile},#{item.content},#{item.type},#{item.topic},#{item.status},#{item.serviceProvider},#{item.messageTemplateId},#{item.operatorId},
            #{item.operatorName})
        </foreach>
    </insert>

</mapper>