<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/init.css}"/>

    <!-- Javascript -->
    <script th:src="@{/static/init.js}"></script>


    <style>
        .form-group {
            margin-bottom: 0px;
        }
    </style>
</head>

<body class="no-skin">

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/main/main_center}">主页</a>
                    </li>
                    <li class="active">短信管理</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12" style="padding-top:40px">
                        <!--<shiro:hasPermission name="messageSearch">-->
                        <form id="searchForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right">状态：</label>
                                <div class="col-sm-2">
                                    <select id="searchStatus" name="status"
                                            class="selectpicker show-tick form-control">
                                        <option value="">所有</option>
                                        <option value="1">发送成功</option>
                                        <option value="0">发送失败</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label no-padding-right">状态：</label>
                                <div class="col-sm-2">
                                    <select id="searchType" name="type"
                                            class="selectpicker show-tick form-control">
                                        <option value="">所有</option>
                                        <option value="2">验证码类</option>
                                        <option value="3">业务类</option>
                                        <option value="4">营销类</option>
                                        <option value="1">其他</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label no-padding-right">手机号码：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <input id="searchMobile" name="mobile" class="form-control" type="text"
                                               style="height:30px"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label no-padding-right">主题：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <input id="searchTopic" name="topic" class="form-control" type="text"
                                               style="height:30px"/>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right">发送时间起：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <div class="input-group">
                                            <input class="form-control date-picker" id="searchSendStartTime"
                                                   type="text" readonly/>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                            <input type="hidden" value=0 name="sendStartTime"/>
                                        </div>
                                    </div>
                                </div>

                                <label class="col-sm-1 control-label no-padding-right">发送时间止：</label>
                                <div class="col-sm-2">
                                    <div class="pos-rel">
                                        <div class="input-group">
                                            <input class="form-control date-picker" id="searchSendEndTime"
                                                   type="text" readonly/>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                            <input type="hidden" value=0 name="sendEndTime"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-white btn-default btn-round btn-sm"
                                            onclick="return search()">
                                        <i class="ace-icon fa fa-search red2"></i>
                                        查询
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!--</shiro:hasPermission>-->
                    </div><!-- /.col -->
                    <div class="col-xs-12" style="text-align: right" id="buttonDiv">
                        <p style="margin:1px;">
                            <!--<shiro:hasPermission name="projectAdd">-->
                            <a class="btn btn-success btn-round btn-sm" role="button" href="#modal-single"
                               data-toggle="modal" onclick="openSingle()">
                                <i class="ace-icon fa fa-plus"></i>单条发送
                            </a>
                            <!--</shiro:hasPermission>-->
                            <!--<shiro:hasPermission name="projectAdd">-->
                            <a class="btn btn-success btn-round btn-sm" role="button" href="#modal-batch"
                               data-toggle="modal" onclick="openBatch()">
                                <i class="ace-icon fa fa-plus"></i>批量发送
                            </a>
                            <!--</shiro:hasPermission>-->
                        </p>
                    </div><!-- /.col -->
                    <div class="col-xs-12">
                        <table id="grid-table"></table>

                        <div id="grid-pager"></div>
                    </div><!-- /.col -->
                    <div id="modal-single" class="modal fade" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="blue bigger">单条发送</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-10">
                                            <form id="projectSaveForm" class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">手机号码：</label>
                                                    <div class="col-sm-7">
                                                        <div class="pos-rel">
                                                            <input id="inputMobile" name="mobile"
                                                                   class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">短信类型：</label>
                                                    <div class="col-sm-7">
                                                        <div class="pos-rel">
                                                            <select id="inputType" name="type"
                                                                    class="selectpicker show-tick form-control">
                                                                <option value="2">验证码类</option>
                                                                <option value="3">业务类</option>
                                                                <option value="4">营销类</option>
                                                                <option value="1">其他</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">短信主题：</label>
                                                    <div class="col-sm-7">
                                                        <div class="pos-rel">
                                                            <input id="inputTopic"
                                                                   name="topic"
                                                                   class="form-control"
                                                                   type="text" style="height:30px"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="space-2"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right">短信内容：</label>
                                                    <div class="col-sm-7">
                                                        <div class="pos-rel">
                                                            <textarea id="inputContent" name="content"
                                                                      class="form-control" onkeyup="countWords(this);"
                                                                      style="resize:none;height: 100px"></textarea>
                                                        </div>
                                                    </div>
                                                    <div id="wordsCountDiv" class="col-sm-1" style="padding-top: 80px;">
                                                        0(0)
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-sm modal-footer-btn" data-dismiss="modal">
                                        <i class="ace-icon fa fa-times"></i>
                                        取消
                                    </button>

                                    <button class="btn btn-sm btn-primary modal-footer-btn" onclick="addOrUpdate()">
                                        <i class="ace-icon fa fa-check"></i>
                                        保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

</div><!-- /.main-container -->
</div>
</body>
<script type="text/javascript">
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";

    $(function () {
        //重新修改表格宽度
        $(window).resize(function () {
            $("#grid-table").setGridWidth($(window).width() * 0.96);
        });

        initDatePicker();

        var tableOption = {
            url: "/api/message/getlist",// 获取数据的地址
            postData: transformToJson($('#searchForm').serializeArray()),
            colNames: ['', '手机号码', '发送时间', '类型', '操作人', '发送结果', '操作'],
            colModel: [
                {name: 'id', index: 'id', sortable: false, hidden: true},
                {name: 'mobile', index: 'mobile', width: 50, sortable: false},
                {name: 'sendTime', index: 'sendTime', sortable: false},
                {name: 'type', width: 30, index: 'type', sortable: false},
                {name: 'operateName', index: 'operateName', width: 50, sortable: false},
                {name: 'status', index: 'status', width: 20, sortable: false},
                {name: '_action', index: '_action', width: 100, sortable: false, formatter: customFormatter}
            ],
            caption: "短信列表"
        }

        initTable(grid_selector, pager_selector, tableOption);
    });

    $(window).triggerHandler('resize.jqGrid');//trigger window resize to make the grid get the correct size

    function search() {
        jQuery(grid_selector).setGridParam({
            url: "/api/message/getlist",// 获取数据的地址
            postData: transformToJson($('#searchForm').serializeArray()),
        }).trigger("reloadGrid", [{page: 1}]);
        return false;
    }

    function statusFormatter(cellvalue, options, cell) {
        switch (cell.status) {
            case 0:
            default:
                return "未启动";
            case 1:
                return "进行中";
            case 2:
                return "已结束";
        }
    }

    function customFormatter(cellvalue, options, rowObject) {
        var str = "";
        if (permission.indexOf("projectEdit") != -1) {
            str += getFunctionButton("btn-info", "openEdit(" + rowObject.id + ")", "修改");
        }
        if (permission.indexOf("projectDelete") != -1) {
            str += getFunctionButton("btn-danger", "deleteOne(" + rowObject.id + ")", "删除");
        }
        if (permission.indexOf("projectStatusChange") != -1) {
            if (rowObject.status == 0) {
                str += getFunctionButton("btn-success", "begin(" + rowObject.id + ")", "启动");
            }
            if (rowObject.status == 1) {
                str += getFunctionButton("btn-danger", "end(" + rowObject.id + ")", "停止");
            }
        }
        return str;
    }

    function openSingle() {
        $("#inputMobile").val("");
        $("#inputType option:first").prop("selected", 'selected');
        $("#inputTopic").val("");
        $("#inputContent").val("");
        document.getElementById('wordsCountDiv').innerText = "0(0)"
    }

    /**
     * 短信内容计数
     * @param input
     */
    function countWords(input) {
        var content = document.getElementById('wordsCountDiv');
        if (content && input) {
            var value = input.value;
            value = value.replace(/\n|\r/gi, "");
            content.innerText = value.length + "(" + Math.ceil(value.length / 70) + ")";
        }
    }

</script>
</html>

